[2018-03-17 10:06] JonnyTech commented on #766
Thank you very much.

[2018-03-17 22:35] morituro opened #767 "change wifi connection settings"
hi,
how can i change the wifi settings? after installation i moved my pi to a different place with different wifi... is there a way to set up multiple wifi connections too? i changed the wpa_supplicant.conf file, but it doesnt work...
greetings!

[2018-03-17 22:39] vpetersson commented on #767
Please see #757.

[2018-03-17 22:39] #767 closed

[2018-03-20 09:37] antonmolodykh commented on #757
Guys, we fixed it. Now if there is no connection, the OSE will prompt you to select a wifi network.
If you don't need it (for example you want to run OSE in offline mode), then you can enable offline mode (through a settings in the web interface).
Please run an update (development version).

[2018-03-20 09:39] antonmolodykh commented on #767
Hi @morituro
Please run an update (development version). Now if there is no connection, the OSE will prompt you to select a wifi network. If you don't need it (for example you want to run OSE in offline mode), then you can enable offline mode (through a settings in the web interface).

[2018-03-21 10:22] rhodesmi opened #769 "To manage this screen ......."
Hi

My Screenly loads up and stays on the 'to manage the content on this screen vist http://......'

It does work fine once in a while.

Its a brand new 8Gb SD HC card (MAPLIN)

I think this is the issue and it might not be quick enough for the application to load the MP4 it is supposed to play. Is there are a timeout in the app that could prevent it from loading the first Video?

[2018-03-21 10:33] antonmolodykh commented on #769
Hi @rhodesmi
No, the app doesn't have a timeout. Where is this video located? Are there any assets other than this video?

[2018-03-21 10:48] rhodesmi commented on #769
The MP4 is located in the default area (uploaded via the WEBUI) its a stand alone Raspberry PI with no network connectivity. It has been working fine for 3 or 4 years, we have started experiencing this issue since the last upgrade earlier this year. It was recommended (via this group) to purchase a new SD card.

[2018-03-21 10:58] antonmolodykh commented on #769
okay, can you do `sudo journalctl > foobar.txt` and attach foobar.txt once this happens?

[2018-03-21 11:28] rhodesmi commented on #769
here you go - thanks
[foobar.txt](https://github.com/Screenly/screenly-ose/files/1833014/foobar.txt)

[2018-03-21 11:37] Miq1 opened #770 "Screenly does not start presentation cycle"
I got Screenly OSE freshly installed from the latest image. I am able to add assets etc., but the presentation cycle will never start. I am stuck on either the splash screen or on the assets management screen, on whichever I left the system.
My current test assets are three JPG images 1080x1920 (I am using a portrait mode screeen, display_rotate=3).
What am I missing here?

[2018-03-21 11:44] antonmolodykh commented on #769
Okay, it seems we have already solved this problem. Please run an update (development version) and let me know if there are any problems.

[2018-03-21 11:47] rhodesmi commented on #769
great that sound promising i will connect it to the internet and run the update command.

[2018-03-21 12:34] antonmolodykh commented on #770
Hi, @Miq1
I think the problem is not related to your screen mode.
I'm not sure I understand you. Web interface is available, you can add assets, but your display shows `splash page` (to manage the content on this screen visit http://yout_ip), right?

[2018-03-21 13:05] Miq1 commented on #770
Exactly, that is correct. If I leave the splash page on after a reboot, it will stay. If I will click on the IP on the splash page to get to the asset management page, that will stay on.

[2018-03-21 15:28] rhodesmi commented on #769
interestingly (or not) as soon as i plugged in the network cable she sprung into life. You mentioned (development version) how do i upgrade/patch to that version?

[2018-03-21 17:44] vpetersson commented on #755
I spent some time thinking about this today. Here are my current thought.

* We create a file on disk called something like `~/.screenly/not-initialized`
* We introduce a new systemd service. The service will launch a bash script that checks if the above file exist. If it does, it will fire off a sequence of events:
  * Check if there is any internet connection available over Ethernet. If so, clea

[2018-03-21 18:23] curbarthedog opened #771 "Ok really silly question but..."
I keep seeing..."fixed it, Please run an update (development version)."

How do I do this? I can't find any simple instructions.

I need the update to get the WiFi working when moving to another hotspot / SSID

[2018-03-22 06:13] tentact commented on #757
mine app still says unable to resolve ip

[2018-03-22 08:00] Miq1 commented on #770
Can it be that Screenly is trying to contact a server at startup to look for updates etc.? And hangs there forever, since the Raspberry is not connected to any network in our case?

[2018-03-22 10:15] antonmolodykh commented on #770
just run `bash <(curl -sL https://www.screenly.io/install-ose.sh)`. You will be asked to select the development version

[2018-03-22 10:16] antonmolodykh commented on #771
just run bash <(curl -sL https://www.screenly.io/install-ose.sh). You will be asked to select the development version

[2018-03-22 10:16] antonmolodykh commented on #769
just run bash <(curl -sL https://www.screenly.io/install-ose.sh). You will be asked to select the development version

[2018-03-22 11:42] antonmolodykh commented on #757
@tentact  it's strange, now if there is no connection, then in any case resin-wifi-connect should start (if you didn't make `enable_offline_mode=True` in the settings). are you sure that the update went ok?

[2018-03-22 12:22] tentact commented on #757
Haven’t touched the WiFi settings I don’t even know how to access it is it through the prompt? Also how do you run the update? I was just going to reinstall Screenly but it looks like the newest version of Screenly on here says January

[2018-03-22 12:25] antonmolodykh commented on #757
just run `bash <(curl -sL https://www.screenly.io/install-ose.sh)` and select the development version

[2018-03-22 13:18] antonmolodykh commented on #770
it's difficult for me to say what the problem is without logs. can you do `sudo journalctl > foobar.txt` and attach foobar.txt?

[2018-03-22 13:49] Miq1 commented on #770
[foobar.txt](https://github.com/Screenly/screenly-ose/files/1837762/foobar.txt)
Here you go! :-)

[2018-03-22 14:49] antonmolodykh commented on #770
It seems that you took the logs too early. please run screenly, wait for splash screen and a couple more minutes

[2018-03-22 14:51] Miq1 commented on #770
Okay, will do, but only tomorrow. Thank you for now!

[2018-03-23 02:13] mrampersad commented on #755
This sounds like a reasonable solution. I have one note. The systemd service has a path which can delete the not-initialized file without launching resin-wifi-connect (in the event an internet connection is detected). This is fine for an out-of-the-box-experience, but not for a button called "reset wifi config". It might confuse the user to click a button with this name and for no wifi configurati

[2018-03-23 02:36] mrampersad opened #772 "Switch to Predictable First-Run Wifi Password"
During my troubleshooting for #755, I did not have a TV or wired ethernet adapter and it was impossible to configure a stock Screenly image on a Pi Zero W without these. As a workaround, I wrote the image, mounted it on my desktop, and modified the SSID generation script to always generate the same hardcoded password. Then I waited for a random Screenly network to appear and connected with the kno

[2018-03-23 11:27] vpetersson commented on #772
@mrampersad Interesting idea. Yeah configuring the device entirely without networking can be bit challenging. I think an easier workaround would be to simply configure the WiFi using `/etc/network/interfaces` and subsequently bypass the hotspot model entirely.

[2018-03-23 11:33] vpetersson commented on #772
@mrampersad Interesting idea. Yeah configuring the device entirely without networking can be bit challenging. I think an easier workaround would be to simply configure the WiFi using `/etc/network/interfaces` and subsequently bypass the hotspot model entirely.

[2018-03-23 11:36] vpetersson commented on #755
@mrampersad Yeah those are good pointers. We should definitely have a big warning sign for that.

[2018-03-23 11:38] Miq1 commented on #770
I made some progress now. I took the Raspi home to do apt-get upgrade etc. and connected it via eth0 to my home network. After the upgrade and reboot Screenly started up, giving me the local network IP on the splash screen and voilà: started presenting.

Then I set up the wlan0 interface to work as access point (based on [https://www.raspberrypi.org/documentation/configuration/wireless/access-poin

[2018-03-23 11:41] vpetersson commented on #770
See #755. We are working on improving that part.

[2018-03-23 11:49] Miq1 commented on #770
Hmmm... Is there a manual way to fix this for the time being? Like, executing some script on cron some seconds after boot or so?

I need to have the thing run next week, so I am desparately looking for solutions.

I would provide the assets on a USB stick, but still would need access to the management page.

[2018-03-23 11:54] vpetersson commented on #770
@Miq1 That's not really a supported use case. The device would need some kind of networking (even if it cannot talk out). The offline mode referenced before is mostly for temporary outages (or just in playback mode). You'd still configure the device using the network interface.

Frankly using USB stick for assets is not what the system is designed for. It would require a fair bit of rework. Code c

[2018-03-23 11:57] Miq1 commented on #770
Ough! =:-o

So I will not be able to run Screenly on an isolated system at all? Then I will have to look for alternative solutions, I am afraid.

[2018-03-23 12:06] vpetersson commented on #770
You can run it without internet connection on an isolated network, but you still need some kind of network connection in order to configure the system.

[2018-03-23 12:08] Miq1 commented on #770
And that network connection needs to be external, the Wifi spanned by the Raspi itself will not suffice?

[2018-03-23 12:10] vpetersson commented on #770
Yes, our logic assumes that it is an external connection. In theory, you might be able to configure the the Pi to act as a hotspot but I don't think it is a very well tested use case so it is likely that you will need to dive into the code base to patch it.

[2018-03-23 12:14] Miq1 commented on #770
What a pity! The Raspi setup as a hotspot is plain vanilla. I do not quite understand the difference it makes for Screenly between the Raspi working as a client in another network and the Raspi spanning a network itself. Screenly is merely a server over IP in this aspect, isn't it?

[2018-03-23 12:28] Miq1 commented on #770
Thank you for clarification. I am not into Python at all, so I will not be able to get a grip at it, I am afraid.

I will again start looking for an alternative solution. Screenly is really good work, by the way, if it was not my odd environment :-)

[2018-03-24 16:38] mrampersad commented on #772
I failed to mention that I run Windows primarily, and mounting the image to edit the files is not easy. I also avoided making changes to non-screenly files because I wasn't sure if /etc/network/interfaces was the correct file or maybe NetworkManager or wpa_supplicant would be the right place to edit. I also do not know if the Screenly database would overwrite unexpected system-level changes. Askin

[2018-03-26 07:18] tentact commented on #757
run it where from the raspberry pi?

i dont know if its me or not but this seems way more harder than it needs to be seems like it should simply be a setting in screenly to chose/config wifi.   like raspian

[2018-03-26 14:12] JonnyTech opened #773 "RasPi 3 B+"
Is the current image (2018-01-19-Screenly_OSE_4GB.zip) compatible with the new Raspberry Pi 3 B+? I have dd'ed the image onto a SD card but upon boot it just shows the rainbow splash screen.

![raspberry-pi-boot-rainbow](https://user-images.githubusercontent.com/3584732/37911475-12fd488e-3108-11e8-84f2-7de5463b9c8c.jpg)

[2018-03-26 14:58] zekikoese commented on #773
I have the same issue. Tried older releases too, none of them work tough.
Now I tried to install screenly manually and everything seemed to install fine but after the mandatory reboot screenly doesn't start and the terminal is shown.

[2018-03-26 15:15] McAleers opened #774 "Backup not working in Resin.io implementation"
Screenly OSE installed on Raspberry Pi 3B, using Resin.io for deployment. When I go to the settings screen and click on the "Get Backup" button, I receive the following error:

`Server Error: [Errno 2] No such file or directory: '/data/screenly/static/screenly-backup.tar.gz'`

I've replicated on multiple instances - I can't get a backup image from any of them.

Thanks for any help.

[2018-03-26 15:26] vpetersson commented on #774
Interesting find @McAleers. What resinos version are you using?

[2018-03-26 15:28] vpetersson commented on #773
This is expected. The Raspberry Pi 3 Model B+ requires a newer Raspbian version. We will provide a new build at the end of this sprint. In the meantime, if you want to run Screenly OSE on the B+, you would need to install it by hand on the latest Raspbian image.

[2018-03-26 15:30] vpetersson commented on #757
Yes.

Contributions are welcome to simplify the process, but we do have on our roadmap so simplify the upgrade process, but it’s blocked by a few other things right now.

[2018-03-26 15:38] JonnyTech commented on #773
Thanks for the reply @vpetersson, if I create a Raspbian Lite SD is there a list additions to install?

[2018-03-26 15:47] McAleers commented on #774
Hi, I'm using:

HOST OS VERSION
Resin OS 2.12.3+rev1 (prod)

SUPERVISOR VERSION
7.1.14

[2018-03-26 15:50] vpetersson commented on #773
@JonnyTech Yes, you can find the instructions [here](https://www.screenly.io/ose/) under Option 3.

[2018-03-26 15:52] JonnyTech commented on #773
How did I miss that?! Thanks @vpetersson. I shall report back if any issues.

[2018-03-26 16:50] JonnyTech commented on #773
All done. The only additional step required was `sudo apt install -y network-manager` after first boot.

[2018-03-26 16:50] #773 closed

[2018-03-26 16:55] JonnyTech opened #775 "Screen name with spaces"
If I set the screen name to something with spaces ie "test unit" then all is ok, the page title and management overview display the name correctly - but in the settings page it displays only the player name up to the space, ie "test" rather than "test unit".

[2018-03-26 17:22] JonnyTech opened #776 "Clock overlay"
Is it possible to show the current date/time over the currently playing asset?

[2018-03-26 19:17] tentact commented on #757
Okay how do you run the bash update

Sent from my iPhone

[2018-03-27 11:00] antonmolodykh commented on #757
@tentact  you need to run `bash <(curl -sL https://www.screenly.io/install-ose.sh)` on your Pi.

You can connect to a Pi using SSH (SSH is disabled by default on Raspbian, you can find instruction on how to enable it [here](https://www.raspberrypi.org/documentation/remote-access/ssh/)).
Or you can connect the keyboard to the device, go to the terminal (press ctrl+alt+F1) and enter the command ther

[2018-03-27 16:41] vpetersson commented on #776
No, this isn't something we support.

[2018-03-27 16:47] #775 closed

[2018-03-27 17:08] JonnyTech commented on #776
OK - thanks for considering it as a feature request.

[2018-03-27 17:10] vpetersson commented on #776
Technically speaking, it isn't possible to implement in the current viewer unfortunately.

[2018-03-27 17:17] JonnyTech commented on #776
Understood - I have a (unreliable) workaround at present.

[2018-03-27 18:08] JonnyTech opened #778 "Adding multiple asset files"
I want to add a lot of image files via the web interface
Click "+Add Asset" then select the "Upload" tab

The "Add Files..." button only allows adding a single file

Dragging multiple files from a file manager to:
Firefox - does not work
Chromium - works as expected

[2018-03-27 18:20] JonnyTech opened #779 "Using asset multiple times"
I have a lot of images that I want to show, interspaced with a logo:

logo
image1
image2
image3
logo
image4
image5
image6
logo
image7
image8
image9

Currently, I am uploading the logo file multiple times to use it in the playlist

Is it possible to have an asset both as active and in the inactive "pool" so that I can be added multiple times?

[2018-03-27 20:06] Andrew-619 opened #780 "Google Data Studio Dashboard Not loading completely"
I am trying to display a Google data studio dashboard with 5 charts/graphs. Only 3 of the 5 graphs load and the rest doesn't. However, when i look at this web page from my computer it shows all the graphs perfectly.

I tried making multiple dashboards and this happens in all the cases.

Does the browser have some sort of limitation ? What could i do to fix this

[2018-03-27 20:43] mikebenner commented on #757
Confirmed and tested with the development branch, this is a good fix for my issue. One tiny item though, the error message currently says "No network connection were found". I think this should be changed to "No network connection was found".

[2018-03-27 22:45] jarrettrus26 opened #781 "Support Pi 3B+?"
when booting pi 3b+ it loads color screen and dont go further...

[2018-03-27 22:48] JonnyTech commented on #781
See #733

[2018-03-27 23:19] #781 closed

[2018-03-28 07:59] antonmolodykh commented on #778
Thanks for report!
what version of Firefox are you using?

[2018-03-28 08:17] antonmolodykh commented on #779
No, at the moment this is not supported, and it is not possible without a big changes in the application

[2018-03-28 08:23] antonmolodykh commented on #780
Probably this is due to uzbl, which we are now using. We are working on replacing the current browser.

[2018-03-28 09:09] JonnyTech commented on #778
Firefox Quantum 64bit 59.0.1 on Debain

[2018-03-28 21:28] nreid3 opened #782 "Add a custom screensaver??"
We are using a touchscreen tablet with a raspberry pi to display an interactive google calendar. If someone doesn't touch the screen for a while, we want a screensaver to appear. Is there anyway to do this?

[2018-03-28 23:08] JonnyTech opened #783 "Display random asset"
The little old ladies at the local art group are loving the system! They are using it in the village church for their art exhibition and thoroughly enjoying setting it up and seeing the results. It is strange seeing them use a computer. That shows what a great system you have created.

Anyway, they have yet another request: Can a random image be displayed from the assets? They have imported hundre

[2018-03-29 07:29] antonmolodykh commented on #783
Hi @JonnyTech glad to hear that!
Screenly OSE has the ability to display assets in a random order. For this go to the settings (via the web interface) and choose "Shuffle playlist"

[2018-03-29 08:10] JonnyTech commented on #783
Excellent - they must have missed that - thanks!

But we have another problem, I shall raise another issue...

[2018-03-29 08:10] #783 closed

[2018-03-29 08:18] JonnyTech opened #784 "Pi locked up overnight"
Screenly OSE on a Pi 3 B+ was running a playlist cycling 100 images yesterday. It was left running overnight (someone forgot to turn it off before leaving). This morning when turning on the screen it was stuck on one of the images. The Pi is still on but is not responding to pings, so cannot get to the network interface or SSH to it. Tried to switch to another TTY using CTRL+ALT+1,2,3 etc, with a

[2018-03-29 09:55] JonnyTech commented on #784
I have now powered the unit down and removed the sdcard. Here are the last few entries from logs:

[code]

The only other file on the card created at about time of last activity was a zero byte `screenly.watchdog` file in the `/tmp` folder:

[code]

I cannot see anything obvious. Any ideas?

[2018-03-29 22:48] tentact commented on #757
Got the bash update and everything completed.  I get the “no network we’re found a access point was created “
So I connect to the access point put the in the password then connect my WiFi after that the pop  says “applying changes your device will soon be online....”  but the pop up doesn’t change and the device never goes online

[2018-04-02 09:12] antonmolodykh commented on #757
@tentact If the access point is still active, it may mean that you entered the password incorrectly. can you check again and confirm that the problem is not this?

[2018-04-02 15:12] temporalobe opened #785 "Screenly Clock App not correct for my location"
Very new to Screenly OSE and I love it.  I'm currently using the Weather app which is location and time accurate.  When I use the Clock app as an asset, however, it displays GMT not GMT -5.  Any ideas?

[2018-04-02 17:48] vpetersson commented on #785
The location is set using geoip. It will never be fully accurate. That’s why you can override the location in the app store.

[2018-04-02 17:48] #785 closed

[2018-04-02 18:14] vpetersson commented on #782
No, that's not really something that falls into the domain of Screenly unfortunately.

[2018-04-02 18:14] #782 closed

[2018-04-03 15:56] vpetersson commented on #784
@JonnyTech Nothing obvious stands out unfortunately. In theory, `screenly.watchdog` should [only be written](https://github.com/Screenly/screenly-ose/blob/master/viewer.py#L299) when the viewer loop works.

Could you adjust the playback (fewer/different assets) to see if that makes a difference?

[2018-04-04 16:44] JonnyTech commented on #784
It seems intermittent, some units last for days, others do not. Asset amounts and types seem irrelevant. For example one unit ran for 5 days then after a power cycle it crashed after 20 hours; another unit stopped after 6 hours but after a reboot is still going after 5 days. I am manually cycling power every morning and keeping my fingers crossed!

[2018-04-04 16:47] JonnyTech commented on #784
Could it be related to an update check? The units are not connected to the Internet. I do not know at what time it checks and if I can be disabled.

[2018-04-04 16:48] vpetersson commented on #784
Interesting. Are you running on the development release or on the production release?

[2018-04-04 18:14] JonnyTech commented on #784
IIRC the development branch was recommended as I am using Pi3 B+ units.

[2018-04-05 14:23] DShearon opened #786 "Disabling Overscan breaks auto-login"
I am using a Rpi B+ and have been running into an issue. With over-scan enabled everything works and boots properly. When I disable over-scan autorun does not work and I am presented with a login prompt. re-enabling over-scan allows it to boot properly so it is repeatable. I am using the latest version of Screenly OSE.

[2018-04-06 09:15] xstable opened #787 "Docker-Image not work"
If I try to start the Docker-Image with this command:
`docker run --rm -ti --name=screenly-dev -e 'LISTEN=0.0.0.0' -p 8080:8080 -v $(pwd):/home/pi/screenly screenly/ose-dev-server`
I got this response:
`docker: Error response from daemon: failed to create endpoint screenly-dev on network bridge: failed to add the host`

How can I fix this?

[2018-04-06 09:34] xstable commented on #787
Great, I got it. Thought the screenly-ose docker-image was a full packed container with sources inside.
Now I've download the sources and run the container... works like a charm.
Thank you.

[2018-04-06 09:34] #787 closed

[2018-04-06 09:36] vpetersson commented on #787
Actually, it is, but it wouldn't make it a very good development environment if you need to edit files inside the docker container.

[2018-04-06 10:39] xstable opened #788 "Where to see output"
I run Screenly in docker-container and can add assets to it.
All seems to work like a charm, but I wonder where to see the output of those assets.

[2018-04-06 10:43] vpetersson commented on #788
You mean as a simulated screen? If so, you can't. The docker environment only covers the servers side, not the viewer.

[2018-04-06 10:54] xstable commented on #788
Ok, what is the way the viewer works by default? This only work on Raspery-Pi, or am I able to get some output at my dev-pc?

My enviroment
==
- php-script lay on the server
- screenly-ose run on my local machine (docker container)

What I try to do:
==
- Customer has an Raspery-PI with Screenly (I don't have access to it).
- I should create an external php-file which fetch some data and do some a

[2018-04-06 10:58] vpetersson commented on #788
It should be possible to run the viewer in development environment on a Linux desktop (I know @antonmolodykh does).

Let me stop you there. This is unlikely to work well. The Raspberry Pi is not powerful enough to handle HTML animations (at least with the current browser). Your only hope is #527 which incidentally @antonmolodykh is making good progress on as we speak.

If you want animations to wo

[2018-04-06 11:08] xstable commented on #788
Thank you for your Feedback.
I use Linux, so glad to hear, there'll maybe a way to run the viewer. Did you have a link, how to do this?

The other Point: Animation was the wrong description. To be more precise, I fetch single Youtube-Videos out of a given Playlist.
So the user only have to edit and sort a given playlist to change the Videos and their sort order inside his Screenly-Animation.
**Rea

[2018-04-06 11:31] xstable commented on #788
So what if you go inside the docker-container with _-ti .... /bin/bash_ and there run server.py and (maybe with the CLI-Programm "screen" the "viewer.py"? [BTW: what is the root-password inside docker? I need it to install screen, to give it a try]

_What are the default Steps on Raspery-Pi?_

1. Install screenly on raspery-pi
2. run the server.py (?)
3. run the viewer.py (?)

Would be fine to hav

[2018-04-06 12:11] vpetersson commented on #788
No, you won't be able to run the viewer inside of the Docker container (since it need to talk to X11).

It's an upstream image. Normally you don't run screen etc inside a docker container. They're designed to run only a single process.

You're probably better off trying to get it all running stand-alone.

[2018-04-06 17:41] nrdroque opened #789 "Error loading google presentation with youtube videos"
hi i'm testing your version OSE to run google presentations, and some of them need to have youtube videos inserted in some context.
but when loading the youtube it gives me error 5.
i've tested the google presentation over several browsers and computer settings and it work well

[2018-04-06 17:43] vpetersson commented on #789
Yes, that will not work. In short, the Raspberry Pi is not powerful enough to do this (at least not using the current browser). Keep an eye on #527 as that could potentially change that.

[2018-04-06 17:43] #789 closed

[2018-04-06 19:02] Freyli opened #790 "Assets not refreshing - Google Slides"
Changes are not being updated when made in Google Sildes. Clicking the asset link opens up to the latest page. Web page asset not reloading. I know this issue had been brought up in 2016 but it doesn't appear to be working at this time.

[2018-04-06 19:59] vpetersson commented on #790
What duration did you set? It will not reload before the duration expires.

[2018-04-08 18:59] cpence commented on #758
I know this is a closed issue, but I'm getting exactly the same thing at a university-based installation. "Building devices," like digital signage, are connected to a VLAN that has internal access but no internet. I really don't have an option to change that status, so I'm going to have to make the same manual hacks that @amo28 mentioned.

A setting to disable all outbound internet traffic in Scre

[2018-04-08 23:21] acid-nine opened #791 "Add support for times of day"
I have a need where certain 'frames' should be shown at certain times of day (i.e. traffic between 4:00pm-6:00pm).  Vendors who are on premise need to have their logos up while they are there, usually scheduled events.

This could also be prioritized so that other asset frames are not shown during this time.

Let me know if I can help, I'm a Sr Dev with Python and rdbms

[2018-04-08 23:25] mattjford opened #792 "Auto login and element hiding"
For Advanced Users:

Could there be a auto login (support for Google ideally) as well as element hiding.

Today I use selenium to handle most of my signage needs and I am able to manipulate the DOM fairly easily.  Would that be a possibility?

Due to iframe cross origin issues it's near impossible for me to simply add a JS layer on top of an iframe to perform the same.  It would almost need to be

[2018-04-09 07:59] antonmolodykh commented on #791
Such functionality is available in Screenly Pro, but not in OSE. However, you can use the API (`/api/docs`).

[2018-04-09 14:43] antonmolodykh commented on #758
@crdotson @amo28  okay guys, I understand with what moments you are facing, but it's hard for me to be sure, without having the opportunity to look at it. I want to look at the logs (before your code changes). can you attach it? just run `sudo journalctl > foobar.txt`

[2018-04-09 14:48] cpence commented on #758
I thought that I saw that offline mode disables the web server. I don't want that, either -- I still have internal network access to the machine, so I want to be able to use the web interface.

And I've got NTP set up. (Notably, though this is a matter for another bug report, NTP isn't installed by default on the latest Screenly OSE images, which it probably should be.)

But! After scrolling throu

[2018-04-09 15:45] amo28 commented on #758
@cpence Wish I had known of that variable in screenly-viewer.service before. That sounds exactly like what I was looking for. And the offline mode did not affect the web server for me.

@antonmolodykh At the location where I was having the issue, I don't have any units that do not have modified code unfortunately. But for me it boiled down to the unit being able to resolve github, but due to netwo

[2018-04-10 09:41] vpetersson commented on #788
Nice find @xstable. Would be great if you can produce a `Vagrantfile` that does all of that.

[2018-04-10 09:43] vpetersson commented on #758
@cpence

We should double check this, but I'd be very surprised if it isn't. Since the Raspberry Pi lacks a Real Time Clock (RTC), if it is unable to connect to an NTP server, the date and time would be off by a lot.

[2018-04-10 12:59] DShearon commented on #786
Is the B+ no longer supported? The process works fine on any of the RPi 3's I try it on. Everything else works fine and is stable on the B+ until I disable overscan. I've confirmed that it is not the SD card or the image itself.

[2018-04-10 13:01] vpetersson commented on #786
Are you talking about the original Raspberry Pi Model B+ or the Raspberry Pi 3 Model B+? If the former, it's not a device we're actively testing against. It probably works unless it has been dropped from Raspbian.

[2018-04-10 13:19] xstable opened #793 "PUT - Request to change asset returns 400 - Bad Request"
I have setup an local Dev-Enviroment.
I can access screenly backend and the viewer at my pc.
As you can see in the Image, requesting data from Assets works well:
![auswahl_600](https://user-images.githubusercontent.com/1778068/38558996-21199d66-3cd2-11e8-9c34-4a7f6b1f69ff.jpg)

Then I try to trigger the API to change to next asset with `PUT /api/v1.1/assets/{asset_id}` via POST-Man, because in Pos

[2018-04-10 13:33] xstable commented on #793
If I trigger this PUT-Request in Postman, I got this in the screenly-CLI from server.py:
[code]

[2018-04-10 13:54] antonmolodykh commented on #793
It looks like you tried to send a request with an empty body. The reason is that at the moment server.py expects to send all fields of an asset (both for POST request and for PUT request)

[2018-04-10 14:01] xstable commented on #793
Ok, your're right. Now I have add a json-result I fetch via `/api/v1.1/assets/` and put this in the "Request-Body":
[code]

I got an `200 OK` as return value, but nothing happend on screenly. Means even if there is shown the 3rd asset (yahoo.de), and the duration is 30 seconds... and I send the PUT-Method after 5 seconds, there will be no switch to asset 1 (this one I push via PUT.
Am I doing some

[2018-04-10 14:04] xstable commented on #793
I see now. PUT only push one new asset to the stack.
But what I'm searching for is a way to trigger screenly to interrupt current asset and jump to next one (or to a specially pointed asset_id).
Is there a way to do this?

[2018-04-10 14:10] antonmolodykh commented on #793
Yes, you can instantly switch to another asset using `/api/v1/assets/control/{command}` endpoint.
The command to switch will look something like this: `GET /api/v1/assets/control/asset&asset_id`

[2018-04-10 14:12] antonmolodykh commented on #793
In addition, there are commands for moving to next and previous asset

[2018-04-10 14:16] DShearon commented on #786
The one I am having issues with is the original. I have done some more testing and found that if I disable overscan using the config.txt file it appears to work fine. Disabling overscan using Raspi-config consistently breaks it. Not sure how much help that is for you guys. When I have a moment I will try the same on one of the 3's I have to see if it gets the same result.

[2018-04-10 14:22] #786 closed, assigned to nobody

[2018-04-10 15:07] xstable commented on #793
Great, thanks. This solved my issue.
Did you have a hint... is there a way in Uzbl (which seems to be the viewer-browser-engine) to start youtube-video in fullscreen?

[2018-04-10 15:16] vpetersson commented on #793
Unfortunately any form of HTML5 video is a no-go in the current browser. Even with a hardware accelerated browser (like the one we have in Screenly Pro), it's a challenging. You will have a much better result by adding the YouTube asset as a video and use a native player.

[2018-04-10 16:07] xstable commented on #793
I got a solution... now my youtube-player is "kind-of-responsive". Anyway, now I have to see if the "live-streaming" in raspberry-pi runs smooth as aspected.
Thank you so far.

[2018-04-10 16:10] vpetersson commented on #793
If you're able to use an RTSP feed instead, that will work a lot better than HTML5 video playback (as `omxplayer` supports RTSP feeds natively).

[2018-04-10 16:38] xstable commented on #788
Sorry, not yet familiar with vagrant. Have created it in Oracle Vbox.

[2018-04-11 08:58] peter-4A5A opened #794 "API error file_upload"
Hi everyone,

When I am trying to add a file asset trough the screenly api, I always get a error 500 internal server error.

My post request that I send i as following:
`array(1) { ["file_upload"]=> string(17) "_MON2760kopie.jpg" }`

The error log that i get in my console is:
`Apr 11 10:56:23 raspberrypi python[530]:   File "/home/pi/screenly/server.py", line 238, in api_view
Apr 11 10:56:23 raspb

[2018-04-11 09:41] antonmolodykh commented on #794
I was able to get this error only if I tried to load a file as binary data. A file should be send as form-data, the field should be named "file_upload".
However, you need to remember that this endpoint serves to send a file, and not to add an asset. That is, if you want to add a file as an asset, then you need
* upload your file to the Pi `POST /api/v1/file_asset` (the response contains the curren

[2018-04-11 14:33] xstable commented on #793
Customer has now test the Script I've created on raspberry-pi, and got some errors.
The Video-Player is shown, and you see the first image. Than the player shows the load-animation and quit with "an error occured".
Maybe your suggestion to use RTSP is worth to try. Do you have a hint, how to get those RTSP-Links?

[2018-04-11 14:35] vpetersson commented on #793
The Video-Player is shown, and you see the first image. Than the player shows the load-animation and quit with "an error occured".

Yes, that's expected since the browser does not support web playback.

If you're talking about regular YouTube videos, I'm fairly confident that they do not support RTSP. It may be supported in YouTube live streams, but I'm not sure to be honest.

[2018-04-12 06:58] xstable commented on #793
Mhh, really, don't seems so? In my VM where I''ve installed screenly server & viewer, the Video work like expected. So it seems not to be the browser who have the issue with it.
See this Video which shows it:

http://screencast-o-matic.com/watch/cFfl18DPk5

So what else could be the issue? How can I figure it out?

[2018-04-12 08:35] xstable commented on #793
Ok, I see, but in this way it isn't the Browser, it's caused by the low performance of Rasperry-Pi ?!

So what, If I use PUT to place some new YouTube-Url's as asset (lets say, viewer is currently on asset 2 and I'll place the new youtube-url as asset 5). Will they be parsed and downloaded / cached immediately, so that it will show as asset5 ?

If yes, I could fetch the youtube-playlist with my cr

[2018-04-12 09:16] vpetersson commented on #793
Well, it's a combination of the two. It largely has to do with the lack of hardware acceleration in the browser for the hardware platform.

The process involved for adding a YouTube video involves some back-end processing. However, you could do something like this:

 * Add the YouTube asset
 * Wait for it to finish processing (I think this is exposed over the API - ping @antonmolodykh)
 * Enable t

[2018-04-12 11:42] jeffdesc opened #795 "Videos smooth but webpage animations very choppy/laggy"
Yesterday I [installed Screenly OSE on a Raspbian Stretch Lite](https://www.screenly.io/ose/#option-3-install-screenly-ose-yourself) as the last image does not work. However the videos are very smooth and have no issue with at all. But webpages with some animations in it are very choppy or laggy, it is not due to the network connection (gigabit Ethernet).

For instance we tried to show some '[atta

[2018-04-12 11:47] vpetersson commented on #795
Yep, see #527. We're making good progress on this and will need testers for it in the near future.

[2018-04-12 11:47] #795 closed

[2018-04-12 11:48] jeffdesc commented on #795
@vpetersson Thanks for your fast confirmation. Will this be tested in a closed environment or can we test it as well? Would be happy to take part in it.

[2018-04-12 11:51] vpetersson commented on #795
At the moment, we don't have anything to test. @antonmolodykh is working on trying to wrap up the last parts. Once done, we'll most likely create an experimental branch that will use the browser, which will allow users to manually opt in and test.

[2018-04-12 19:01] BananaAcid opened #796 "Running without network on 2018-01-19-Screenly_OSE"
After boot, when the first of the images should start without network cable on RPI1B,
it just shows a gray background and the console login.

Plugging in the cable and rebooting works fine.

What I did: added 3 Images. Did set their date to something early like the existing examples.
Using 2018-01-19-Screenly_OSE_4GB.img

Edit:
After a few reboots, same happens with cable.

[2018-04-12 19:12] vpetersson commented on #796
That's strange. We've made some changes to this. Could you try upgrading to the latest development version to see if that mitigates the problem?

[2018-04-12 19:12] BananaAcid commented on #796
How do I do this?

[2018-04-12 19:14] vpetersson commented on #796
Please follow the steps under 'Manual upgrade' [here](https://www.screenly.io/ose/) and answer yes to the question about the development version.

[2018-04-12 19:25] BananaAcid commented on #796
reboot: console is back..

[2018-04-12 19:27] morituro opened #797 "Assets disabled after update"
hi folks,
thx for your fantastic programm. we're using it at our school and it works fine. but after updating screenly with a bash command all assets were disabled and i had to upload them once again. i had the same issue when we gave the pi a new static ip...
thx for your help!

[2018-04-12 19:49] jeffdesc commented on #795
Thanks @vpetersson!

[2018-04-13 19:25] peter-4A5A commented on #794
Thank you for your feedback.

I am trying to upload the file to my screenly using the following PHP code:
`      $request = curl_init('http://x.x.x.x/api/v1/file_asset');
      // send a file
      curl_setopt($request, CURLOPT_POST, true);
      curl_setopt(
          $request,
          CURLOPT_POSTFIELDS,
          array(
            'file_upload' =>
                '@'            . $_FILES['fi

[2018-04-16 07:22] xstable opened #798 "Whats with Videos from removed Assets?"
I wonder what is with the downloaded Videos if the asset of this Video is removed?
Will the video be removed too?

[2018-04-16 07:42] peter-4A5A commented on #798
When you delete a asset, the video or image will also be removed.

All assets are stored in the folder: /home/pi/screenly_assets/

[2018-04-16 07:57] antonmolodykh commented on #794
@peter-4A5A unfortunately I've never worked with PHP and I cannot tell you what the problem is, or how it's done correctly in this language. However you can be sure that these endpoints work as I described if you read our js code or try to use Postman.

[2018-04-16 08:24] peter-4A5A commented on #794
@antonmolodykh thank you for your response.

I will search for a solution and after i found one, I will let you know for anyone in the further who might has this problem.

[2018-04-16 08:24] #794 closed

[2018-04-17 06:33] timoa commented on #774
Hi,

Same here:

**OS**: Resin OS 2.12.0+rev1 (prod)
**Supervisor**: 7.1.7

It looks like that it tries to save the export in a read-only folder (Docker) and the file doesn't exist when
we try to download it.

In the logs (debug mode ON):
[code]

[2018-04-17 07:51] dudul08 opened #799 "Last screenly-ose works on Pi 2 Model B v1.1 but not on PI 3 Model B +"
HI,
I have a Pi 2 Model B v1. The last version on Screenly-ose works with this PI.
When i want to use my other  PI 3 Model B +, it doesn't works : on boot, the screen is fixed on a "rainbow"...
Thanks for help.

[2018-04-17 07:52] vpetersson commented on #799
@dudul08 Can you be more specific? We have lots of users on Pi 3 Model B so I know that it works.

[2018-04-17 08:00] dudul08 commented on #799
On boot, the screen is fixed on a "rainbow"...

[2018-04-17 08:01] vpetersson commented on #799
Ah! You're talking about the *Raspberry Pi 3 Model B+*. That's a different board. Yes, that is a known issue at the moment. You will have to do the manual installation for now.

[2018-04-17 08:04] dudul08 commented on #799
Ok !
Thank you for help !

[2018-04-17 08:04] #799 closed

[2018-04-17 09:13] xstable commented on #798
Thank you.

[2018-04-17 09:13] #798 closed

[2018-04-17 11:06] antonmolodykh opened #800 "Backup/recover for Resin.io"
The backup function does not work in Screenly OSE for Resin.io. The problem is related to the use of this [script](https://github.com/Screenly/screenly-ose/blob/master/ansible/roles/screenly/files/screenly_utils.sh). I think we need to think about a special scenario for this.

#774

[2018-04-17 11:25] antonmolodykh commented on #774
@McAleers @timoa  we know that this is an actual problem. thanks for the reports guys. I'll let you know when we fix it.

[2018-04-18 07:04] antonmolodykh commented on #796
I think this related to pi1. I'll check and let you know

[2018-04-18 07:07] antonmolodykh commented on #797
Hi @morituro
what do you mean "all assets were disabled"? assets completely disappeared from the web interface?

[2018-04-18 17:03] Zer0x17 opened #801 "White flickering screen"
Hi,
After I completed my project with the latest sprint of screenly ose and the system started up, only the screen was flickering white. No content was displayed. Can someone help me?

Following the log files.

[syslog.txt](https://github.com/Screenly/screenly-ose/files/1925036/syslog.txt)

[2018-04-18 21:45] morituro commented on #797
thx for your response! i mean they are deactivated - button off.

[2018-04-19 06:34] antonmolodykh commented on #801
Judging by the logs, there is no connection on your device and therefore a known problem arose. We have already solved it in the development branch. To get this, please run ` bash <(curl -sL https://www.screenly.io/install-ose.sh)` and answer yes to the question about the development version.

[2018-04-19 06:50] antonmolodykh commented on #797
hmm. if the device has no problems with time, an asset should be active if:
* user did not click "off" in the right column
* asset has not expired (see "start" and "end" columns).
are both conditions met?

[2018-04-19 14:48] xstable commented on #793
Now I try to add an new Asset via PHP to the Stack.
But am I right, that you can only change existing assets via PUT-API-Command?
Because you need to add the asset-id to the request:
[code]
If I enter an asset_id which not exist, I got an `200 OK`, but no new asset will be created.
Isn't there a way to add a whole new asset to the Stack via API?

[2018-04-19 19:23] eege opened #802 "Blue Screenly Logo"
Hi,

Blue background screenly logo comes in front of asset after successfully reverse ssh connection has been established.

SSH path
Screenly > SSH Server > SSH back to Screenly (reverse ssh)

Asset is a web page url contains white background and logo.

![img_1330](https://user-images.githubusercontent.com/12582050/39013371-dc8d7e42-441f-11e8-82bb-c14e8279173b.JPG)

Screenly version is 2018-01-19-

[2018-04-20 04:38] jannemec opened #803 "Raspberry Pi 3 B+ version rainbow screen"
On the new Raspberry Pi B+ the screenly image does not boot at all and hangs in rainbow screen.

[2018-04-20 07:03] Zer0x17 commented on #801
Thanks this helped! Very good work by the way! I ♥ it!

[2018-04-20 07:03] #801 closed

[2018-04-20 09:44] vpetersson commented on #803
Duplicate of #799.

[2018-04-20 09:44] #803 closed

[2018-04-20 14:24] xstable opened #804 "How to wait for PUT till assert is inserted"
I have an php-Script which do some PUT-Request.
Inserting some Assets  works well, but I have trouble to order them.

Currently I request all screenly-asserts and then iterate with a modulus operator to insert the video at each second assert.
I've choosed even numbers, so the first video should start with 2, followed by 4,6,8 and so on.

The issue is, that all videos will paste at Position 2... me

[2018-04-21 12:42] antonmolodykh commented on #804
I can not test this right now, however I suppose that problems can arise because of the wrong type (play_order must be int)

[2018-04-23 14:51] xstable commented on #804
And here is a Video to reproduce the BUG: http://somup.com/cFf02KV5CI

[2018-04-23 14:53] antonmolodykh commented on #802
Can you run `sudo journalctl > foobar.txt` and attach foobar.txt?

[2018-04-23 14:56] antonmolodykh commented on #804
Thank you @xstable
I'll check it tomorrow and let you know

[2018-04-23 15:08] mzje opened #805 "constant requests to api.mixpanel.com"
Hi, Seeing a vanilla screenly OSE image constantly (every few minutes at least) attempting connections to api.mixpanel.com - is there a way to disable this?

[2018-04-23 15:13] vpetersson commented on #805
Yes, you can set `analytics_opt_out = True` in `screenly.conf` to disable that.

[2018-04-23 15:13] #805 closed

[2018-04-23 19:47] jeffdesc opened #806 "Grafana graphs not loading on Screenly OSE"
We are using Grafana to display some data. As we're using Screenly and surprised by it, we thought to put Grafana on Screenly as well.

However when loading the Grafana snapshot we're only seeing the Grafana layout and the rows. The graphs themselfs are not being rendered at all. Not even the legend or the panels is being rendered.

We're using the lastest Screenly version and Grafana v5.0.4.

Is

[2018-04-24 00:14] watersb opened #807 "Screenly OSE starts in console mode"
Same as #692 -- Clean install, reboot into console to run raspi-config, disable overscan, enable SSH, clean reboot.

Looks like we get a good restart, no obvious problems. But we get a console login screen.

Reboot once more, and we are back to a working Screenly.

Is this the expected behavior?

[2018-04-24 09:35] antonmolodykh commented on #807
no, this is not the expected behavior. which Raspberry model do you use?

[2018-04-24 09:37] antonmolodykh commented on #806
I think this is related to uzbl, which we use to display web pages. Soon we will release an update with a new webview.

[2018-04-27 10:08] xstable commented on #804
@antonmolodykh Did you figured out if this is a bug?

[2018-04-27 10:44] antonmolodykh commented on #804
@xstable sorry for the wait.
I refreshed this in my memory: this is the expected behavior. To change the order of assets there is a `/api/v1/assets/order` endpoint.
A detailed description of the endpoints is available at the `api/docs` address

[2018-04-27 12:06] xstable commented on #804
Ok, but why does the model has an _play_order_-Field in the model, if it is not used.
Anyway, it would make things much, much easier if you could set this directly in your POST-Request.
It's absolutely logic and straight forward to say which Position the new Asset should have been, without doing an additional API-request.

Currently I add a bunch of videos (from Youtube-Playlist) in a batch-job wh

[2018-04-27 12:48] xstable commented on #804
**BTW:** What will it cost, If you add this adjustment (maybe a patched file) specially for my needs?
This way I could only patch my screenly-systems to make POST-Request using _play_order_.

[2018-04-27 16:00] Cyberprog opened #808 "Asset upload failure."
Hi All,

Had an issue where I ran out of disk space (I'd forgotten to expand the filesystem like a dumbass) and as a result, the uploads failed. However screenly did not clear the rogue .tmp files out, nor did it then attempt to flag a warning in the UI saying "a previous upload of this file, failed, clear temp file?" it just continues to fail.

I think this would be good for usability, and to avo

[2018-04-27 16:02] Cyberprog opened #809 "Web Interface fails on Static IP"
Using Screenly OSE, if you configure a static IP on the ethernet I note some odd behaviours;

1) Even if there is a link, the splash screen still displays "unable to obtain IP address" (or whatever the wording is!).
2) The web interface returns an error for the main page (/), but /system_info and /settings are available.

Remove the static config and things go back to normal.

[2018-04-29 17:33] M1rtin opened #810 "Question about static IP with Wlan"
Hey guys i'm new here and started playing around with this awesome project you have all created from almost a week now . I installed the latest version 0.14 . Thanks to the nice guide [https://github.com/Screenly/screenly-ose/blob/master/docs/http-basic-authentication.md](url) i manage to set a password to the web GUI and with a little research i manage to run ssh (tnx to a txt file named : ssh wi

[2018-04-30 06:28] jeffdesc commented on #806
Thanks @antonmolodykh. Is there any ETA available yet for the new webview (or atleast in testing/developer stage)? Are we speaking about days, weeks or months?

[2018-04-30 14:49] antonmolodykh commented on #809
I did not encounter such problems. Perhaps you have incorrectly configured a static IP? try it: https://github.com/Screenly/screenly-ose/issues/746#issuecomment-366642078

[2018-04-30 14:51] antonmolodykh commented on #806
Webview at the development stage, but right now we have several more priority tasks. I think that we are speaking about weeks.

[2018-05-01 16:41] xstable commented on #264
Please reopen this Ticket...

I try to reorder the List via POST-ORDER, but in every play_order-field of each asset the value "1" is set:

![auswahl_638](https://user-images.githubusercontent.com/1778068/39482121-18d5252e-4d6e-11e8-9fc5-b76af3846876.jpg)

And here the result after usin ORDER:
[code]
Any Idea, why this happens

[2018-05-02 08:47] antonmolodykh commented on #264
@xstable It seems the problem really is. I was able to reproduce a similar behavior when I sent the data in the following format:
`ids: "id,next_id,other_id"`
This is a mistake in the documentation. Here's the right version:
`ids: id,next_id,other_id` (without quotes)
please try this and let me know if there are any problems.

[2018-05-02 10:49] vpetersson commented on #809
@Cyberprog are you able to reproduce this on the development branch?

[2018-05-02 10:58] vpetersson commented on #810
@M1rtin That sounds like a Network Manager question rather than Screenly. According to [this page](https://wiki.gnome.org/Projects/NetworkManager), you they have both a mailing list and an IRC channel. I suggest you ask there.

[2018-05-02 10:58] #810 closed

[2018-05-04 12:47] Cyberprog commented on #809
I've not had a chance to do that yet @vpetersson  - I'm out of the office the first few days next week but will have a whirl towards the end.

[2018-05-04 13:13] tejasbingo commented on #757
I apologize in advance for the good question.  I get the same screen as tentact.  When I connect through my laptop, there is no dialog box that pops up.  I'm stuck...  Let me know what other info tho provide.

[2018-05-04 14:08] vpetersson commented on #807
Closing due to lack of response.

[2018-05-04 14:08] #807 closed

[2018-05-04 14:24] #791 closed, assigned to nobody

[2018-05-04 14:25] #797 closed

[2018-05-04 14:27] #780 closed

[2018-05-04 14:37] #771 closed

[2018-05-04 14:37] vpetersson commented on #771
Alternatively, you can just run `~/screenly/bin/run_upgrade.sh`.

[2018-05-04 14:38] vpetersson commented on #774
Duplicate of #800.

[2018-05-04 14:38] #774 closed

[2018-05-04 15:00] vpetersson opened #814 "Create /api/v1.2/assets"
I'm not too keen on how the current API is designed for creating assets.

Here's how the payload looks right now:

[code]
I'd like to first of all remove the following keys should be removed from the POST. They can be available from the GET but should not be specified by the user:

 * is_processing
 * asset_id

I would also like to make the following keys optional:

 * play_order (default to 0)
 *

[2018-05-04 15:04] vpetersson opened #815 "Modify prepare_device_for_imaging.sh to add sample assets"
In screenly-ose/docs/create-disk-image.md we have the following steps:

* Add the sample assets (make sure to set the end date to year 2020 or similar)
  *   web: https://weather.srly.io - Screenly Weather Widget
  *   web: https://clock.srly.io - Screenly Clock Widget
  *   web: https://news.ycombinator.com - Hacker News

On more than one occasion have I missed doing this prior to creating the di

[2018-05-04 15:16] vpetersson commented on #769
Closing out ticket due to inactivity.

[2018-05-04 15:16] #769 closed

[2018-05-04 15:48] vpetersson opened #816 "Make hotspot and splash page adaptive"
I have a small screen that I use for testing. It has something like 680x480 resolution. However, when I use this screen, I cannot make out the passphrase for the hotspot. I can see the SSID, but not the SSID.

[2018-05-04 16:09] tentact commented on #757
I figured out you can only connect to one WiFi if you try to take it somewhere else after you do you will get the unable to resolve IP screen. So after you install don’t set up the WiFi until you are where you want it to stay

Sent from my iPhone

[2018-05-04 16:14] vpetersson commented on #757
@tentact - We've introduced a new feature that allows you to reset this configuration. You will however need to do this before leaving the network while you still have access to the node, or connect a keyboard and delete the file `.screenly/initialized`.

[2018-05-04 16:14] #757 closed

[2018-05-04 16:38] antonmolodykh opened #817 ""Re-run network detection" if there is no wifi"
We should handle the case when the device does not have wifi. For example, if a user with Pi 2 presses reset button and pulls out the cable, he will see a black screen after rebooting.

[2018-05-04 19:07] rhodesmi commented on #769
Hello

Sorry forgot to say thanks for all your help. It's all working really well
now.

On Fri, 4 May 2018, 16:20 Viktor Petersson, <notifications@github.com>
wrote:

[2018-05-10 08:07] JonnyTech commented on #784
This morning I had a black screen but was still able to ping and ssh to it. The web interface displayed:
[code]
Source:
[code]

Looking at the logs:

[code]

There are undervoltage messages, which is unusual since I have a beefy 3A PSU, but the rest of the messages are interesting...

[2018-05-10 08:09] vpetersson commented on #784
My guess is that it ran into some kind of condition that spiked CPU/mem usage (probably in uzbl). Are these large images?

[2018-05-10 08:48] JonnyTech commented on #784
They are tiny png's, here is a listing of the first few dozen:

[code]

[2018-05-10 09:11] vpetersson commented on #784
Just as an experiment - could you try doubling the duration. Also, I wouldn't rule out the power issue. Even if your PSU is marked 3A, lots of them actually fail to deliver that consistently. This is fine for mot user cases (such as phones), but can cause all sorts of random issues on something like the Raspberry Pi.

[2018-05-10 09:41] JonnyTech commented on #784
OK, I shall try that shortly - unless there is anything else that you would like me to check before rebooting it.

The [official recommendation](https://www.raspberrypi.org/help/faqs/#powerReqs) for the Raspberry Pi 3 Model B is 2.5A so to avoid any problems I got higher specced dedicated units from a [reputable supplier](https://www.robotshop.com/uk/raspberry-pi-power-supply-5v-3a-micro-usb.html)

[2018-05-10 09:43] JonnyTech commented on #784
Eek - is there an easy way to change the timings of multiple assets? Manually changing 100 files is tedious!

[2018-05-10 09:47] JonnyTech opened #818 "Feature request - display asset duration"
I have many still image assets on a random loop. They are all set to display for 10 seconds each. While changing the duration time for them I am losing track of what each is set to (it is a long list!). Can I request that the listing displays the duration of each asset.

[2018-05-10 09:48] antonmolodykh commented on #784
you can do it manually or using API.
By the way: are you sure that you are using Pi 3 Model B? I started receiving notifications like `Under-voltage detected! (0x00050005)` only when I switched to Pi 3 Model B+ (it requires 3A)

[2018-05-10 09:51] vpetersson commented on #784
Yes, please check the memory (`free -m`) and cpu usage (`uptime`).

I'm not familiar with this particular one, but we always recommend the official PSU as it is made to the specs.

[2018-05-10 11:02] JonnyTech commented on #784
@antonmolodykh my bad, you're right, it's a 3B+. Where does it document a 3A requirement? The [official blog post](https://www.raspberrypi.org/blog/pi-power-supply-chip/) recommends their [official PSU](https://www.raspberrypi.org/products/raspberry-pi-universal-power-supply/) which is rated at 2.5A. I ordered them but when two died within a week, I replaced them and had no more failures (or yello

[2018-05-10 11:44] antonmolodykh commented on #784
@JonnyTech oh, now it's my bad, you're right, really 2.5A for 3b+.
We don't have a guide, but a full description of the api is available at `/api/docs` address (`http://your_raspberry_ip/api/docs`).

[2018-05-10 13:07] vpetersson commented on #818
Reasonable feature request.

[2018-05-10 15:03] JonnyTech commented on #784
@antonmolodykh `/api/docs` = wow, I did not know that existed! I may start a new thread with questions....

[2018-05-15 08:51] micb2 opened #819 "Certain Wordpress sites are not showing in Screenly"
We have sites created by Wordpress with URLs in the following format:

https://domain.x.y.de/path/index.php/path/to/something/

In the Syslog it says that the page is showing but that is not the case:

`May 15 10:43:39 raspberrypi python[595]: update_playlist
May 15 10:43:39 raspberrypi python[595]: Generating asset-list...
May 15 10:43:39 raspberrypi python[595]: generate_asset_list deadline: 200

[2018-05-15 08:57] antonmolodykh commented on #819
Can you run `sudo journalctl > foobar.txt` and attach foobar.txt?

[2018-05-15 09:14] micb2 commented on #819
Sure, thanks for your quick reply.

By the way, the Wordpress admin changed the link format to https://aaa.bbb.ccc.de/sermon?page_id=94 for testing and it is still not working.

`pi@raspberrypi:~ $ cat foobar.txt
-- Logs begin at Thu 2016-11-03 18:16:42 CET, end at Tue 2018-05-15 11:04:33 CEST. --
Nov 03 18:16:42 raspberrypi kernel: Booting Linux on physical CPU 0x0
Nov 03 18:16:42 raspberrypi ker

[2018-05-15 09:26] micb2 commented on #819
Sure. Sorry, I'll have to get used to GitHub.

[test.txt](https://github.com/Screenly/screenly-ose/files/2004234/test.txt)

[2018-05-15 09:43] antonmolodykh commented on #819
@micb2  I don't see any obvious problems in the logs. Can you give an example of any page with which this problem occurs?

[2018-05-15 09:48] micb2 commented on #819
@antonmolodykh I'll talk to the administrator. Is there a way to trigger the download of the webpage manually from CLI in the way screenly would do it so that we can troubleshoot from there?

[2018-05-15 10:29] antonmolodykh commented on #819
OSE works a little differently.
if short, the viewer simply reads the assets from the database and shows it.
that's what I think: if I'm not mistaken and there really is not enough information in the logs, then maybe the problem is on the `uzbl` side.
you can try to check it yourself: for this stop the viewer (`sudo systemctl stop screenly-viewer`) and try to run the page in `uzbl` (don't forget t

[2018-05-15 12:36] micb2 commented on #819
Thanks for explaining how to test it from shell. Attached you find the output.

[test2.txt](https://github.com/Screenly/screenly-ose/files/2004941/test2.txt)

It stucks after this line:

`External JavaScript file /home/pi/.local/share/uzbl:/usr/share/uzbl/examples/data:scripts/follow.js loaded`

There shouldn't be that heavy javascript operations involved as it is more or less basic Wordpress. Aft

[2018-05-15 12:37] vpetersson commented on #819
@micb2 what Raspberry Pi hardware version?

[2018-05-15 12:41] micb2 commented on #819
@vpetersson It says Raspberry Pi 3 Model B V1.2 on the chip.

[2018-05-15 12:42] vpetersson commented on #819
Good. I just wanted to rule out the possibility that you were trying this on an old Raspberry Pi.

[2018-05-15 12:54] micb2 commented on #819
Is there a way to speed up the javascript process or to find out why it is that slow or to skip it at all?

[2018-05-16 14:16] micb2 commented on #819
We found out that the Wordpress is using a font that the Raspi wants to fetch from Google. The problem is that Screenly is not on the internet. Is it possible to pre-install the font somehow so that it is not necessary to fetch it from Google?

[2018-05-17 10:16] micb2 commented on #819
We found a workaround by ourselves by adding a proxy.

For making Screenly work with the proxy, I had to make some changes, especially disable your Python "url_fails"-checkings:

`/home/pi/.config/uzbl/config-screenly
set proxy_url = http://w.x.y.z:1234

/home/pi/screenly/server.py
line 302
        # if url_fails(asset['uri']):
            # raise Exception("Could not retrieve file. Check the asse

[2018-05-22 11:36] rexlance opened #821 "Removing Resin-wifi-connect"
Hi,

Is there a way i could remove resin-wifi-connect or stop the service?

Thanks.

[2018-05-22 11:39] antonmolodykh commented on #821
Hi @rexlance  to disable the service, you can run `sudo systemctl disable wifi-connect.service`.
can I ask the reason? something does not work correctly?

[2018-05-22 13:54] rexlance commented on #821
Hi @antonmolodykh thanks! Would try it out.
Everything is working fine. Just that we are using hostapd (access point) as we do not have wifi at our outlet.

Unless resin-wifi-connect is able to provide such services too? Thanks!

[2018-05-22 23:08] vpetersson commented on #821
@rexlance Please note that if you do not have an internet connection on your Raspberry Pi, you will need to add a Real Time Clock (RTC) device (since it lacks one). If not, the clock will not work.

[2018-05-24 02:56] rexlance commented on #821
@vpetersson Yes, we have been using RTC.

How do I set a dhcp/static ip address for screenly to read after that. Is it still in /etc/network/interfaces?

[2018-05-24 05:41] rexlance commented on #821
@antonmolodykh  after issuing sudo systemctl disable wifi-connect.service
added:
"auto lo
iface lo inet loopback
iface eth0 inet dhcp
allow-hotplug wlan0
auto wlan0
iface wlan0 inet dhcp
        wpa-ssid "ssid"
        wpa-psk "password""

to /etc/network/interfaces and reboot.

Got a EXT4-fs error (device mmcblk0p2): ext4_iget:4697: inode #252929: com systemd-tmpfile: bad extra_isize 65535 (inode

[2018-05-24 05:45] vpetersson commented on #821
Sounds like a corrupt SD card. I'd suggest doing an Overwrite Format using [SD Formatter](https://www.sdcard.org/downloads/formatter_4/) and then re-flash with the latest disk image.

Also, keep in mind that if you use the WiFi connect to the WiFi, you need to delete the wifi profile too.

[2018-05-24 17:45] bhagemann opened #823 "URL with dynamic display crashes"
#### Overview of the Issue

Accessing our solar panel array's dashboard with the 'kiosk' URL displays a javascript driven dynamic page that changes every so often to show different stats.  If I have this in the list of assets the pi will eventually lock up and either show a blank screen, or this dashboard (and unresponsive to the admin page or ssh access).  recycling power fixes.  It will generall

[2018-05-25 00:10] rexlance commented on #821
I did flash my sd cards. I have a few of them.
After issuing systemctl disable wifi-connect.service without changing other things. I rebooted into the same error.

[2018-05-28 02:56] vpetersson commented on #821
If you're still getting the `Got a EXT4-fs error (device mmcblk0p2): ext4_iget:4697: inode #252929: com systemd-tmpfile: bad extra_isize 65535 (inode size 256)` error on a different SD card, then it is most likely either your SD card reader that is broken (we've seen this surprisingly often) or the download is corrupt.

To rule out both, I'd recommend that you:
 * Try using a different SD cards
 *

[2018-05-28 12:07] JaapJonker commented on #790
Hi there,

I've the same issue. I have only one asset and the time is set on 10 seconds.

Thanks for helping out!

Jaap

[2018-05-28 12:40] JaapJonker commented on #790
@Freyli For the moment I have a work around:

1. Make two assets with the links of your Google Slide, each with a slightly different time delay (I have a 10000ms and a 10001 ms link.
2. Set the duration of the assets equally as your number of slides * duration in seconds in Google Slides.

This will reload the Google Slides Presentation every time the presentation starts over.

[2018-05-29 13:41] greenie1987 opened #824 ""Update Browser to View Embedded Content"
I'm running Screenly OSE on my Raspberry Pi 3. I created a public website using Google Slides to display local weather information in additional to other local items on the page. The page displays on my monitor however I get an error message that says "Update your browser to view embedded content".

Is it possible to update my browser if so, does anyone have any ideas on how to accomplish this?

T

[2018-05-29 15:57] vpetersson commented on #824
See #527. In short, the browser the current version of Screenly is using is getting out of date so we are working at replacing it.

[2018-05-30 00:25] josephglass1029 opened #825 "upstream: "http://192.168.42.1:9090/""
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

I am trying to configure Screenly OSE on my Pi, but I keep getting 504 Gateway Time-out. When I go to the /var/log/nginx/error.log I see the following entry: 2018/05/29 23:47:01 [error] 348#348: *3 upstream timed out (110: Connection timed out) while

[2018-05-30 10:28] vpetersson commented on #825
This error means that Nginx is unable to connect to Resin WiFi Connect ([ref](https://github.com/Screenly/screenly-ose/blob/master/ansible/roles/nginx/files/nginx.conf#L5-L7)).

Check the logs with `journalctl` to see what comes up.

[2018-06-04 10:27] vpetersson commented on #823
@bhagemann Keep an eye open on the experimental release we are hopefully shipping this or next week which will include a new browser, which in turn will hopefully resolve this issue.

[2018-06-05 15:35] Zorbeen98 opened #827 "Cannot upload large files."
#### Overview of the Issue

I have a 1.04GB video that I'd like to add as an asset.
Whenever I try to upload it it runs for a while and then I get 'The operation failed. Please reload the page and try again.'

I've tried using IE and Chrome.

I tried adding 'client_max_body_size 50000000m;' to the nginx.conf settings but it doesn't seem to have helped.

Found old issue here but it has reportedly b

[2018-06-05 18:01] bhagemann commented on #823
Will keep an eye out for an announcement for that, will it be the same as updating via the bash shell command and accepting the development version?

[2018-06-07 06:14] Zorbeen98 commented on #827
The issue appears to be caused by the wifi disconnecting when uploading a large file.

Not sure if anything can actually be done to resolve the the issue or whether it's just down to the NIC on the Pi...

[2018-06-07 23:46] nreppa commented on #760
I'm having this same issue with multiple broadcasted networks. Issue isn't range as the pi is sitting on my desk. Doesn't work to connect from computer or mobile device.

[2018-06-11 17:49] peter-4A5A commented on #794
I solved the issue using a curl library: https://github.com/php-curl-class/php-curl-class

[2018-06-12 15:36] fabioulous opened #831 "Content Scheduling"
Hi! I recently discovered screenly ose and it is amazing, exactly what I was looking for. Except only one crucial feature is missing:
Content scheduling, for example: Display a breakfast menu every morning and a dinner menu in the evening.
If you could implement this feature I would be most thankful!
best wishes
Fabi

[2018-06-12 16:14] vpetersson commented on #831
@fabioulous This is something we already support in Screenly Pro. See [this article](https://support.screenly.io/hc/en-us/articles/217874263-Using-Screenly-s-sophisticated-playlist-editor).

[2018-06-13 14:48] collinbarlage commented on #741
Is it possible to access the shell at this screen? ctrl-shift-F1 doesn't work

[2018-06-14 07:53] antonmolodykh commented on #808
@vpetersson  I confirm script is working

[2018-06-14 11:33] fabioulous commented on #831
@vpetersson Thank you for the hint. My company is not looking for a cloud based solution. We want to have the management software running on our servers as well as the content locally stored.

[2018-06-14 11:43] antonmolodykh commented on #831
@fabioulous to display assets at a specific time you can use API (`http://raspberry_ip/api/docs/`). I think a script will be pretty simple.
If you go this way, I recommend you to update Screenly from the development branch (we improved API a couple of days ago).

[2018-06-20 17:14] antonmolodykh commented on #780
@Andrew-619  we published the experimental screenly ose version. one of the major changes is the new browser. To try it follow the steps under 'Manual upgrade' here and answer yes to the question about experimental version.
We are looking forward to feedback, please let us know about any problems.

[2018-06-20 17:15] antonmolodykh commented on #824
@greenie1987 we are happy to announce that the experimental Screenly OSE version is available. It includes the new browser with hardware acceleration support (as a replacement for old uzbl), and migration of all services to the docker. To try it follow the steps under 'Manual upgrade' [here](https://www.screenly.io/ose/) and answer yes to the question about experimental version.
We are looking for

[2018-06-20 17:19] antonmolodykh commented on #789
@nrdroque we published the experimental screenly ose version. one of the major changes is the new browser. To try it follow the steps under 'Manual upgrade' [here](https://www.screenly.io/ose/) and answer yes to the question about experimental version.
We are looking forward to feedback, please let us know about any problems.

[2018-06-21 10:08] vpetersson opened #836 "Fix usage on Pi Zero"
#### Overview of the Issue

There appears to be two separate (but perhaps related) issues when using the latest disk image on the Pi Zero:
 * The splash screen is not working
 * When X11 is loaded up, it just shows a black screen, which means we are unable to configure WiFi

#### Reproduction Steps

* Flash out the latest disk image (2018-05-04).
* Boot the system
* The screen will just show a bla

[2018-06-21 15:29] vpetersson commented on #819
@micb2 You could try the experimental branch that @antonmolodykh is working on to see if that solves the problem.

[2018-06-22 07:16] wwj718 opened #837 "API call for navigate to any asset error"
#### Overview of the Issue
![image](https://user-images.githubusercontent.com/3153878/41762965-23aaa70a-762f-11e8-848e-4b6328fad716.png)

### Environment

* Raspberry Pi 3B
* Screenly OSE Version: commit 62bfe2ff477122ee97bf1b1017e94abffad52013 (Thu May 3 14:53:18 2018)

[2018-06-22 07:49] antonmolodykh commented on #837
@wwj718  I think it's in `&` symbol. try something like `curl -s "http://127.0.0.1:8080/api/v1/assets/control/asset&64c9830eae4e484db276e1c6259d2849"`

[2018-06-22 08:12] vpetersson commented on #837
Yep. That's not a bug, `&` in Bash has means run the next command (vastly simplified). @antonmolodykh solution above should solve it.

[2018-06-22 08:12] #837 closed

[2018-06-22 09:15] antonmolodykh commented on #802
I didn't find a reason in the logs, and also could not reproduce the problem myself.

[2018-06-22 09:18] vpetersson commented on #802
Also, @eege - please make sure to upgrade to the latest production version.

[2018-06-22 10:29] wwj718 commented on #837
@antonmolodykh @vpetersson Thanks a lot !  it works!

[2018-06-22 11:01] vpetersson commented on #827
Just a random idea - What power supply are you using? I know that if you are using an under-powered power supply, you can see strange network issues during high load.

[2018-06-22 11:01] vpetersson commented on #825
Closing ticket due to lack of response.

[2018-06-22 11:01] #825 closed

[2018-06-22 11:03] vpetersson commented on #796
@BananaAcid I *think* this might be related to #836. We will be adding more diverse hardware to the testing platform in the near future. Closing out this one for now however.

[2018-06-22 11:03] #796 closed

[2018-06-22 12:14] vpetersson commented on #816
Still not adaptive enough:

![img_1380](https://user-images.githubusercontent.com/357664/41776034-22694f7e-761e-11e8-980e-de87d6abd804.JPG)

[2018-06-22 12:17] vpetersson commented on #815
@antonmolodykh Please also update the `/docs/create-disk-image.md`.

[2018-06-22 12:18] #808 closed

[2018-06-22 12:18] vpetersson commented on #527
Just an update to anyone following this issue: you can now try the new browser out by running the installer and selecting the 'Experimental' version.

[2018-06-22 12:21] vpetersson opened #840 "Upgrade bootstrap"
We're currently on Bootstrap v2.2.2. This is a very dated version. Let's bring that up to speed and upgrade to Bootstrap 4.

[2018-06-22 12:22] vpetersson commented on #527
The new browser scores 253 with [HTML5test](https://html5test.com/).

[2018-06-22 12:27] vpetersson opened #841 "Bug in new environment"
#### Overview of the Issue

A paragraph or two about the issue you're experiencing.

#### Reproduction Steps

* Add the asset http://video.blendertestbuilds.de/download.blender.org/peach/trailer_1080p.mov as a URL

You will end up with:

![screenshot from 2018-06-22 13-26-04](https://user-images.githubusercontent.com/357664/41776527-03b6b2f4-7620-11e8-90fc-555edc2e4d76.png)

### Environment

* Ras

[2018-06-22 12:30] vpetersson commented on #669
@michburkhalter Could you try with the experimental branch that we just shipped?

[2018-06-22 12:30] vpetersson commented on #633
@mokkin could you try the experimental version that we just shipped?

[2018-06-22 12:52] vpetersson commented on #836
I can confirm that the new experimental branch does not work on Pi Zero either.

[2018-06-22 15:13] vpetersson opened #842 "Perform facelift"
The look and feel in OSE is starting to look a bit dated. After we have upgraded Bootstrap in #840, let's switch to a Bootstrap theme. Here's [one candidate](https://hackerthemes.com/bootstrap-themes/growth/).

[2018-06-22 16:58] vpetersson commented on #823
@bhagemann - The new release is now available. Run the upgrade script and select the experimental branch.

ping @antonmolodykh.

[2018-06-22 17:00] vpetersson opened #843 "Switch to Balena"
The experimental branch is currently using Docker. We should switch to using [Balena](https://www.balena.io/) instead as it is written for this particular use case.

[2018-07-01 11:38] antonmolodykh commented on #816
![image](https://user-images.githubusercontent.com/25369651/42134026-7da747b8-7d55-11e8-99e5-35e908761d56.png)

[2018-07-03 10:58] antonmolodykh commented on #841
it seems this link is not valid at this time. however I tested it using another video (http://techslides.com/demos/samples/sample.mov) of the same format and it works fine

[2018-07-05 12:34] abrenoch opened #848 "ScreenlyWebView not dismissing alert dialog between assets"
It appears in the latest beta build if an `alert` dialog is shown on a website, it will persist until the device has restarted.

To reproduce simply add a website that shows an `alert` dialog.

 I discovered this trying to debug a locally hosted website, and was not able to get it to go away without needing to reboot (tried to kill the web view process and things began acting up).

I'm running the

[2018-07-06 12:41] antonmolodykh commented on #836
I think this report is partially incorrect.
Pay attention to [it](https://github.com/Screenly/screenly-ose/blob/master/start_resin_wifi.py#L30). in fact hotspot page is generated before `wifi-connect` starts. The page should have been displayed in any case if there is no connection. There is a problem: script does not consider devices without wifi (fixed in a [last PR](https://github.com/Screenly/

[2018-07-06 13:29] antonmolodykh commented on #836
However, I confirm that the experimental version does not work on pi zero w for now.

[2018-07-07 18:41] Ne0nx3r0 opened #851 "Audio support with a URL asset (i.e. web page)?"
Is there support for playing sounds from web page / url assets in Screenly OSE?

I'm using HDMI audio and I've noticed when adding an MP4 asset audio works fine but when I try to play sounds from a URL / web site asset using the following there's no sound:

[code]

When I view the URL on my desktop computer however it works as expected.

Is there a trick to getting audio to work from URLs or a sup

[2018-07-09 07:00] vpetersson commented on #851
@Ne0nx3r0 Please try this in the experimental branch and see if it works there as we are moving to that browser.

[2018-07-09 16:52] daecks opened #853 "Asset set to "on" remains in inactive section"
Similar to issue #667 , our Screenly instances will after a while mark an "active" asset as "inactive", while the toggle switch is still set to "on".  Toggling the asset to "off" and then "on" will not put the asset back into the "active" section.  The asset needs to be removed/recreated for the "active/inactive" functionality to work.  Unlike as stated in #667, a reboot will *not* solve this.

Is

[2018-07-10 05:56] antonmolodykh commented on #853
If the device has no problems with time, an asset should be active if:
* user did not click "off" in the right column
* asset has not expired (see "start" and "end" columns).

can you confirm that both conditions are met?

[2018-07-10 07:43] antonmolodykh commented on #843
At the moment `balena pull` works much slower than `docker pull`. I opened a [ticket](https://github.com/resin-os/balena/issues/86) about it.

[2018-07-10 13:40] daecks commented on #853
Gah!  That was it - the asset had expired.  I was ignorant of those fields, and was thinking if I just created an asset and did nothing else, why would it expire?  I've set it to 2099 - I think that's long enough!  Thanks.

[2018-07-10 13:40] #853 closed

[2018-07-11 19:34] StopKickingMe opened #858 "Cookie transfer"
Hello there,

I was wondering if there is a way to export cookies from a seperate browser (like Opera) on a seperate computer, and import them onto the Raspberry Pi. I found the path to the cookie files for UZBL, and I know how to find the cookies in Opera, but I was wondering how to bridge the gap between the two. If I could do that, I would be able to load webpages that require user authenticati

[2018-07-11 22:14] vpetersson commented on #858
@StopKickingMe There's currently no way to do this, but we'll keep this as a feature request.

[2018-07-12 00:14] mscreations opened #860 "Delete old, unused assets"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

Client had an issue uploading a video to their screenly device due to unicode in the metadata (See #859 for the fix). Although the asset never finished being added (as it errors out in the middle), the file is still stored in ~/screenly_assets. It jus

[2018-07-12 02:52] mscreations opened #861 "Datepicker/Timepicker not appearing"
#### Overview of the Issue

After the upgrade to the newer version of Bootstrap, the Datepicker and Timepicker in the Asset edit view are not appearing properly. The time picker sometimes comes up, but not always. The date picker apparently is coming up, but is behind the dialog and hence does not work. Also, I am unable to type in a date as it keeps changing before you can finish typing in the co

[2018-07-12 09:14] antonmolodykh commented on #861
I see two possible causes of this problem:
1. if you did not restart your device after the update (or branch change)
2. If you have not cleared your browser's cache

In addition, I want to note that we recommend that you run the update, and not just switch the branch.

please let me know whether it helps you

[2018-07-12 09:30] antonmolodykh commented on #860
Screenly has a cron task:
[code]
It should delete a files after an unsuccessful uploading.

So I think you fixed the only possible problem why an unused file might not be deleted.

[2018-07-12 11:00] vpetersson commented on #860
@antonmolodykh how are we logging that? Perhaps the cleanup is broken.

[2018-07-12 11:08] antonmolodykh commented on #860
@vpetersson  We recently had a [ticket](https://github.com/Screenly/screenly-ose/issues/808) about it. The script really works.
The fact that the script has not cleared unused files as described in this ticket is the expected behavior (since in fact files were uploaded correctly)

[2018-07-12 11:28] vpetersson commented on #860
Yes, I recall. I'm not saying that it doesn't work in most cases. This is more for in case there is a bug somewhere.

[2018-07-12 11:59] mscreations commented on #860
I'll take a look when i get a chance. The device is never on at that time, so maybe might need to change it to run at boot. They turn it on and off with the tv during their skating sessions. That could be why they are being retained.

[2018-07-12 12:06] mscreations commented on #861
All devices were restarted. One if the iPad's exhibited this issue when it was the first time i ever connected to the Screenly device. I also made sure to clear the cache in my browser. Running the update doesn't fix the issue. Hopefully I'll have a chance later to look at the issue in more depth.

[2018-07-12 12:16] vpetersson commented on #861
@antonmolodykh do we version (or use some other kind of cache burst) on static files?

[2018-07-12 12:35] antonmolodykh commented on #861
no, as far as I know we don't use such things

[2018-07-12 15:19] vpetersson commented on #860
@mscreations is the Raspberry Pi powered by the TV? If so, I suggest you change that ASAP as that will cause the Screenly installation to break. Replace that with a proper power supply.

[2018-07-12 15:23] mscreations commented on #860
It has a safe shutdown script that runs when power is shut off. Basically it is powered separately, but also has a connection to the tv. If tv is on power is turned on. When the tv shuts off, a script executes a safe shutdown eg. ``` sudo halt ```. I use something similar with my retro pi installations.

[2018-07-16 11:33] michburkhalter commented on #669
@vpetersson Which expiremental branch do you mean?

[2018-07-16 11:38] antonmolodykh commented on #669
@michburkhalter @vpetersson talks about the experimental version of Screenly OSE that we recently published. It includes the new browser with hardware acceleration support (as a replacement for old uzbl), and migration of all services to the docker. To try it follow the steps under 'Manual upgrade' [here](https://www.screenly.io/ose/) and answer yes to the question about experimental version.

[2018-07-16 11:44] michburkhalter commented on #669
@antonmolodykh yeah I just saw that I can choose Experimental when I run the installation script. I'll try it when I have 5 minutes to spare.

[2018-07-16 20:11] arothmanmusic opened #864 "Wrong screen resolution on Westinghouse TV"
#### Overview of the Issue

I've set up Screenly OSE on a Raspberry Pi 3. It loads a single asset - a webpage with a full-screen 1920x1080 slideshow. This works perfectly on two Vizio TVs I've tested it with. However, the TV it's supposed to play on is a Westinghouse. On that particular TV, Screenly boots up 480p only. I get black bars down the sides and only the top left corner of the picture. If

[2018-07-17 06:04] michburkhalter commented on #669
@antonmolodykh @vpetersson I ran the installation script and selected Experimental. If I cd into home/pi/screenly and hit "git status" it tells me "_On branch experimental_" and "_up-to-date with 'origin/experimental_'".
Unfortunately the Jenkins Blueocean Pipeline builds page is still not fully loaded. No change to the previous version.

[2018-07-17 06:15] quyet-nguyen opened #865 "Build from resin or scripts broke rtmp streaming on Raspberry 3 B+"
(Edit: Building the production branch through rensin.io broke too with same error, so may be it is the dockerfile error?)
Building screenly through resin.io or https://www.screenly.io/install-ose.sh broke the rtmp stream on my OBS (Both NvEVC and x264 ) > nginx + rtmp setup while the prebuilt image works.
Error log:
[code]

[2018-07-17 09:35] vpetersson commented on #669
@michburkhalter You don't happen to have a public Blueocean instance that we could test against?

[2018-07-17 10:51] michburkhalter commented on #669
@vpetersson Nope, sorry. Our Blueocean instance is not public.

[2018-07-17 21:51] JonnyTech commented on #778
Ok, thanks. I shall try again soon with newer builds.

[2018-07-18 13:58] dragonunit opened #866 "Wordpress web server heavy usage"
I have digital signage running on wordpress with Divi Builder pulling a couple of pages from that website. The web server is constantly getting hammered to the point where the external IP of the locations where Screenly is deployed get blocked.

Is there any way to have screenly cache the pages for a week (they are only updated once weekly)

* Raspberry Pi Hardware Version: Raspi3 B+
* Screenly OS

[2018-07-18 14:06] antonmolodykh commented on #865
Yes, we know that now there are problems with Screenly OSE on resin.io. now we recommend using the last official image.
what do you mean?

You mean you ran a clean installation and ran into problems?

[2018-07-18 14:22] vpetersson commented on #866
No, you can't cache an entire website like that in Screenly. That said, something is probably wrong with the WordPress configuration if that's the case (unless you have thousands of devices hammering it). Try installing a caching plugin on Wordpress to see if that solves the issue.

[2018-07-18 14:39] quyet-nguyen commented on #865
Both clean install and building through resin. I figured out the problem was because the gọi memory is by default 16mb, which is not enough for stream playback. At least 32mb required

[2018-07-18 14:39] #865 closed

[2018-07-18 16:02] dragonunit commented on #866
Its only 3 devices. I will check with the web host on what the issue is. I have caching plugins, minify and css combination. Weird.

[2018-07-18 16:56] RoseLD opened #867 "accessing terminal screen via keystroke"
Ctrl-Alt-F1 is not working to access the terminal screen for my Raspberry Pi running Screenly.
I'm using 2 different Raspberry Pi's to run Screenly.  I installed via NOOBS.  One I booted w/ a wired connection upon setup and installed Screenly so that I can boot up via Raspbian or Screenly.  The other I installed Raspbian only (did not have an internet connection upon installing), so I used the cur

[2018-07-19 00:32] mscreations commented on #860
I had a chance to look at this today. There are a couple of duplicate files (based on the md5sum of the file) where only one appears in the database. The duplicates can be safely deleted. The cron job wouldn't help as it is only looking for *.tmp files, but the files that are in my assets directory are the final filename already. Some of the files are duplicates, but not 100% identical. As an exam

[2018-07-19 06:58] vpetersson commented on #860
Also, it should be pointed out that there is no de-duplication process in Screenly OSE. If you upload the same file 10 times, it will appear 10 times.

[2018-07-19 07:22] vpetersson commented on #866
Interesting. Well, if three devices can take down your web server, something is definitely wrong.

[2018-07-19 10:02] vpetersson opened #868 "Issues adding video to resin device"
#### Overview of the Issue

Issue with video parsing on Resin.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Deploy master to resin
* Press Add Asset
* Upload a video

You will receive the following error:

[code]

### Environment

* Raspberry Pi Hardware Version: Raspberry Pi Zero
* Screenly OSE Version: latest 379c417

[2018-07-19 10:34] vpetersson commented on #868
I tried to bump up the GPU_MEM to 96MB but that didn't make a difference.

[2018-07-20 15:19] vpetersson commented on #851
Sure. `git branch` from within /home/pi/screenly should tell you.

[2018-07-24 07:33] vpetersson commented on #802
Closing out ticket due to interactivity. Please comment if this is still the case.

[2018-07-24 14:11] vpetersson commented on #864
@arothmanmusic That's strange.

When you say "latest" does that mean the latest disk image?

That should be ctrl+alt+f1

[2018-07-24 16:01] arothmanmusic commented on #864
Yeah, I meant ctrl+alt+f1 - just a typo. :)

"Latest" meant I went into the shell and ran $ bash <(curl -sL https://www.screenly.io/install-ose.sh) that day. I'm not sure what the version number was.

I actually have since overwritten the card and moved on to other methods because I couldn't get it to work within my deadline, so I don't have the details. Sorry about that...

[2018-07-25 07:16] lukashaider opened #870 "Screenly starts into Terminal"
#### Overview of the Issue

Everytime I make the IP Address static I have a 80% chance that screenly ose starts into a terminal.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Download "2018-05-04-Screenly_OSE_4GB.zip" Release
* Flash img onto SD Card
* Boot from SD Card
* change to static IP Address "/etc/network/interfaces"
* reboot
* 3 Dots appear. ~80% chance that a terminal s

[2018-07-25 17:08] vpetersson commented on #870
I've seen something similar with older Pis. We'll see if we can take a look at that in the near future.

[2018-07-25 19:12] bhagemann opened #871 "Stuck on Screenly Splash Screen with experimental update"
#### Overview of the Issue

Installed a new image of Sprint7 on SD card.  Booted up on RaspPi.  Configured wi-fi and enabled SSH.  Rebooted the Pi via SSH.  Ran the bash line to upgrade the card to the latest everything (experimental version, upgrade system and so on).  Rebooted.  Got blue Screenly screen which it says on.  Doesn't begin any slideshow.  Can't log in with web front end (get ngnix b

[2018-07-26 12:50] Jonovich opened #872 "No screenly.conf file?"
Built a ScreenlyOSE system using the "My Michelle" 2018-05-04 image v0.15.1 and am trying to implement the basic-authentication and I can't find a screenly.conf file in the /home/pi/screenly folder that the basic-authentication documentation talks about.

Jon.

H/W Raspberry Pi 3 Model B, 8Gb SD.

[2018-07-26 17:31] vpetersson commented on #872
@Jonovich The path is `/home/pi/.screenly` not `/home/pi/screenly`. I realize that this might be confusing.

[2018-07-27 08:38] Jonovich commented on #872
Doh! I'm a muppet! Thanks muchly.

[2018-07-27 08:38] #872 closed

[2018-07-27 09:36] vpetersson commented on #867
@antonmolodykh could you please take a look?

[2018-07-27 09:36] vpetersson commented on #871
@antonmolodykh can you please take a look?

[2018-07-27 11:16] dimiclic opened #874 "crontab no available when using resin.io"
#### Overview of the Issue

Having Screenly OSE running on multiple devices with resin.io
Problem: crontab -e
    service is not installed and can not be installed both in host as in main

* Raspberry Pi Hardware Version: 3B
* Screenly OSE Version: 379c417

[2018-07-27 11:20] vpetersson commented on #874
This is expected as there is no crontab running inside the container. @antonmolodykh I think we should probably start moving to Celery or something similar to be able to process background tasks better.

[2018-07-27 12:17] dimiclic commented on #874
Are there plans to get crontab working in the near future?

[2018-07-27 22:10] vpetersson commented on #874
No, using a crontab in a dockerized environment is not the proper solution. This logic needs to be written with a worker (like Celery).

[2018-07-30 04:58] netjordanlee commented on #871
+1

Also getting this issue.

[2018-07-31 02:03] mscreations commented on #871
I've run into this issue as well. I was trying to see if the experimental version would work on my Pi Zero, and I found that the device boots and I can ssh into it, but none of the docker containers start up automatically. Issuing a `docker start screenly-ose-websocket && docker start screenly-ose-server && docker start screenly-ose-viewer` does take care of it though.

[2018-08-01 19:56] eege commented on #802
issue still continues with latest version. To re-produce the problem, please update your /etc/rc.local with following line after "# Disable wifi power management" line

sleep 10
ifconfig wlan0 hw ether 36:31:62:c8:3b:9a

[2018-08-02 10:41] vpetersson commented on #871
@mscreations Interesting find. We have a new update for the Pi Zero in the pipeline, but I don't have an ETA for this yet. The other issue is a bit stranger and needs to be investigated.

[2018-08-02 10:47] vpetersson commented on #802
@eege That's unfortunately not a viable solution upstream as what you are essential are doing is to change the MAC address of the wifi device.

[2018-08-02 12:51] antonmolodykh commented on #871
I confirm the problem. I don't understand why this is happening, because I did not change anything with regard to launching containers. I'll let you know when I fix it

[2018-08-02 13:47] mscreations commented on #871
The weird part is after i manually start the containers the first time, it works fine afterwards. I have had no issues with it starting afterwards. I do however have an issue where the whole pi locks up. No ssh, no web server response, and the viewer stops.

[2018-08-02 18:25] vpetersson commented on #802
@eege This is kinda outside the scope of Screenly tbh. If there's a blocking process in `/etc/rc.local`, the entire boot process will stop. This is expected. You need to implement this using something more appropriate, such a `systemd` service.

[2018-08-02 18:25] #802 closed

[2018-08-10 05:14] netjordanlee commented on #632
Please add an "Always Active" option. This has been a major sticking point for me, there has been a number of times when the end date hasn't been set properly and suddenly our screens are just showing a blank interface...

[2018-08-10 17:46] vpetersson commented on #861
Ok looking closer at this, I am pretty sure it's related to that. Let's add a cache buster.

[2018-08-10 17:46] vpetersson commented on #866
Closing out this as I'm pretty sure it's unrelated to Screenly.

[2018-08-10 17:46] #866 closed

[2018-08-10 17:47] vpetersson commented on #806
@jeffdesc Forgot to update you on this, but could you try the latest experimental branch? It has the new browser.

[2018-08-10 17:48] #827 closed

[2018-08-13 14:37] vpetersson opened #876 "Deprecate cronjobs in favor of worker"
As pointed out in #874, some features will not work in resin/dockerized environment. To solve this, we need to introduce a worker that can run inside a docker container.

I suggest that we use [Celery](http://www.celeryproject.org/) and port all cronjobs to run there..

[2018-08-13 14:37] vpetersson commented on #874
Will be fixed in #876.

[2018-08-13 14:37] #874 closed

[2018-08-13 14:38] #815 closed

[2018-08-13 14:55] vpetersson commented on #864
Closing out due to lack of response.

[2018-08-13 14:55] #864 closed

[2018-08-13 14:58] #840 closed

[2018-08-13 15:02] #814 closed

[2018-08-13 15:03] vpetersson commented on #821
Closing out due to lack of response.

[2018-08-13 15:03] #821 closed

[2018-08-13 15:25] #750 closed

[2018-08-13 15:44] vpetersson commented on #772
@mrampersad Perhaps a better solution is something like this:

 * Create a file called 'wifi-password' on the boot partition (which is readable from Windows) with a password.
 * The system will then look for this file during initiation. If the file exists, it will use it.
 * When done, it will delete the file for security reasons.

What do you think? I'd be happy to accept such pull request.

[2018-08-13 15:47] leonelwilliams commented on #529
I don't have use for screenly anymore at the moment, unfortunately, but loading resources with no certificate verification isn't really the best practise as there's no guarantee the request or response wasn't viewed or modified.

[2018-08-13 15:48] vpetersson commented on #529
@leonelwilliams Agreed. This was partially due to the fact that we had to support older versions of Raspbian. We are now moving to docker, which should help us keep things more up to date.

[2018-08-13 15:48] #529 closed

[2018-08-13 15:49] vpetersson commented on #726
Solved in some previous fix as i cannot reproduce it on the [demo site](http://ose.demo.screenlyapp.com/).

[2018-08-13 15:49] #726 closed

[2018-08-13 15:52] vpetersson commented on #409
Closed in #840.

[2018-08-13 15:52] #409 closed

[2018-08-13 15:53] vpetersson commented on #732
We've already added auth. See [this](https://github.com/Screenly/screenly-ose/blob/master/docs/http-basic-authentication.md) page for details.

[2018-08-13 15:53] #732 closed

[2018-08-13 15:56] vpetersson commented on #26
@benurbano I wrote a [blog post](https://www.screenly.io/blog/2017/07/02/how-to-automatically-turn-off-and-on-your-monitor-from-your-raspberry-pi/) on this topic. The issue is that it is very hard to do well in my experience. With my limited sample set, I haven't found a way to do this that works consistently with power on/off across a diverse set of monitors.

That said, it is fairly easy to add

[2018-08-13 15:56] #26 closed

[2018-08-13 16:00] vpetersson commented on #749
@justinkruit did you try the new experimental branch?

[2018-08-13 16:05] vpetersson commented on #792
(Sorry for the late response. Missed this one.)

@mattjford That's a very cool feature. However, to my knowledge, we can't really run Selenium inside either the old browser (uzbl) or new browser (qt-webkit) since it isn't supported there.

[2018-08-13 16:08] vpetersson commented on #752
@antonmolodykh should this be closed?

[2018-08-13 16:12] vpetersson commented on #790
@Freyli Could you try the experimental branch?

[2018-08-13 16:15] vpetersson commented on #721
The more I think about this, I think this is the wrong approach. A better solution would be to use VNC or similar instead.

[2018-08-13 16:17] vpetersson opened #877 "Resolve pull request 607"
I'd like to clean out the pull requests. Here's one pending with comments:
https://github.com/Screenly/screenly-ose/pull/607

I do want to make sure that @daniep01 gets credit for his work tho.

[2018-08-13 17:50] #68 closed

[2018-08-13 17:50] #349 closed

[2018-08-13 18:04] #275 closed

[2018-08-13 18:29] vpetersson commented on #697
Solved by moving to docker w/ dropped permission.

[2018-08-13 18:29] #697 closed

[2018-08-14 00:37] alexstojda commented on #632
@netjordanlee please open a new issue/feature request. Don't hijack an existing one :)

[2018-08-14 00:39] #632 closed

[2018-08-15 06:07] antonmolodykh commented on #842
I applied this theme, but the visible changes are very small. I think OSE needs a more serious redesign
![image](https://user-images.githubusercontent.com/25369651/44133816-990e665c-a083-11e8-9b7a-1ca747c97313.png)
![image](https://user-images.githubusercontent.com/25369651/44133839-b6e2bf34-a083-11e8-8a16-dacb11732e61.png)

[2018-08-15 06:15] antonmolodykh commented on #752
@vpetersson yes, it should be closed

[2018-08-15 13:17] vpetersson opened #878 "Solve security vulnerabilities"
[Snyk](snyk.io) reported a number of vulnerabilities. We should update and patch them.

<img width="903" alt="screen shot 2018-08-15 at 2 16 15 pm" src="https://user-images.githubusercontent.com/357664/44149973-d9fb505a-a095-11e8-9fa8-73277d06c701.png">
<img width="887" alt="screen shot 2018-08-15 at 2 16 10 pm" src="https://user-images.githubusercontent.com/357664/44149974-da1c2b90-a095-11e8-9026

[2018-08-16 11:10] jeffdesc commented on #806
@vpetersson Thanks for the update. Can I just update my existing installation or do you want me rather to use a fresh install?

[2018-08-16 11:58] vpetersson commented on #806
You could upgrade the existing one to the experimental branch

On Thu, Aug 16, 2018 at 1:10 PM Jeffrey Descan <notifications@github.com>
wrote:

[2018-08-16 16:12] curbarthedog opened #879 "Moved new installation to new network, powered on but no resin page to connect to new network"
#### Overview of the Issue

I have just built a new Screenly installation on a Pi 3 B+. I set it up on one wifi network then moved it to a new location with a different wifi network. I am not getting the Resin WiFi hotspot page to connect it to the new network. The screen goes straight to the player and starts to display the loaded assets.

#### Reproduction Steps
Set up new device with latest ima

[2018-08-17 12:08] Minimerl commented on #806
Had a similar problem earlier today where Screenly displayed the legend but not the graph
Setting a custom width on the legend in Grafana did the trick

[2018-08-18 18:32] hermy65 opened #880 "Unable to display rtsp feeds or streaming urls"
Just installed ScreenlyOSE on a pi3 with a sunfounder 5" LCD to display a loop of a couple cameras using RTSP feeds. During install i tried normal, developmental and experimental and all 3 give me the same issue.

I can pull the RTSP feed in on VLC without issue but when i add it to screenly only 1 will display the other two just cycle back to the screen that tells me what ip to go to so i can man

[2018-08-19 06:15] vpetersson commented on #880
@hermy65 For RTSP feeds, you must use `rtsp://` instead of `http://` for the player to be able to pick up that it is indeed an RTSP feed.

[2018-08-19 06:16] #880 closed

[2018-08-19 14:57] hermy65 commented on #880
I understand that, i said i tried both the RTSP feed AND motioneye's streaming url with is HTTP. Neither work and the streaming url from motion is just continually updating jpg's throws the screen in the image i attached. When using RTSP it just tells me what ip to use to modify the configuration

[2018-08-20 12:06] vpetersson commented on #879
@curbarthedog Did you you issue a "Reset wifi config" in the settings? If not, it is expected that the hotspot page will not appear.

[2018-08-20 12:07] vpetersson commented on #806
Interesting workaround @Minimerl.

@jeffdesc The root cause is likely that the version is of webkit in the production branch of OSE is rather dated by now unfortunately. We are working on this in the experimental version.

[2018-08-20 12:13] vpetersson commented on #880
@hermy65 RTSP is a bit of a mess unfortunately, as it covers a wide range of codecs etc. In short, the feed must be an h264 feed for it to work. The best way to troubleshoot this is to install a regular Raspbian version and then try to get the feed working using `omxplayer` (which is what Screenly OSE uses behind the scenes).

I'd also recommend that you take a look at [ispyconnect](https://www.is

[2018-08-20 19:30] hermy65 commented on #880
@vpetersson When i pull my camera in through VLC it says t is using h264 as can be seen in the screenshot below. Is there any logging somewhere i can take a look at to see if there are any errors?

https://imgur.com/OzFdsiU

[2018-08-20 20:47] vpetersson commented on #880
No, unfortunately not. You'd have to debug it with `omxplayer`.

[2018-08-21 18:15] curbarthedog commented on #879
I do now have this working by doing what you said.

Do you think this is the right behaviour? You could forsee the situation where an IT department changes the WiFi installation without notifying those with the Screenly setups and they would then be stuck?

Thanks for the help

________________________________
From: Viktor Petersson <notifications@github.com>
Sent: Monday, August 20, 2018 1:06:12

[2018-08-21 22:00] acruzmx commented on #871
+1 .. Same here, except that when I do docker start screenly-ose-websocket the container does not exist... Any idea?

[2018-08-22 15:36] vpetersson commented on #871
@acruzmx Did you try it with the latest changes to the experimental branch?

[2018-08-22 15:42] vpetersson commented on #879
Yes, this is the expected behavior. In short, there's no way (easy/reliable) way to differentiate between say a network outage (someone pulls the power of an access point) or a network change. Since we want to air on the side of caution and optimize for viewing experience, we do not want to throw up the dialog on the screen again (which also is a large security issue).

We also recommend to always

[2018-08-22 15:42] #879 closed

[2018-08-22 18:25] umeboshi2 opened #884 "six"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

I couldn't find where ```six``` was being used in the code.  It seems to be added at d60931f4771aeb6ce9d6edf9cedce1b2f5626234 "Improved uptime logic"

Is this project preparing for a transition to python3 before the EOL in 2020?

I have started adjust

[2018-08-22 19:09] acruzmx commented on #871
Hi, thanks for asking. I was using the latest update. I ended up reinstalling the old one.
The root problem I was trying to solve is that a couple of klipfolio dashboards are stalling an loosing connection, even though I can get to the console via SSL. I'm then able to reboot, over and over
Thanks again

[2018-08-23 06:25] antonmolodykh commented on #884
@umeboshi2 no, you don't need to use the docker environment. Tests were written taking into account that it will be run on a desktop machine and CI.
To run the tests, you can just run `nosetests -v -a '!fixme' --with-isolation`. See the preparatory steps [here](https://github.com/Screenly/screenly-ose/blob/master/.travis.yml).

[2018-08-23 15:12] umeboshi2 commented on #884
@antonmolodykh Thanks!  I didn't even notice the travis file.  If you have any guidance or preference on how you want the "sixed up" code to look, please let me know.  Much of how this is done is largely matters of taste and preference, and I would like to make something acceptable.

[2018-08-23 17:14] jonpfeiler commented on #721
I am still having an issue with this. Is there any way to enable the keyboard when directly accessing screenly on the pi?

[2018-08-24 14:57] umeboshi2 commented on #884
Hey, this ```rtmp.py``` in the tests is pretty horrendous!  I know it's not your code, but I'm not sure how to handle the problem.  I patched it to use print functions, but it's really ugly, and it looks like upstream isn't committed to doing much with this code.

[2018-08-25 00:30] umeboshi2 commented on #884
I ran ```autopep8``` on the rtmp code.  It is still messy.  It seems that exec has changed from a statement to a function, but I never noticed.  I have generally considered the use of exec to be a bad practice.  I sent these changes in an upstream PR, but I seriously doubt that the code is being used by anybody anymore.  It may be beneficial to call the rtmp.py with ```python2``` explicitly and on

[2018-08-25 10:12] antonmolodykh commented on #843
In fact, I changed the installation to use Balena, but when testing I could not run Balena on Pi1 and Pi Zero W. I asked about it in the [resin chat](https://gitter.im/resin-io/chat), but I have not received an answer yet.
The current progress on this task is [here](https://github.com/greatfruitomsk/screenly-ose/tree/Switch-to-Balena).

In addition, if we will use Balena, then using `command` modu

[2018-08-26 18:10] umeboshi2 opened #889 "rtmplite"
Erased template.  No bug, just a discussion issue.

After giving up on rtmplite, I decided to take a look around for alternatives.

I found [this](https://github.com/iizukanao/node-rtsp-rtmp-server), which may be more useful in the future.  It seems that this probject is more actively maintained.  As a bonus feature for this project, it seems to be implemented in ```coffeescript```.  I may start t

[2018-08-27 23:49] umeboshi2 opened #891 "Consider closing modal upload window on successful upload"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

The modal view remains open on successful upload.

#### Reproduction Steps

* Press Add Asset
* Drag and drop image
* Wait for the modal view to close, and an alert notification of success pops up.

### Environment

current master on debian/stretch am

[2018-08-28 13:41] umeboshi2 commented on #891
I thought about it and decided to try another upload widget.

[2018-08-28 13:41] #891 closed

[2018-08-28 17:55] #823 closed

[2018-09-02 09:56] pioneer01 opened #892 "memory leak uzbl-browser"
#### Overview of the Issue

uzbl-browser consumes more and more memory (memory leak)

#### Reproduction Steps

Run "top | grep uzbl" while screenly is running.  Memory is increasing over some hours.

### Environment

* Raspberry Pi Hardware Version: Pi 3 Model B
* Screenly OSE Version: latest Screenly OSE

I "solved" the problem with the following workaround: A cronjob restarts the screenly-viewer

[2018-09-03 08:57] vpetersson commented on #892
@pioneer01 There is some logic for that built-in already. However, the *real* solution is found in the experimental branch where we swap out uzbl entirely.

[2018-09-03 08:57] #892 closed

[2018-09-03 12:09] #316 closed

[2018-09-03 14:43] alciomarhollanda opened #895 "Can I connect to a hidden SSID / WiFi Access Point with Screenly-ose?"
Can I connect to a hidden SSID / WiFi Access Point with Screenly-ose?

[2018-09-03 16:00] vpetersson commented on #895
Yes, but you need to do some command line magic. [This post](https://stackoverflow.com/questions/37312501/how-do-i-detect-and-connect-to-a-hidden-ssid-on-my-raspiberry-pi-3-raspbian) should help point you in the right direction. Alternatively, you can use [nm-cli](https://stackoverflow.com/questions/35476428/how-to-connect-to-hidden-wifi-network-using-nmcli), which is arguably a bit more complicat

[2018-09-03 16:00] #895 closed

[2018-09-05 04:59] rusko124 commented on #778
@JonnyTech could you say the newer builds solved the problem?

[2018-09-05 07:42] rusko124 commented on #868
I reproduced this issue with RaspberryPi Zero W.
This alert was solved after
[code]
but still after next trying, I got a new alert
[code]
It is solved with
[code]
that it can be done more correctly

[2018-09-05 15:25] cahyahari opened #896 "ask where do I find screenly logo on my raspberry"
how I find screenly logo asset on my raspberry?

[2018-09-05 15:28] vpetersson commented on #896
I'm not sure what you mean. Can you elaborate?

[2018-09-06 12:45] vpetersson commented on #816
I was wrong. The resolution in the image is 800x480.

[2018-09-07 09:43] #816 closed

[2018-09-07 10:33] vpetersson commented on #868
@rusko124 also see [this comment](https://support.screenly.io/hc/en-us/community/posts/360016020073-Video-not-playing-anymore-screenly-resin-io?page=1#community_comment_360001891733)

[2018-09-10 05:59] rusko124 commented on #868
@vpetersson
I looked at the comment. I confirm that this problem exists. It is necessary to up the gpu_mem to 64MB.

[2018-09-10 10:17] vpetersson commented on #868
@rusko124 Is there any way to programmatically tell Resin (in the build description perhaps) to use this config? Also, perhaps more importantly, were you able to make it work (even after reboot)?

[2018-09-10 10:39] vpetersson commented on #868
Got it!

[2018-09-10 11:54] jeffdesc commented on #806
@vpetersson sorry for my late answer. I am busy at the moment on my job. Is the last issue fixed already and I can test this or do you want me to wait a little longer before testing?

[2018-09-10 11:57] vpetersson commented on #806
@jeffdesc Feel free to test whenever you got time.

[2018-09-11 06:02] rusko124 commented on #848
@vpetersson
I confirm that this problem exists, i tried find solves for this problem but at the moment I can not offer a correct and beautiful solution. As far as I know, Screenly is planning to aborted the uzbl browser, so does it make sense now to look for a solution?

[2018-09-11 06:51] vpetersson commented on #848
@rusko124

Yes, this is the planned replacement for `uzbl` so it makes sense to spend time on finding a solution here.

[2018-09-12 10:15] #896 closed

[2018-09-12 12:01] #861 closed

[2018-09-13 11:17] vpetersson commented on #119
Thanks @rusko124!

[2018-09-13 17:14] vpetersson commented on #848
@brandfocus It's already in the works. You can try it out by switching to the experimental branch.

[2018-09-14 08:30] brandfocus commented on #848
@vpetersson There seem to be compile issues with Resin on the experimental branch...

`[31m[Error][39m        Error: The command '/bin/sh -c curl -s https://bootstrap.pypa.io/get-pip.py | python &&     pip install --upgrade -r /tmp/requirements.viewer.txt &&     pip install --upgrade -r /tmp/requirements.server.txt &&     pip install --upgrade -r /tmp/requirements.websocket_server.txt' returned a

[2018-09-14 09:13] vpetersson commented on #848
Interesting. I don't think we tested the experimental release on Resin yet.

[2018-09-14 09:56] vpetersson commented on #119
This feature breaks when you try to edit an asset.

![localhost_8080_ laptop with hidpi screen](https://user-images.githubusercontent.com/357664/45543548-ae687600-b80c-11e8-95df-b82bd1378540.png)

How to reproduce:

 * Upload an image asset
 * Click edit
 * Select "Play for: Forever"

Traceback:

[code]

[2018-09-14 10:00] vpetersson opened #902 "Missing visual indicator after successfully uploading image"
#### Overview of the Issue

There is no visual indicator when you have successfully uploaded an image.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press Add Asset
* Select an image file
* Press Save

### Environment

* Raspberry Pi Hardware Version: Local dev enviroment
* Screenly OSE Version: master (2620358)

[2018-09-14 10:06] rusko124 commented on #119
@vpetersson
made fixes

[2018-09-14 10:18] #119 closed

[2018-09-14 10:19] brandfocus opened #904 "Errors when compiling experimental branch on Resin"
There seem to be issues when compiling Resin on the experimental branch...

[code]

[2018-09-15 10:05] Charly85 commented on #137
Hi,

Can we still change the port configuration in the latest version?

Thanks.

[2018-09-15 10:40] vpetersson commented on #137
In theory, yes, but I haven't done that test myself. You will likely need to udpate both the application port and the port that Nginx binds to.

[2018-09-16 23:13] #858 closed

[2018-09-17 21:31] luismtz9 opened #905 "Unable to modify dates for assets in Firefox & Safari"
#### Overview of the Issue
We just updated to the newest master image and while the interface looks great it does not seem to work well with Safari and Firefox. In Safari, the Edit asset window loads but the date and time cannot be modified as the popup windows appear behind the asset window. Manually inputting a date does not work either can causes the web interface to freeze. In Firefox, I am un

[2018-09-18 08:11] vpetersson commented on #905
@luismtz9 Could you try upgrading to the latest development version and see if that resolves the issue? W'eve changed a fair amount of things since the last release as we are overdue for a new stable release.

[2018-09-18 14:28] victorehi commented on #799
Hey @vpetersson,
When you say Manual Installation for the Raspberry Pi 3 Model B+ and Screenly Pro 2, what do you mean?

[2018-09-18 14:33] vpetersson commented on #799
@victorehi I'm not sure this is relevant to this current issue, but take a look at [Screenly Pro vs OSE](https://www.screenly.io/screenly-ose-vs-pro/) for the difference between OSE and Pro as well as the Option 3 on the [OSE page](https://www.screenly.io/ose/).

[2018-09-19 08:09] noelboss commented on #238
I could not find this file on my installation (latest release) and after creating it and rebooting, mouse or keyboard did not show up. Do you know how to get mouse and keyboard working on the latest releases?

[2018-09-19 08:14] vpetersson commented on #238
Hi All,

Screenly is really not designed (nor will it be) to be used in kiosk mode. There are other solutions out there that are far better suited for that use case.

[2018-09-19 12:39] brandfocus commented on #904
https://github.com/Screenly/screenly-ose/pull/906

[2018-09-19 14:15] a2tech opened #907 "Incorrect bootstrap in newest test build"
On the newest available test build the web interface looks for bootstrap.css but bootstrap.min.css is all that exists in screenly/static/css

* Raspberry Pi Hardware Version: 3

[2018-09-19 14:21] abrenoch opened #908 "Terminal shortcut keys no longer working"
It appears in the "My Michelle" release the raspbian shortcut to open the terminal (ctrl+alt+F1/F2) no longer works once screenly is loaded. I can get to the terminal for a brief moment during the boot sequence, but not once screenly starts.

To reproduce simply hook up a keyboard and try the shortcut ctrl+alt+F1. This used to work fine as it was how I would resolve networking issues when not acce

[2018-09-19 15:11] abrenoch opened #909 "Web assets get cached"
I am working on a page to report some internal metrics at our company, and in the process discovered that screenly appears to be caching the pages (or something to the same effect). I was not able to see the changes I had made until I restarted the pi.

To reproduce I simply added a locally hosted site, made some changes after screenly displayed the site (I did both js and html), and wait for the

[2018-09-19 15:18] vpetersson commented on #909
@abrenoch Can you reproduce this if you switch to the experimental branch?

[2018-09-19 15:30] abrenoch commented on #909
@vpetersson I'll try to do that if I get the opportunity... Is there an easy way to switch back if there are any problems in that branch?

[2018-09-19 15:31] vpetersson commented on #909
Yes, you can just re-run the installer and switch back to the stable branch.

[2018-09-19 15:33] abrenoch commented on #909
Ok cool, I'll try to do that in the coming week!

[2018-09-20 11:09] vpetersson commented on #907
@rusko124 Can you confirm this?

[2018-09-20 14:20] luismtz9 commented on #905
I updated to the latest image from the master branch (I assume this is the development version) today and it seems that I am unable to modify the dates in any browser now. The calendar & time popup's appear as expected however the dates are not saved once you click outside the popup. The start and end date then revert to a one month window from the minute I tried to modify it. This behavior is the

[2018-09-20 16:18] vpetersson commented on #905
ping @rusko124

[2018-09-20 23:36] netjordanlee opened #910 "Settings Page > Default Duration / Default Streaming Duration blank"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

Settings page does not retain the the settings for default duration or streaming duration

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Open settings
* Set default duration
* Save settings
* Reopen settings page

### Environment

* R

[2018-09-20 23:38] netjordanlee opened #911 "Dashboard > Having a blank default duration causes JavaScript error and no assets displayed"
#### Overview of the Issue

Having a blank default duration causes the dashboard to show no assets and disables javascript functionality.
See: https://github.com/Screenly/screenly-ose/issues/910

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Save settings page with blank default duration
* See related issue: https://github.com/Screenly/screenly-ose/issues/910

### Environment

* R

[2018-09-21 12:35] vpetersson commented on #905
@luismtz9 Could you please upgrade to the latest development version? @rusko124 pushed a potential fix.

[2018-09-21 12:35] #905 closed

[2018-09-24 08:10] #860 closed

[2018-09-25 06:16] netjordanlee commented on #434
Requesting to reopen this as I have experienced this issue. It's easiest to replicate by setting up a script to cycle through a few different secured pages.

For reference the page I last saw the issue on is secured with the following settings:

[code]

Unfortunately, I'm not at liberty to share the URL.

[2018-09-25 08:18] rusko124 commented on #711
I was able to create an image with these changes https://github.com/rusko124/pi-gen/commit/f8d370cab14b912940e33f3a74e1b7d96015c71d.
For a basis took fork pi-gen with last changes and commits from here https://github.com/Screenly/pi-gen/tree/screenly-ose-lab.

Start build with:
[code]

Results:
[code]
Result from ansible logs:
[code]

@vpeterson Can you look?

[2018-09-25 11:29] vpetersson commented on #434
@netjordanlee Can you try the experimental branch and see if that resolves it?

[2018-09-25 18:12] SoloGraphix opened #914 "Screenly OSE/Pi Zero W Reboots every 5-6 minutes"
#### Overview of the Issue

I have a fresh Pi Zero W from CanaKit, Screenly OSE installed via Noobs.  All setup went smoothly, wifi is configured, SSH Enabled. JPG only assets uploaded.  Everything works for about 5-6 minutes and then the Pi reboots.  I tracked this cycle 4 times and it is consistently 5-6 minutes.

### Environment

* Raspberry Pi Hardware Version: Raspberry Pi Zero W
https://www.

[2018-09-26 07:46] #817 closed

[2018-09-26 16:37] vpetersson opened #916 "Add API call for what's currently being played"
See discussion [here](https://support.screenly.io/hc/en-us/community/posts/360016094294-OSE-API-get-the-current-asset).

In short, it would be desirable to have an API call to determine what is currently being shown on the screen.

[2018-09-27 03:40] rusko124 commented on #754
Hi @edocastri ! Can u tell me, what version of screenly you use? And could you try use latest version??

[2018-09-27 12:45] ediphy-azorab commented on #721
This still appears to be an issue. Any workarounds available?

[2018-09-28 00:55] netjordanlee commented on #434
It is on all active branches.

[2018-10-01 07:50] damienpeerbolte opened #918 "ReactJs doesn't work"
I'm trying to display a webpage with some reactjs included, but the reactjs part of the page doesn't work.

[2018-10-01 08:37] damienpeerbolte commented on #918
I already checked "y" for experimental branch at the installation of screenly.

[2018-10-01 09:29] damienpeerbolte commented on #918
It does behave the same way on both the branches

[2018-10-01 09:36] vpetersson commented on #918
What Raspberry Pi hardware?

Also, we would need the steps to reproduce this in order to look into it.

[2018-10-01 09:36] damienpeerbolte commented on #918
It's a raspberry pi 3b

[2018-10-01 09:38] damienpeerbolte commented on #918
But if I install Raspbian Stretch(with Desktop) on the Pi and then go into Chromium, the webpage I want to display works. If install screenly directly on the pi(without raspbian) the reactjs part of the webpage won't work.

[2018-10-01 09:45] vpetersson commented on #918
Yeah, Chrome does things a bit different. However, if we are able to reprocude, we can look into it.

[2018-10-01 09:47] damienpeerbolte commented on #918
that means it's the browser that doesn't accept the reactjs, not the pi, right?

[2018-10-01 09:55] vpetersson commented on #918
Not sure. We haven't tested it very closely. Could maybe be some setting.

[2018-10-01 10:45] rusko124 commented on #870
I reproduced this issue and made fixes.
- https://github.com/Screenly/screenly-ose/commit/72c96c3a70777639fb733f6a183cc761a7ce1a43
- https://github.com/rusko124/screenly-ose/commit/5fdb7624061c821336fa72cf59358a1f2491fba6
After these changes, I haven't a console at startup anymore.
@lukashaider Can you try to apply these edits and let me know if it help you?

[2018-10-01 11:11] damienpeerbolte commented on #918
Also when I install screenly over raspbian it works, how come it doesn't work on screenly only?

[2018-10-01 11:27] damienpeerbolte commented on #918
oh wait, it's installed on lite without a desktop.. makes sense

[2018-10-01 14:52] luismtz9 opened #919 "Crontab unavailable in Resin"
Hello, I noticed that crontab seems to be unavailable when managing screenly through Resin. Is there a workaround for scheduling tasks? I was hoping to be able to schedule when a display was turned on/off and power cycle the pi every couple days to avoid lockups.

[2018-10-02 11:00] vpetersson commented on #527
Closing out this ticket as it is work in progress. The new browser is available in the experimental branch and the code can be found [here](https://github.com/Screenly/screenly-ose-webview).

[2018-10-02 11:00] #527 closed

[2018-10-02 13:03] damienpeerbolte opened #921 "Unable to render ReactJs page"
I have installed screenly ose manually with the command in raspbian. But when I boot screenly, I can't get into the terminal(CTRL+ALT+F1)

[2018-10-02 13:04] vpetersson commented on #921
Try TTY2 (ctrl+alt+f2).

[2018-10-02 13:15] damienpeerbolte commented on #921
That also doesn't work, and I can't click with the right mouse button to open for example 'Inspect Element'

[2018-10-02 13:16] damienpeerbolte commented on #921
I can open the terminal when it's still booting but a few seconds later when screenly boots fully, screenly will get on top of everything

[2018-10-02 13:16] vpetersson commented on #921
Ah, so you're using the experimental branch. Yes, that is expected since Screenly takes over the frame buffer. You need to use SSH.

[2018-10-02 13:18] damienpeerbolte commented on #921
That works!! But unfortunately I still got the ReactJs problem..

[2018-10-02 13:20] vpetersson commented on #921
If you provide complete steps to reproduce the issue, we might be able to look at it next sprint.

[2018-10-02 13:27] damienpeerbolte commented on #921
I've done the following:

- Installed Raspbian(with desktop) on sd card using etcher
- followed all the steps on the screenly ose website(the manual installation with the command) from top to bottom
- put in the website link in the web interface

On raspbian when screenly wasn't installed yet, the reactjs part of the webpage I want to display in screenly did work! But when I put in the exact same

[2018-10-02 13:31] vpetersson commented on #921
That doesn't help unfortunately. We need the exact website (or a similar website that behaves the same way) in order to test it.

[2018-10-02 13:35] damienpeerbolte commented on #921
I'm trying to display [this page](https://panels.athlinks.com/ct/panel/5b9a1f911849f). Screenly shows the page but it won't load the reactjs part. Also for example, screenly won't display [this demo page](http://ngokevin.github.io/aframe-react-boilerplate/).

[2018-10-02 13:39] vpetersson commented on #921
Changing title since it is expected that you can't access the terminal with the experimental branch.

[2018-10-02 13:40] vpetersson commented on #921
I would be *very* surprised if you would be able to get [this page](http://ngokevin.github.io/aframe-react-boilerplate/) to work on the Raspberry Pi. It is *far* too heavy on animations etc.

[2018-10-02 13:42] damienpeerbolte commented on #921
Yeah, I kinda knew that already(it was a bad example). But it should display the one I want to display, right?(a co-worker of mine told me that it worked once)

[2018-10-02 13:51] vpetersson commented on #921
Maybe, but just that by itself is pushing it. We've done a lot more work in Screenly Pro to accelerate playback. If you want to hack on the web playback performance, the source code browser is available [here](https://github.com/Screenly/screenly-ose-webview).

[2018-10-03 04:14] rusko124 opened #922 "Splashscreen screenly does not work on raspberry pi 1"
#### Overview of the Issue

When I boot the Raspberry pi 1, default splashscreen is displayed, not screenly.
It is also sometimes the same problem with Pi zero w, i think the same goes for some others.
We can see the dependence with the lower the performance, the greater the chance to get the default splashscreen.

### Environment

* Raspberry Pi Hardware Version: Pi 1
* Screenly OSE Version: [Lat

[2018-10-05 04:04] rusko124 commented on #867
Hi @RoseLD! I tried to completely reproduce your problem, but I did not succeed. Do you still have this problem? And if so, could you try installing again with the latest screenly updates?

[2018-10-05 04:10] rusko124 commented on #868
@vpetersson
At the moment I have not found a solution how to programmatically increase the value of gpu_mem. However, an increase to 64 gpu_mem is written at https://github.com/Screenly/screenly-ose/blob/master/docs/resin.md

[2018-10-05 08:16] damienpeerbolte commented on #921
Screenly is currently using UZBL as browser, right? How can I change that to for example Epiphany or maybe Chromium?

[2018-10-05 08:56] rusko124 opened #924 "Errors associated with 2 installation sources ansible."
#### Overview of the Issue

When i execute "bash <(curl -sL https://www.screenly.io/install-ose.sh)" command in latest version screenly, i get error in ansible-playbook:
[code]
The reason for this error is that we have 2 sources of installation of ansible.
-  [screenly bash script](https://www.screenly.io/install-ose.sh)
-  [requirements.txt](https://github.com/Screenly/screenly-ose/blob/master/re

[2018-10-05 10:35] vpetersson commented on #921
The 'stable' and 'development' branch are both using UZBL as a browser. That is correct.

Switching to Chromium or Epiphany is unfortunately not an option, since neither provide a framework for remote control. There's a long conversation about that in #527. The tl;dr is that the experimental branch is now running a different browser.

[2018-10-05 10:38] damienpeerbolte commented on #921
Ok, I'll upgrade screenly to experimental(currently development branch) to see if it will work,

[2018-10-05 11:09] damienpeerbolte commented on #921
I've upgraded screenly to the experimental branch and the reactjs part of the page still doesn't work.

[2018-10-05 19:25] ssantora002 opened #925 "'Unable to resolve local IP address' after reboot of device"
Overview of the Issue

Install Screenly OSE from GitHub image 2018-05-04-Screenly_OSE_4GB (latest version) Raspberry Pi Zero w/WiFi. Everything works as expected until I reboot the device. After reboot the screenly splash screen says 'Unable to resolve local IP address'

Reproduction Steps

Steps to reproduce this issue, eg:

* Flash Screenly OSE from GitHub image 2018-05-04-Screenly_OSE_4GB to SD

[2018-10-06 04:00] chucklin72 commented on #770
Brand new install
2018-05-04-Screenly_OSE_4GB
Raspberry Pi 3 B+
state 0x120009 [HDMI CEA (16) RGB lim 16:9], 1920x1080 @ 60.00Hz, progressive

Doesnt get off the splashscreen except if I use Hackernews. Screenly clock and weather do not work.

root@raspberrypi:/home/pi# apt-get upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... D

[2018-10-06 04:43] chucklin72 commented on #770
Shorter video ( 11 sec ) instead of 2 minute with G2 GL worked. still cannot get web to work.

[2018-10-07 20:21] NikFort opened #926 "Plymouth and installation bash"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue
When i install my Lite image and then i try to install screenly with the command there comes no "Picture" on the Screeen only the Command Promt. But ok i can use also the preinstalled image from screenly, but then i want to get a new loadingsscreen, bu

[2018-10-08 14:28] ssantora002 opened #929 "Cannot change WiFi networks even with Development upgrade."
Overview:
I'm trying to connect to a different SSID. The 'Reset Wifi Settings' that is on the Screenly Settings page is not working properly. I moved the Pi to a new office where the WiFi is different. The

Reproduction Steps:
- Downloaded and verified hash of 2018-05-04-Screenly_OSE_4GB.zip
- Fresh install of Screenly-OSE from github image 2018-05-04-Screenly_OSE_4GB.zip to SD Card
- Connected to

[2018-10-08 14:55] vpetersson commented on #770
@chucklin72 Are you able to reproduce this on the latest development build?

[2018-10-08 17:27] vpetersson opened #930 "Add ability to migrate assets to Pro"
#### Overview of the Issue

We've had a lot of Screenly customers who have inquired about how to migrate assets from Screenly OSE to Screenly Pro. We should provide a tool to do this in a seamless fashion. With the new asset API point in Screenly Pro, this is now possible.

#### Desired workflow

* Launch a Python script
* Ask the user for either the API token or the credentials (which then will b

[2018-10-08 22:33] vpetersson commented on #930
Screenly Pro's API doesn't currently allow for uploading files, so we need to work around this by serving the files locally using something like [Ngrok](https://ngrok.com).

[2018-10-09 07:00] vpetersson commented on #930
[Click](https://click.palletsprojects.com/en/5.x/) looks pretty promising for building out a quick CLI interface.

[2018-10-09 21:12] dirkstraathof opened #932 "Updating multiple Assets (images) as with Adding Multiple."
Is there a way to update assets in Screenly OSE?

I have a lot of images that are updated weekly.

[2018-10-10 06:13] rusko124 opened #933 "There is no possibility to add a page with requiring js"
#### Overview of the Issue

The problem is described in detail https://support.screenly.io/hc/en-us/community/posts/360017643434-URL-error-for-asset.
I reproduced this problem and can confirm it.
![error](https://user-images.githubusercontent.com/17593028/46716156-b9d08500-cc84-11e8-8a05-141b67b5e2fd.png)
When screenly check on validate this url, send GET request and receive the 404 status code, t

[2018-10-10 07:05] #841 closed

[2018-10-10 07:07] vpetersson commented on #933
I think that overcomplicates things. Basically, that's a bug in the webiste/server rather than in Screenly. It should return a 20X. Perhaps a better option is to add an option for something like "Skip asset check."

[2018-10-10 07:11] rusko124 commented on #933
Got it!

[2018-10-11 09:47] vpetersson commented on #933
Closing out. Please ping the original reporter to ensure it worked.

[2018-10-11 09:47] #933 closed

[2018-10-12 08:29] rusko124 commented on #930
@vpetersson
I wrote a script with all the wishes, could you look and say what needs to be changed?
https://github.com/rusko124/screenly-assets-migration

[2018-10-16 11:32] Marco-LB commented on #876
Hello, is it possible to have a tutorial? instructions how to create a command to execute on startup? hdmi-cec on startup?

[2018-10-16 11:37] vpetersson commented on #876
@Marco-LB sure, take a look [here](https://www.screenly.io/blog/2017/07/02/how-to-automatically-turn-off-and-on-your-monitor-from-your-raspberry-pi/).

[2018-10-16 13:15] Marco-LB commented on #876
thanks for the quick reply, but cron and crontab know how to use them, but celery is the problem

[2018-10-16 13:18] vpetersson commented on #876
Well, this isn't implemented yet. That's what this ticket is tracking.

[2018-10-16 13:47] Marco-LB commented on #876
can this post help? [https://github.com/resin-io-playground/cron-example](url)

[2018-10-16 13:51] vpetersson commented on #876
We know how to do it. It's fairly straight forward. We just haven't implemented it yet. It is scheduled for the next sprint.

[2018-10-16 14:04] Marco-LB commented on #876
OK, Thanks for your information

[2018-10-17 14:57] scls19fr commented on #241
A related blog post
https://www.screenly.io/blog/2017/04/10/how-to-add-a-physical-button-to-screenly-ose-using-node-red/

[2018-10-18 16:49] ansonhoyt commented on #527
@vpetersson since this is ongoing, is there an open ticket tracking it for interested folks to follow your progress?

[2018-10-18 21:50] vpetersson commented on #527
@ansonhoyt There's already a version for this. You can test it out using the experimental branch. We don't have any specific issue tracking for it as they will just go in as normal issues.

[2018-10-19 17:06] #831 closed

[2018-10-19 17:06] #784 closed

[2018-10-19 17:06] #793 closed

[2018-10-19 17:06] #740 closed

[2018-10-19 17:06] #779 closed

[2018-10-19 17:06] #736 closed

[2018-10-19 17:06] #708 closed

[2018-10-19 17:06] #720 closed

[2018-10-19 17:06] #749 closed

[2018-10-19 17:06] #792 closed

[2018-10-19 17:06] #790 closed

[2018-10-19 17:53] mattjford commented on #792
Not sure if you'll see this, but I wonder if you could add a js wrapper
that could do most of it instead of relying on selenium

On Mon, Aug 13, 2018, 11:05 AM Viktor Petersson <notifications@github.com>
wrote:

[2018-10-19 17:54] mattjford commented on #792
XSS would still be an issue though, nevermind

On Fri, Oct 19, 2018, 12:52 PM Matt Ford <acidnine@gmail.com> wrote:

[2018-10-19 18:06] #520 closed

[2018-10-19 18:06] #599 closed

[2018-10-19 18:06] #589 closed

[2018-10-19 18:06] #537 closed

[2018-10-19 19:06] #504 closed

[2018-10-21 18:55] genvagula opened #941 "Improvement idea"
#### Screen area change

Would like to set certain area from the total display for the screenly to display the content.
For example i have big LED display that has area of 384x192 px.  So i need to show content at this area.
Cannot find at the moment that capability.

[2018-10-22 05:56] rusko124 commented on #926
Hi, @NikFort !
Could you try make upgrade with the latest changes?(Some edits were made for similar cases when 3 loading points instead of Screenly splashscreen.)
And let me know if this helped you?

[2018-10-22 06:02] rusko124 commented on #908
Hi, @abrenoch !
This behavior is typical for the experimental branch.
Did you make update Screenly-OSE?

[2018-10-22 07:19] vpetersson commented on #941
@genvagula That's unforutnately not a [supported resolution](https://elinux.org/RPiconfig) for the Raspberry Pi, so that's unfortunately not something we would be able to supprt.

[2018-10-22 07:19] #941 closed

[2018-10-22 07:32] genvagula commented on #941
thnx for answer. but i thought that, for example video output would be 1280x768 but the output play area would be set at the upper left corner 384x192px and i could resize that area at the user interface.

[2018-10-22 08:15] #836 closed

[2018-10-22 08:18] #870 closed

[2018-10-22 08:19] vpetersson commented on #848
Should be fixed. Please confirm @brandfocus.

[2018-10-22 08:19] #848 closed

[2018-10-22 14:23] vpetersson commented on #941
That's not something that is easily attainable. It would require a fairly significant rewrite.

[2018-10-22 17:34] bobsol opened #943 "rsycn one player to another"
I am trying to rsync one player with another.  Player doesn't play the changed assets and db unless I `systemctl restart screenly-viewer`.

Details:

I have am rsyncing both `screenly_assets` and `.screenly/screenly.db`

As an alternative, i tried rsyncing the whole `.screenly` folder. No improvement.

`update_playlist` and `refresh_playlist` seem to be running.

I have checked with sqlight3 that

[2018-10-22 17:48] vpetersson commented on #943
That's not really a supported use case. If you want to do something like that, you should write something that uses the API.

[2018-10-22 17:48] #943 closed

[2018-10-24 01:41] zasnicoff commented on #929
I don't know if screenly will have problems with you editing these files, but I did it to get my IP address static and it worked.
[code]

You can add:

[code]
to the latter and it might solve your WiFi issue.

For more information, also check:
https://raspberrypi.stackexchange.com/questions/37920/how-do-i-set-up-networking-wifi-static-ip-address

[2018-10-24 09:23] rusko124 opened #945 "The assets that added with skip checking are not displayed."
In this PR #937 was an opportunity to add an asset without checking. But `viewer.py` check asset url before asset was display.
Thus, we have an asset check error.
To avoid this problem, need to add a parameter skip check in the database, but this will lead to problems with users' databases.
@vpetersson What can you recommend?

[2018-10-24 10:00] vpetersson commented on #945
That's just a typical migration issue. You just need to add that to `/bin/migrate.py`.

[2018-10-24 10:02] rusko124 commented on #945
Got it, thanks!

[2018-10-24 10:02] #945 closed

[2018-10-24 19:15] bobsol commented on #943
Here is a diff if you care.

On Mon, Oct 22, 2018, 1:49 PM Viktor Petersson <notifications@github.com>
wrote:

--- viewer.py.orig	2018-10-24 14:34:22.076759685 -0400
+++ viewer.py	2018-10-24 14:33:24.427157304 -0400
@@ -155,6 +155,12 @@
         time_cur = datetime.utcnow()
         logging.debug('refresh: counter: (%s) deadline (%s) timecur (%s)', self.counter, self.deadline, time_cur)
         i

[2018-10-25 06:30] rusko124 commented on #871
Hi @acruzmx ! Do you still have this problem? If so, could you give the reproduce steps for this problem?

[2018-10-25 07:46] rusko124 commented on #877
@vpetersson This PR received comments and was closed. What about close this issue?

[2018-10-25 13:07] vpetersson commented on #877
Yes, let's close this out.

[2018-10-25 13:07] #877 closed

[2018-10-26 05:55] #922 closed

[2018-10-26 05:55] #924 closed

[2018-10-26 10:39] rusko124 commented on #929
Hi, @ssantora002 !
Can you try update one more time?
A recent changes has been fixed with a blank white screen problem.

[2018-10-26 22:31] offlinehoster opened #949 "Installation is failing within the ansible playbook"

[2018-10-28 15:06] ssantora002 commented on #929
Rusko,

I appreciate your effort to help me solve this issue. I haven't attempted
anything at this time. I write you to let you know what my steps will be to
try this fix.

   1. Dowload latest github release. 2018-05-04-Screenly_OSE_4GB.zip and
   verify hash.
   2. format SD card and install fresh image of latest github release of
   screenly ose, 2018-05-04-Screenly_OSE_4GB.zip.
   3. Boot up s

[2018-10-29 09:05] rusko124 commented on #929
@ssantora002
I reproduced all the steps that you wrote. And in my case, everything works well.

[2018-10-29 12:51] ssantora002 commented on #929
By everything did you try the wifi reset feature and then attempt to
connect to a different SSID?

On Mon, Oct 29, 2018, 5:05 AM rusko124 <notifications@github.com> wrote:

[2018-10-29 13:06] rusko124 commented on #929
@ssantora002 try reproduced this steps:
- Delete file initialized from /home/pi/.screenly/ or click reset wifi in web interface
- Remove or replace files from /etc/NetworkManager/system-connections/
---------
Since you did not choose manage network when upgrade(You can skip next steps if agreed.) :
- sudo cp /home/pi/screenly/ansible/roles/network/files/wifi-connect.service /etc/systemd/system/
-

[2018-10-30 04:54] #809 closed

[2018-10-30 05:12] rusko124 opened #950 "Create a Screenly-OSE store with Screenly widgets."
I don't think it's necessary, but it would be convenient.
At the moment, Screenly has widgets with weather, time and news.
I think this topic can be developed, create widgets for social networks, news, charts, etc.

@vpetersson What do you think about it? Does it make sense?
P.S. I came to this idea when the user on the forum asked about the widget Twitter feed .

[2018-10-30 11:17] vpetersson commented on #950
@rusko124 Yes, we have a number of ideas around this and some designs.

[2018-10-30 12:08] #949 closed

[2018-10-30 12:11] vpetersson commented on #943
@rusko124 Can you look at the diff from @bobsol? My comncern is largely about added I/O operations, which will in turn reduce the life span of the devices.

[2018-10-30 12:47] offlinehoster commented on #949
Problem is still existing. Just for your information. Installed on a current raspberian lite image.

[2018-10-30 13:49] ssantora002 commented on #929
Should I be installing Network Manager? Please described the what this
option does? Please describe the benefits or possible disadvantages of
installing this option. I could not much document ation on it. Any info you
can provide is much appreciated.

On Mon, Oct 29, 2018, 9:06 AM rusko124 <notifications@github.com> wrote:

[2018-10-30 18:43] vpetersson commented on #929
tl;dr - Network Manager is the modern way to deal with networks on Linux and is reqiured for the hotspot feature. For pros/cons, please consult Google :)

[2018-10-30 19:19] vpetersson commented on #949
Please provide these details, as we won't be albe to provide assistance otherwise:

[code]

[2018-10-30 20:47] pooh22 opened #951 "installation on raspian failing task screenly : Create default assets database if does not exists"
#### Overview of the Issue

I was trying the manual installation method with the shell script and ansible. The problem happens at the end (I presume) of the install. Output is:

[code]

#### Reproduction Steps

* take clean raspian (v9)
* turn on ssh
* raspi-config (change user password, extend filesystem)
* reboot
* install vim
* edit /etc/locale.gen (add nl_NL.utf8) and run locale-gen
* apt upda

[2018-10-31 01:27] #884 closed, assigned to nobody

[2018-10-31 04:48] rusko124 commented on #951
Hi, @pooh22 !
Please tell me the version ansible installed, and what version ansible installs the install-ose.sh.( String **sudo pip install ansible==VERSION**)

[2018-10-31 06:15] rusko124 commented on #950
That's great!

[2018-10-31 06:15] #950 closed

[2018-10-31 06:34] pooh22 commented on #951
Hi @rusko124, I seem to remember ansible 2.6.2 or 2.6.8 and the version of screenly/ose was stable master, not experimental or development.
I didn't have a spare rpi available, so I used one that is normally in use for something else... It will be a while before I have another opportunity to test (it takes a really long time to install on my rpiv2)

BTW, I tried installing twice; first time I trie

[2018-10-31 06:43] rusko124 commented on #951
@pooh22
I think I know what the problem is.
The best solution to this problem is to install the stable version from here https://github.com/Screenly/screenly-ose/releases/tag/v0.15 or using NOOBS.
But if you still want to use install-ose.sh, you need to change in the script:
**sudo pip install ansible==2.6.3**
on it
**sudo pip install ansible==2.1.0.0**

[2018-10-31 08:36] rusko124 commented on #951
At the moment install-ose.sh may have some problems with the installation of production branch. We know this, but as Sprint 8 comes to an end, this problem will disappear with the release of a new stable version of Screenly-OSE.

[2018-10-31 08:46] pooh22 commented on #951
OK, I'll take your word for it then ;-) I'm looking forward to trying the next release...

[2018-10-31 13:17] ssantora002 commented on #929
I installed the latest Github release of screenly-ose and I ran sudo
~/screenly/bin/run_upgrade.sh
I installed with Y to development and Y to network manager.
After the reboot I still get the 'unable to connect to local ip' message.

After installing upgrade I tried these steps that were provided by your
support team below and it solved the issue.

   - Delete file initialized from /home/pi/.scree

[2018-11-01 14:29] nv2k commented on #721
I'm having the same problem. Tried VNC and it's not working either.
Any thoughts?

[2018-11-01 19:57] #889 closed

[2018-11-04 17:28] toussa commented on #121
+1

[2018-11-07 09:11] Amosar opened #953 "Viewer crashed with experimental branch"
#### Overview of the Issue

I have tried screenly-ose with uzbl but it doesn't support video so I have wanted to try the experimental web browser but it crash when I launch screenly.
I have this error: https://pastebin.com/DranEY9w

#### Reproduction Steps

* Flash the raspberry with screenly image
* switch to the experimental branch and run the update script
* restart the raspberry
* And the view

[2018-11-07 09:29] rusko124 commented on #953
Hello @Amosar!
Can you tell me if you had any errors with the update, please?
You don't need to switch to the experimental branch, just run the update script and select experimental when asked. I think that might be the cause of your problem.

[2018-11-07 14:52] Amosar commented on #953
Yes, the problem have been cause in the installation by bad proxy settings, sorry for opening this issue

[2018-11-07 14:52] #953 closed

[2018-11-07 15:11] RaiderXXL commented on #806
Have an other problem that grafana site is just black... nothing is displayed...
Access to grafana is without athentication. Can connect with all other devices/browsers.
Did i missed somthing?

Have updated Screenly today to Development version.

[2018-11-07 16:14] rusko124 commented on #953
I'm glad your problem has solved. Have a good day!

[2018-11-08 09:35] qbicdesign commented on #908
I have the same issue using the Screen OSE ready-made image. No updates, just vanilla version.
I can use CTRL+ALT+F1 while Screenly is displaying the logon URL, It seems that I can also continue using it (once it's open) as long as my playlist contains only URLs. If there's a video in the playlist, the video is overlayed on top and I can no longer use the console.

[2018-11-08 11:20] qbicdesign commented on #867
put a video playing then try to reproduce. pretty sure if you're using only URL assets then it works.

[2018-11-08 12:20] vpetersson commented on #908
@qbicdesign If you have a video playing, this is expected behavior. You need to use `ssh` instead (which is the recommended method to access the device).

(The technical reason is that the video rendered takes over the whole screen, so you are unable to see the terminal.)

[2018-11-08 12:20] #908 closed

[2018-11-09 10:31] rusko124 commented on #907
Used only bootstrap.min.css.
@a2tech Can you provide steps to reproduce this issue or screenshots?

[2018-11-09 12:16] #878 closed

[2018-11-12 06:55] rusko124 commented on #916
@vpetersson How would you like that would be implemented communication between the server.py and viewer.py? Maybe socket or something else?

[2018-11-12 16:45] vpetersson commented on #806
@RaiderXXL Interesting. Can you verify that caching is enabled in the experimental browser?

[2018-11-12 17:17] RaiderXXL commented on #806
Hello, How can i do this? Is there a Wiki or help file?

[2018-11-12 17:33] vpetersson commented on #806
@RaiderXXL Sorry, that was a comment for @rusko124

[2018-11-14 10:05] teddiegp opened #956 "Bad encoding in setting player name"
#### Overview of the Issue

In the web UI, I set "Player name" to something containing the german letter ß. When saving, a error 500 page was shown. Afterwards, all settings were reset (including [auth] user, password).
I tried again several times and the problem only occurred when I used german umlauts (ä ö ü ß).

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Open the Screenly We

[2018-11-14 18:25] DudleySmith opened #957 "Raspberry Pi 3 B+"
#### Overview of the Issue

I did not succeed to setup WiFi connection:

#### Reproduction Steps

* not permanent acces point
* if finally succeed to connect to acces point, and succeed to load the wifi setup page, the DropDown List is emtpy of SSIDs
* If locally (wire) connected and click on reset WiFi configuration , I got an "unable to restore local IP adress
* still I can manage my screen with

[2018-11-19 08:38] TheCazz opened #958 "502 Bad Gateway when I add password protect"
Hi
I running the latest Screenly OSE on a old raspberry
Everything works fine but when I add a username and a password in screenly.conf file I get npw a 502 Bad Gateway.

[2018-11-19 11:00] #711 closed

[2018-11-19 11:00] #871 closed

[2018-11-20 02:03] memorex258 commented on #951
Thank you, this allowed me to get passed that part when using the install-ose.sh script

[2018-11-20 23:17] vpetersson commented on #958
Try upgrading to the latest release. If you are still having the issue then, please post logs.

[2018-11-21 11:51] TheCazz commented on #958
Hmm I did try to upgrade with
bash <(curl -sL https://www.screenly.io/install-ose.sh)
But I got error, trying now again.

[2018-11-21 12:36] TheCazz commented on #958
Ohh now I can set a username and password from web interface. very nice :)

[2018-11-21 12:58] #958 closed

[2018-11-22 09:31] RaiderXXL commented on #806
Still there .. waiting... Blackscreen still persist.
Any news for me?

[2018-11-22 09:43] vpetersson commented on #806
@rusko124 - i guess we need to update the experimental branch for the new release. Can you look at this today?

[2018-11-23 06:30] rusko124 commented on #806
@RaiderXXL Can you update your experimental branch and tell me if it helped you, please?

[2018-11-23 07:19] RaiderXXL commented on #806
Update done reboot done black screen still there...

Update via "bash <(curl -sL https://www.screenly.io/install-ose.sh)"
choose experimental

[new 7.txt](https://github.com/Screenly/screenly-ose/files/2609949/new.7.txt)

[2018-11-23 07:35] rusko124 commented on #957
Hi, @DudleySmith !
You can see possibly useful information for you here #929!
Let me know if it helped you or not, please.

[2018-11-23 13:33] vpetersson commented on #957
@DudleySmith - Could you test with the new image that we just released?

[2018-11-23 13:36] vpetersson opened #963 "Improve passwords for wifi hotspot"
When we generate the password for the hotspot, we use letters that are hard to differentiate, such as  I and l (upper case i and lower case l). Let's resolve this. There must be libraries available that solves this.

[2018-11-23 14:51] vpetersson commented on #956
Should now be resolved in the development version.

[2018-11-23 14:51] #956 closed

[2018-11-23 15:37] shibukraj opened #964 "Over heating with - SPrint 8 0.16 version"
Team

#### Overview of the Issue

Today updated the Screenly OSE to the latest version of 0.16. Ran for less than 30 min and it started showing the thermometer on the screen -- meaning overheating of the device. I was running the earlier version of the Screenly for days and I have never seen this. Just want to report this out.

#### Reproduction Steps

Install the latest version 0.16 from the Gith

[2018-11-23 15:54] escoand commented on #963
Isn't another font enough?

[2018-11-23 16:04] klarmacker opened #965 "Errno 13 permission denied"
![error](https://user-images.githubusercontent.com/45293944/48952226-be55b200-ef41-11e8-9790-bf1ce619fbca.png)

Hello

Iam quiet new in the Screenly business. i set it up and the first thing i tried was to upload a Picture.
But i stuck and get the Error in the Picture above.

Can someone help me?

Thanks
chris

[2018-11-23 16:40] vpetersson opened #966 "Recover from "Unablet load page""
#### Overview of the Issue

There appears to be a situation where the player gets stuck if the browser encounters certain errors. Here's an example that I experienced myself:

![photo nov 23 4 25 56 pm](https://user-images.githubusercontent.com/357664/48953814-fefffc00-ef3e-11e8-8854-79b9e2593ea1.jpg)

#### Reproduction Steps

* Add an asset served over HTTPS
* Intercept or otherwise break the TLS

[2018-11-23 16:46] vpetersson commented on #965
hi @klarmacker - interesting. Is this on the latest disk image?

[2018-11-23 16:48] vpetersson commented on #965
I just reproduced it - will issue a fix shortly.

[2018-11-23 16:50] vpetersson commented on #965
The temporary solution is to do the following:
 * Login using the default credentials
 * Run `chown -R pi:pi screenly_assets`

[2018-11-23 16:55] vpetersson commented on #965
Bug fixed and new disk image is being built (but it will take a few hours).

[2018-11-23 16:59] vpetersson commented on #964
@shibukraj you need to be more specific in the types of assets you are using.

[2018-11-23 17:00] vpetersson commented on #964
Also, see #965 if you used the disk image.

[2018-11-23 17:01] vpetersson commented on #963
No, i don't think that is a good solution as even with a different font it would be hard to make out the difference from a distance.

[2018-11-23 17:19] shibukraj commented on #964
Thanks . I will update to the latest build and will let the team know the results. Another think I noticed in the while splash screen after the assets move to another. My assets are mainly Grafana dashboards with no authentication and running under http.

[2018-11-23 20:47] shibukraj opened #968 "Support for Other Single Board Computers - Tinker Board S & ODROID-XU4"
Does screenly supoort other single board computers other than Pi?

[2018-11-23 21:00] vpetersson commented on #968
Not officially, but we would welcome contributions to make them work on other boards.

[2018-11-23 21:00] #968 closed

[2018-11-23 21:02] vpetersson commented on #964
Simply run the the upgrade script as outlined [here](https://www.screenly.io/ose/) and answer yes to the question if you'd like to run the experimental version.

Cool. Pro and OSE doesn't share any code base, so it's a very different system.

[2018-11-23 21:59] vpetersson commented on #965
This has now been fixed in the latest disk image. Thanks for reporting.

[2018-11-23 21:59] #965 closed

[2018-11-24 07:32] klarmacker commented on #965
ok great thanks i will update it on Monday

[2018-11-24 12:09] escoand commented on #963
What do you think about this?
https://www.slant.co/topics/10309/viewpoints/4/~password-fonts~source-code-pro
The only problem I see is with zero and upper O.

[2018-11-26 08:00] klarmacker commented on #965
Working now thanks for your Service

[2018-11-26 16:29] #926 closed, assigned to nobody

[2018-11-26 16:30] vpetersson commented on #951
@pooh22 just as a heads-up - the new release is live now, so let us know if it is still an issue. I'll close out the issue and re-open it if it is still an issue.

[2018-11-26 16:30] #951 closed

[2018-11-26 16:36] vpetersson commented on #929
Closing out the issue as it appears to have been resolved.

[2018-11-26 16:36] #929 closed

[2018-11-26 16:36] #918 closed

[2018-11-26 18:03] vpetersson commented on #734
# Overview

The goal of this task is to be able to upgrade Screenly OSE from within the user interface. However, it quickly get complicated when we factor in the security elements. Hence, this overlaps with #876.

## Requirements

* The goal is that both viewer and server shall run as a non-privilegued (and without ability to run `sudo` for arbitrary commands). We should assume this for the sake o

[2018-11-26 18:46] #964 closed

[2018-11-26 18:47] #930 closed

[2018-11-26 18:50] vpetersson commented on #121
Blocked by #876.

[2018-11-26 18:56] vpetersson commented on #907
Closing due to lack of response.

[2018-11-26 18:56] #907 closed

[2018-11-26 19:35] vpetersson commented on #921
Ok, we need a copy of the React page in question to see if we can reproduce it. Without that we can't do anything.

[2018-11-26 19:35] #921 closed

[2018-11-27 00:33] madsrh commented on #842
This really didn't work out 😆 but since I spent the time working on it, I might as well share it here for conversation.

![image](https://user-images.githubusercontent.com/3986894/49050460-c3d22700-f1e3-11e8-9b69-f7ecf6f30991.png)

If I can, I would love to give this a try with a few mockups

[2018-11-27 04:46] rusko124 commented on #842
@madsrh It looks very good, I like it!
@vpetersson What do you think?

[2018-11-27 07:00] TheCazz opened #969 "Stops playing or crash after loading webpage"
Hi I have notice something strange with the latest and the version before that some webpage make screenly just stop working. It show the webpage all the time and I have to do a reboot,

Some page make it crash and instead of show the page it show screenly start screen with the ipaddress and then go to the imgge until is time to show the webpage again it crash and show the screenly start screen.

B

[2018-11-27 07:01] madsrh commented on #902
Shouldn't this issue be closed, since https://github.com/Screenly/screenly-ose/pull/942 has been merged?

[2018-11-27 07:04] madsrh commented on #776
That would be now 😂

[2018-11-27 07:07] rusko124 commented on #969
Hi, @TheCazz !
Can you provide the url of the web pages you use, please?

[2018-11-27 07:38] #776 closed

[2018-11-27 07:40] #818 closed

[2018-11-27 08:59] vpetersson commented on #902
@madsrh Thanks for the house cleaning. Yep. you're absolutely right! :)

[2018-11-27 08:59] #902 closed

[2018-11-27 09:00] vpetersson commented on #842
@madsrh Thanks! I'll loop in our staff designer to get his feedback too.

[2018-11-27 10:10] TheCazz commented on #969
Hi again and thanks for the very fast replay
I Think I understand the problem (Maybe) and that is I'm from sweden and we have å ä ö and in the error log I can see "ascii codec can't decode"
I can give you the whole screenly-viewer but I is going to be a very long one :)

I did try with this page to see what kind of meal a local school is going to have.
https://skolmaten.se/asenskolan/

The other p

[2018-11-27 10:11] TheCazz commented on #969
[errorlog.txt](https://github.com/Screenly/screenly-ose/files/2619342/errorlog.txt)

Here is the copy and paste log

[2018-11-27 10:34] vpetersson commented on #969
@TheCazz looks like you're spot on. We should definitely support unicode characters. Assigning this to the coming sprint.

[2018-11-27 10:44] TheCazz commented on #969
Did try with the webpage that stop at the webpage and show nothing more then just the webpage but the log does not say so much

Nov 27 10:36:46 raspberrypi python[597]: Sleeping for 10
Nov 27 10:36:56 raspberrypi python[597]: Generating asset-list...
Nov 27 10:36:57 raspberrypi python[597]: Showing asset http://addresstothewebpage.php?info=http://pagetotherssinfo/rss/days/ (webpage)

It maybe does

[2018-11-27 10:47] TheCazz commented on #969
Ahh nice thanks.
Looking for the update :)

[2018-11-27 16:57] vpetersson opened #971 "Add support for displaying the Raspberry Pi version/model in the user interface"
I'd like to add the ability to display the Raspberry Pi version in the system info under System Info.

We can get the hardware version from here:

[code]

Then we simply need to parse this, and turn it into the model number using [this list](https://www.raspberrypi.org/documentation/hardware/raspberrypi/revision-codes/README.md).

[2018-11-28 09:24] Cryjack opened #973 "Server Error: database is locked"
Hi,
we've got the problem shown below while loading the page and even while saving changes. There are 490 active assets used. Is this too much for SQLite? Is there a possibility to change to MySQL or something else?

![image](https://user-images.githubusercontent.com/11329556/49141510-0cc6d000-f2f7-11e8-9933-0c173d1039cc.png)

[2018-11-28 09:35] rusko124 commented on #973
Hi @Cryjack !
Can you tell which version of Screenly you are using, please?

[2018-11-28 09:38] TheCazz opened #974 "When clock or weather stop working everything stop working"
Hi
I did write a issues yesterday about loading webpage make it crash
I did mention that it was something wrong sometime with the clock or weather sometime and now I have the log and a picture.

[code]

It look at the log that everything is fine after hte problem to show weather or the clock but the screen still show this
![errorscreen](https://user-images.githubusercontent.com/3855207/49142629-8b

[2018-11-28 09:41] Cryjack commented on #973
Hi rusko124,

yes of course. Sorry.

Just updated today to the latest productive version. But the issue exists even before.

[2018-11-28 09:46] Cryjack commented on #974
confirm. same here.

[2018-11-28 09:55] vpetersson commented on #973
My guess would be that it's a SD card corruption issue. I'd recommend that you do the following:

 * Export a backup (Settings -> Backup)
 * Get a new SD card
 * Flash out the latest version to the new SD card
 * Restore the backup

[2018-11-28 09:55] #973 closed

[2018-11-28 09:57] vpetersson commented on #974
I'm unable to reproduce this unfortunately.

[2018-11-28 10:02] Cryjack commented on #973
Hi @vpetersson

the system is working fine, its just the overview of the assets and editing. We have 3 systems and all of them have the same issue. The cards are just 2 months in use so I assume that curruption issues are not the problem.

[2018-11-28 10:07] Cryjack commented on #973
Ah, another thing is, that backups don't work with this amount of assets. I assume this could be a setting in webserver (maxfilesize or something).

[2018-11-28 10:11] TheCazz commented on #974
Hmm then that is a problem. Right now I just remove the weather and the clock but what if another webpage is on the screenly and they have problem with the webserver so the page goes down what happen to the screenly?

[2018-11-28 10:16] vpetersson commented on #974
Normally, that won't be a problem, as we check for a 20x HTTP status before we bring it up on the screen.

[2018-11-28 10:16] Cryjack commented on #973
The page loads and all assets are shown after an amount of time, but the message is shown every time again.

[2018-11-28 10:17] vpetersson commented on #973
Interesting. I'd be keen to solve that. Could you provide some steps to reproduce this?

[2018-11-28 10:29] rusko124 commented on #973
@vpetersson @Cryjack I will deal with this problem and give you information about it soon

[2018-11-28 10:31] Cryjack commented on #973
@rusko124
Okay great, thank you. If I can do something to help just let me know.

[2018-11-28 10:37] TheCazz commented on #974
hmm ok so make it sure it works is just remove the weather and the clock widget.

[2018-11-28 16:54] teddiegp commented on #956
Not sure whether to reopen the task, since the patch got reverted (#967).

[2018-11-28 17:06] vpetersson commented on #956
@teddiegp it got reverted because it broke other things. An improved version has been merged in (#970).

[2018-11-28 17:14] pmb-sd commented on #772
I had an issue where for some reason the configured wifi was lost, and it switched over to try and help me set up again. but with the Splash screen disabled, you can't see the newly generated password that goes with the temp wifi...  so, i was essentially locked out of changes. I couldn't find any answers for how to configure things manually either. (where do can someone ask simple questions??)
an

[2018-11-28 19:19] willworkforicecream commented on #974
Also happened to me a few times yesterday. Haven't seen it happen to other web assets, just the weather or clock widgets.

[2018-11-28 19:41] TheCazz commented on #974
Maybe when it show that "Unable to load page" is does not give any 20x HTTP status so the script can't see is does not working??

[2018-11-28 20:40] teddiegp commented on #956
I didn't see that one, thanks!

[2018-11-29 08:36] Cryjack commented on #974
Got the same.

![image](https://user-images.githubusercontent.com/11329556/49209169-18c79600-f3ba-11e8-9508-9eecbb9a534a.png)

Problem is a TLS error. The Page gives HTTP 200 Response, so there was no problem showing it. But this stops all other assets from beeing showed.

[2018-11-29 09:48] vpetersson commented on #974
Yeah so the problem here is two-fold:

 * We need to investigate *why* this TLS error appears.
 * We need to make sure that even if it does appear, we need to gracefully skip it.

[2018-11-29 10:59] rusko124 commented on #772
Hi, @pmb-sd !
I can suggest you take the following steps:
- When loading Screenly quickly try to go to the console (CTRL + ALT + F1) and enter the following command `sudo systemctl stop screenly-viewer`
- Then set `show_splash = on` in `/home/pi/.screenly/screenly.conf`
- Reboot

[2018-11-29 16:45] pmb-sd commented on #772
Thanks @rusko124, that looks like the answer I needed!
this goes in my notes.

[2018-11-30 04:48] rusko124 commented on #973
@Cryjack Can you update your Screenly and tell me if this has helped you?

[2018-11-30 08:19] Cryjack commented on #973
@rusko124 I've updated on dev-branch and can confirm that the issue is gone. Great job! Thank you very much!

[2018-11-30 09:49] Cryjack opened #977 "Backup not working for large amount of Assets"
#### Overview of the Issue

When starting a Backup for a large amount of Assets (>300) the Backup stops working and an empty Messagebox appears. The Backup is not created.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press "Settings"
* Press "Get Backup"
* Errormessage like in Screenshot appears

![image](https://user-images.githubusercontent.com/11329556/49280559-ca35fc80-f48a-

[2018-11-30 10:10] rusko124 commented on #977
@Cryjack Also checked with assets more than 300, and this works for me.
Are you may not have enough free space?
To better understand the problem, can you show the logs, please?(`journalctl -u screenly-web`)

[2018-11-30 10:34] rusko124 commented on #977
@Cryjack Got it, than can you provide information about free space on sd and size of directory "screenly_assets", please? (without screenly-backup.tar.gz)

[2018-11-30 10:39] rusko124 commented on #974
It should be decided now, at least when the viewer are stuck. Can I get a feedback, if it has helped?

[2018-11-30 11:30] Cryjack commented on #977
@rusko124

"df -h" shows:
filesystem size used avail use% mountedon
/dev/root       7.3G  2.6G  4.5G  37% /

"du -hs /home/pi/screenly_assets" shows:
506M    /home/pi/screenly_assets

As far as I can see, no space problem.

[2018-11-30 15:23] TheCazz opened #978 "Zoom out a webpage"
Is it possible to make a page is zoom out a little.
We have a page that is a little to big to show it nice on the TV screen and I like to zoom out a little.
The strange is that I have no problem to show it nice on a web browser on a computer?

[2018-11-30 19:52] ealmonte32 opened #979 "Doesnt load nearpod website?"
#### Overview of the Issue

Just trying to load any of the following links but the uzbl browser doesnt seem like the content:
https://nearpod.com/s/digital-citizenship/kindergarten/going-places-safely-lite-L31462922?_branch_match_id=597132583168613097

https://app.nearpod.com/presentation?pin=3827FAB236FC71699FBCA3470419B471-1

#### Reproduction Steps

Steps to reproduce this issue:

* Press Add A

[2018-11-30 20:53] TheCazz commented on #974
Well I can but not until Monday for me and then I going to try.

[2018-12-01 10:43] vpetersson commented on #979
@ealmonte32 Could you try the experimental branch?

That said, those pages do look pretty heavy. Pages with that much JavaScript (in particular animations etc) are known to not work well.

[2018-12-03 10:37] rusko124 commented on #977
Hi, @Cryjack ! Can you update and tell me if this has helped you?

[2018-12-03 13:16] dinehanu opened #981 "Spring boot admin gives white screen on Screenly OSE"
#### Overview of the Issue

We are trying to use Screenly OSE to display the /#/applications page on our spring boot admin service.
When screenly goes to the asset only a white page is displayed.
If we change the "spring-boot-starter-parent" verison from 2.1.0 to 2.0.7 and the "spring-boot-admin-starter-server" version from 2.1.0 to 2.0.4 then the application page loads but zoomed in.

#### Reprod

[2018-12-03 16:19] ealmonte32 opened #982 "weak signal then doesn't reconnect"
#### Overview of the Issue

I read this post:
https://support.screenly.io/hc/en-us/community/posts/360001834573-Screenly-OSE-does-not-seem-to-reconnect-to-WiFi-

and this one:
https://support.screenly.io/hc/en-us/community/posts/360007982734-Changing-to-new-WiFi-v0-15-1-Sprint-7-

But I still dont think the question is answered, basically, without turning off the pi, it seems the screenly-ose pi d

[2018-12-04 06:40] rusko124 commented on #979
Hi @ealmonte32.
I confirm that nearpod's pages are not displayed in the experimental branch.
But I also checked the developer version, and it shows pages.

Yes, you are right. Screenly has production, developer and experimental branches.
The experimental branch uses Docker containers and QT technology instead of uzbl.

[2018-12-04 08:45] Cryjack commented on #977
@rusko124
I updated and checked the version.

The Webpage stays the same und does not change. But I can see, that the backup tar was created just fine in the filesystem. There is just no output on Webpage.

[2018-12-04 08:48] rusko124 commented on #977
@Cryjack it's strange, the changes above should have helped.
An error without text still appears?

[2018-12-04 08:51] Cryjack commented on #977
@rusko124

Yes, the same messagebox without content appears.

[2018-12-04 08:55] Cryjack commented on #977
The error on the website occurs while not finished creating the backupfile (still grows).

[2018-12-04 08:57] rusko124 commented on #977
@Cryjack Hm, can you provide last commit hash, please?
You can also see the error in the web browser console(it should be associated with a timeout).
I can also offer you to open the Screenly web page in incognito mode,  there is a possibility that the JS script is cached.

[2018-12-04 09:04] Cryjack opened #983 "Assets with long URL"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

URL-Assets with log URLs are not editable because Buttons are overlayed by Inputfields. (TAB works, but Usability...)

Maybe something like "show more" for the URL helps?

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Edit URL Asset w

[2018-12-04 09:10] Cryjack commented on #977
@rusko124
No problem, here are the logs.

Here is the commit hash:
commit df48d332a2611ee2388825b87777da78fceb4e14
Merge: 40422ae b491563
Author: Viktor Petersson <vpetersson@users.noreply.github.com>
Date:   Mon Dec 3 10:34:43 2018 +0000

    Merge pull request #980 from rusko124/backup_timeout

    Set large timeout for backup

Here is the Nginx Errorlog:
2018/12/04 09:52:11 [error] 396#396: *24

[2018-12-04 09:22] rusko124 commented on #977
@Cryjack Well, Could you also tell me if you've rebooted your Raspberry after the upgrade, and can you provide **/etc/nginx/sites-enabled/screenly.conf** content, please?

[2018-12-04 09:38] Cryjack commented on #977
@rusko124
yes, rebooted several times.

Content of screenly.conf:

upstream ose {
  server 127.0.0.1:8080;
}

upstream websocket {
  server 127.0.0.1:9999;
}

upstream wifi-connect {
  server 192.168.42.1:9090;
}

server {
  server_tokens off;
  listen 80 default_server;

  location / {
    return 301 https://$host$request_uri;
  }
}

server {
  server_tokens off;
  listen 443 default_server;

  s

[2018-12-04 11:36] vpetersson commented on #983
Nice find, @Cryjack. Let's truncate the "Asset Location" field after 25-30 characters.

[2018-12-04 11:37] vpetersson commented on #977
@Cryjack Try upgrading. @rusko124 pushed some changes in #984.

[2018-12-04 11:39] vpetersson commented on #982
@ealmonte32 Strange. We don't really do anything custom at all as far as WiFi goes. We just use [WiFi Connect](https://github.com/balena-io/wifi-connect) from Balena to simplify the bootstrapping process. Other than that, it's all just Network Manager. Perhaps you can try tweaking the NM settings to see if that helps.

[2018-12-04 16:31] Cryjack commented on #977
Just to let u know. I'd enabled SSL. Maybe this is something related to it?

[2018-12-04 16:39] vpetersson commented on #977
That could very well be it, @Cryjack. Could you disable that to see if it solves the problem? If so, we need to update [this file](https://github.com/Screenly/screenly-ose/blob/master/ansible/roles/ssl/files/nginx.conf).

[2018-12-04 17:57] ealmonte32 commented on #979
Hmm.. I see..

So will developer branch be better in the sense that it sort of supports more content/media?

If so, how do i install the developer version from terminal? (I originally installed screenly ose via image, but then upgraded via bash script and selected yes to experimental branch)

Will it delete all the current screenly assets? (not a big deal i just want to document everything before

[2018-12-05 03:26] rusko124 opened #985 "lear"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

A paragraph or two about the issue you're experiencing.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press Add Asset
* Enter the Asset URL ...
* Press "On"
* Wait for the asset to show up on the screen

### Environment

* Raspberry

[2018-12-05 03:27] #985 closed, assigned to nobody

[2018-12-05 04:11] rusko124 commented on #977
@Cryjack Have you run the script `./bin/enable_ssl.sh` since the last update your Screenly?

[2018-12-05 06:45] rusko124 commented on #978
I think that's a good idea.
Also about a similar situation says here #981
What do you think about it? @vpetersson
Could be added as an option to an asset or as a global option(with range 50% to 200% for example).

[2018-12-05 07:55] vpetersson commented on #978
I'm not sure I agree. It's a slipper slope. Let's leave this aside for now. Most modern/responsive websites will behave properly and adjust accordingly.

[2018-12-05 13:12] Cryjack commented on #977
@rusko124 no. I havent run it after update. Should I do that?
@vpetersson Is there a way to disable it via script?

[2018-12-05 14:40] davidgruhin commented on #868
so I deployed on Balena and followed the above fixes and I still have this issue:

Server Error: RAN: '/usr/bin/omxplayer /data/screenly_assets/c74f1afa3e9244fbbcc7c87fe12cf6b3 --info' STDOUT: /usr/bin/omxplayer.bin: error while loading shared libraries: libWFC.so: cannot open shared object file: No such file or directory STDERR:

[2018-12-07 07:28] s6thsense opened #988 "Powerpoint *.ppsx file support"
Are there plans for Screenly OSE to be able to support powerpoint *.ppsx files?
Thanks

[2018-12-07 07:55] rusko124 commented on #977
@Cryjack This script in your case will simply update your nginx configs.
Let me know if it has helped you.

[2018-12-07 22:04] willworkforicecream commented on #988
I've found that Screenly OSE handles playing Google Slides pretty well and has been more convenient than powerpoint in some cases.

[2018-12-10 11:57] RaiderXXL commented on #806
nothing happening here?

[2018-12-10 15:31] TheCazz opened #989 "Tips to play background music"
I have see some have ask for play background music on the slideshow and I just want to give my solution.
I have activate SSH so from there I have install screen and then create a bash file and add this code
`while true; do for v in ./musicfolder/*; do omxplayer -o hdmi $v; done; done`
then save it and then run `sudo chmod +x file.sh`
Now it run the mp3 file from musicfolder and running that as a l

[2018-12-10 22:40] dodds-steven opened #990 "idea - time of day window"
I am new to Screenly and a thought came to me today as I was configuring the first video to playback.
I didn't see an option in the settings, but thought... Hmmm it could be handy to have a way to say only play this asset between these hours and maybe even on these days only.
Examples may be;

- after hours messages
- mix up what videos are shown through out the day, such as play this one only in

[2018-12-10 22:59] vpetersson commented on #990
This is a feature that we already support in Screenly Pro. Don't think we'll port this functionality unfortunately (unless someone else will do the work).

[2018-12-10 23:00] vpetersson commented on #988
@s6thsense This is unlikely something we will ever support due to the proprietary nature of PowerPoint. In short, there is not reliable way to deal with PowerPoint without using tools from Microsoft. Moving said presentations to Google Slides is likely the best workaround as @willworkforicecream suggested.

[2018-12-10 23:00] #988 closed

[2018-12-10 23:03] vpetersson commented on #989
Interesting solution, @TheCazz. I'm not sure if omxplayer will look up the video interface when doing this. If so, it will prevent videos from being used in the playlist. Another issue with the suggested solution is that you will have to break the loop to add more content. Perhaps you can find a better solution using any tools listed in [this article](http://www.tuxarena.com/2011/12/10-console-mus

[2018-12-10 23:03] #989 closed

[2018-12-10 23:04] vpetersson commented on #806
@RaiderXXL it's in the backlog for the next sprint, but we welcome code contributions to accelerate it.

[2018-12-11 09:48] vpetersson commented on #957
Closing out this issue due to lack of response.

[2018-12-11 09:48] #957 closed

[2018-12-11 09:49] vpetersson commented on #734
@sublimino - I'm actually really curious about your feedback here.

[2018-12-11 15:14] ealmonte32 commented on #979
Thanks.

[2018-12-11 15:15] ealmonte32 commented on #982
@vpetersson
Thanks for info, yeah I knew you guys use the balena/resin bootstrap for wifi connect..
I just added the iface wlan0 inet dhcp etc to my network interfaces file and it seems to reconnect now, it was empty before.. oh well.

[2018-12-11 15:15] #982 closed

[2018-12-11 16:30] ealmonte32 commented on #979
Sorry I closed it too soon.. i ran the upgrade, upgraded to developer mode, and the assets are now empty, but the assets in folder screenly_assets seem to be there? how do i know what assets are on the screenly_assets folder if they dont show on the browser..

screenshots below:

![screenly-after-upgrade-no-assets](https://user-images.githubusercontent.com/24350198/49814687-2543db00-fd38-11e8-992e

[2018-12-11 19:06] vpetersson commented on #979
Could you try `echo "SELECT * from assets" | sqlite3 ~/.screenly/screenly.db` (assuming i remember the syntax right by heart ;)

[2018-12-11 19:29] #925 closed, assigned to nobody

[2018-12-11 20:23] vpetersson commented on #925
@ssantora002 Are you able to reproduce this on the latest version?

[2018-12-12 10:58] achikas opened #991 "Add the sophisticated playlist editor"
It would be very user-friendly to schedule slides for recurring days.
I read that the pro Edition has the option to set rules for weekdays in addition to timeslots.
https://support.screenly.io/hc/en-us/articles/217874263-Using-Screenly-s-sophisticated-playlist-editor

I really like to see that feature in the OSE Edition.
Can it be managed?

[2018-12-12 10:59] vpetersson commented on #991
Hi @achikas - this is not something that we have planned for OSE.

[2018-12-12 10:59] #991 closed

[2018-12-12 11:08] achikas commented on #991
these are not good news.
hope you will consider to think about.
until then I need to use my website to deliver the content for recurring weekdays.

[2018-12-12 11:36] vpetersson commented on #991
It's pretty simple. Screenly Pro is what pays for our development cost of Screenly OSE. As such, we will keep some features out of OSE.

[2018-12-12 19:15] dodds-steven commented on #990
Oh, I didn’t see that listed in the comparison I read on the website.
Ok...

[2018-12-14 14:52] Powers41 opened #992 "Cannot get to terminal using Ctrl+Alt+F1"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

A paragraph or two about the issue you're experiencing.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press Add Asset
* Enter the Asset URL ...
* Press "On"
* Wait for the asset to show up on the screen

### Environment

* Raspberry

[2018-12-14 14:57] Powers41 commented on #992
Trying to get to the terminal to configure wifi the ctrl+alt+f1 does not access terminal.

Raspberry Pi 3 b vi2
OSE version 2 fresh install

[2018-12-15 11:14] vpetersson commented on #992
Just download the latest disk image from [here](https://github.com/Screenly/screenly-ose/releases). There's no need for configuring wifi using the terminal as there is a built-in functionality for setting up WiFi.

[2018-12-15 11:14] #992 closed

[2018-12-16 16:12] vpetersson commented on #979
That's expected. That simply dumps the content of the database.

Are the assets restored if you switch to the production branch?

[2018-12-17 13:43] loleg opened #993 "Database issues during interrupted update"
The Raspberry Pi froze during the system upgrade process launched through the OSE update script. After a reboot, Screenly's new version loaded but no Assets were visible, and adding a new asset produced `Server Error: no such column: skip_asset_check`. I assume that somehow the database update didn't happen.

My suggestion is to at least change the messaging of the option to say that it is really

[2018-12-17 15:21] vpetersson commented on #993
@loleg Not very surprising and hard to protect against (we can't prevent someone from pulling the power half-way through). That said, we are working on improving the upgrade flow in #987. As a short-term remedy, simply re-running the upgrade script should do the trick.

[2018-12-17 16:20] bhagemann commented on #974
Same happening here with new install of latest (11-23) image, also did the update over ssh (only the normal update, not to development or experimental).  Today (12-17) it gave this same error again.

Should I be doing development (or experimental) updates instead to get latest fixes?

Thanks!

[2018-12-17 16:33] vpetersson commented on #974
@bhagemann If you ran an upgrade from that version and didn't select the development version, you essentially "upgraded" to the same version you are running. Hence you need to switch to the development version to test the latest updates.

[2018-12-17 17:56] bhagemann commented on #974
thanks vpetersson... I'm running the dev branch update now.  will report back if anything notable.

[2018-12-17 18:25] Okhan97 opened #994 "Why Screenly needs internet?"
Hi,

For my job I need that Screenly starts without internet connection, surfing the web (and the terms of service) I notice that Screenly **kinda needs** confirmation from your server, as Viktor said:

Is there a reason for this? Everything that I'm doing is local so I was wonder the reason of this restriction.
Is there a way to skip the confirmation from your server?

(I'm asking because you're

[2018-12-17 18:28] #994 closed, assigned to nobody

[2018-12-17 18:51] Okhan97 commented on #994
@vpetersson I think I didn't express myself clear.

The RasPi will be connected to its own router, this router won't have an internet connection (necessarily). I want to be able to upload images and videos directly to the RasPi from another machine connected to the same router (since both machines are in the same network they don't need internet).

Is there an easy way to do this?

[2018-12-17 18:52] vpetersson commented on #994
Please see the linked article. It explains how to accomplish that.

[2018-12-17 20:05] loleg commented on #993
I did re-run the upgrade script, and it did not fix the issue, even though I did not see an error in the migration step. So I deleted the database and start afresh. I'm now not even sure that the root cause was the frozen system upgrade. I'll see if I can reproduce the problem on another device, but if you think this issue is too much of an outlier, you can close it.

[2018-12-18 04:07] rusko124 commented on #993
Hi @loleg !
Can you try this command?
`python /home/pi/screenly/bin/migrate.py`

[2018-12-18 09:47] DaveEps opened #995 "Assets not showing"
Hi i am new on here and fairly new to Screenly !
i had screenly up and running on an old Raspberry pi for a few months
and it worked so well with my website , i thought i would upgrade to the latest Pi ,
as the old Pi was very slow .
my main asset is a link to my gallery on my website , which just shows images to any customers coming in.
but for some reason it will not load on the new one ?
so i h

[2018-12-18 16:11] vpetersson commented on #995
Hard to say, but please fill out the steps for reproducing the issue as per the template.

[2018-12-19 08:20] DaveEps commented on #995
Thanks for the reply back ,
also sorry i deleted that part thinking i didnt need it !!

i have Raspberry Pi 3 Model B+ which i installed the newest version of screenly from NOOBS_v2_8_2 .

For example to reproduce what i have done .

*added asset - webpage = https://www.facebook.com/
*turn on asset - waited for like a minute
*facebook homepage shows up on screen (works perfect)
*turn off asset

*a

[2018-12-19 17:05] astrodad opened #996 "No hotspot when using balenaCloud"
#### Overview of the Issue

I just configured a brand new Application and two devices in balenaCloud, all on ethernet. I disconnected the ethernet and rebooted the devices, expecting Screenly to create the hotspot so that I could configure the wifi. No hotspot appears and Screenly cannot connect.

### Environment

* Raspberry Pi Hardware Version: Raspberry 3 B+
* Screenly OSE Version: built from M

[2018-12-20 11:05] DaveEps commented on #995
Just to note : during installation of screenly ,
the raspberry Pi turned off twice due to lack of power ! i also had a flashing lighting bolt sign in the corner of the screen .
i noticed i was using an old cable, which ran my old Pi but worked fine , looking into it the output was 0.2 Amps , i bought an official raspberry pi power lead with 2.5 Amps and now all is fine !
with this in mind i starte

[2018-12-20 11:13] vpetersson commented on #995
A few things:

 * The PSU issue is expected. We see *a lot* of issues with this. That's why we only recommend using the official PSU
 * There could still be issues with the SD card. I'd try with either replacing the SD card or using [SD Formatter](https://www.sdcard.org/downloads/formatter_4/) and do an 'Overwrite format'
 * The website issue isn't all that surprising. The Facebook page is **heavy

[2018-12-20 13:07] DaveEps commented on #995
thank you for getting back to me .
the SD card is brand new and i used the SD formatter to format and reinstall .
i only used the Facebook website as a test , so i wouldn't be using that site or anything similar at all .
for future, i planned to create a separate page hidden on my server which would just be a slideshow of pictures that i want showing on my screen .
but for now i just wanted to run

[2018-12-20 14:14] vpetersson commented on #995
Is there any particular reason for not using the built-in functionality for this? It would provide you with much better performance and stability.

It's really hard to say. Do you know what version of Screenly the old device ran? If so we might be able to compare and contrast and see if we can find out.

[2018-12-20 15:23] DaveEps commented on #995
the only reason i would not use the in-built functionality is that i could create effects on a webpage that would go from one picture to the next . would be a good function though ! to have on screenly if we could fade/slide in the next image/webpage ?
i will work on adding some images for the time being .

i installed NOOBS v2.8 on the old Pi and NOOBS v3.0 on the new Pi
but not sure if there is

[2018-12-23 03:11] AngelG-543 opened #998 "Backup Authentication Bypass"
When a screenly instance is setup and running, there is normally authentication if the user chooses to enable it that guards the various functions. A recent discovery has led to being able for an unauthenticated user to bypass the authentication mechanism and retrieve a copy of the backup file.
screenly setup:
Authentication enabled
no ssl enabled

It seems that the link is not active when authent

[2018-12-23 08:36] vpetersson commented on #998
@AngelG-543 Good find. Frankly speaking, I wouldn't recommend using the built-in authentication as it is still pretty rough and should be considered work-in-progress. If you want to secure the device properly, I suggest using basic auth in Nginx instead. That said, we should definitely fix this.

@rusko124 could you try reproducing this?

[2018-12-24 05:43] rusko124 commented on #998
Confirm the issue above.
Created a PR to resolve this problem.

[2018-12-27 06:50] TheCazz opened #1002 "Can't activate assets"
Hi
I running the latest Screenly (I did upgrade because I did got same problem and was thinking it maybe fix the problem if I do a upgrade) and have raspberry pi 3

Today when I was going to change the play list I can inactive the assets (OFF) but I can't activate any assets that I have on the raspberry pi. No pic or movie wont to be activate.

It just show "ON" but they does not move up to the ac

[2018-12-27 07:31] rusko124 commented on #1002
Hi @TheCazz !
I just tried to reproduce these issue, but everything works well for me.
My steps: I installed the latest image and then updated.

Can you provide more information, please? You also make a backup of your assets and repeat the steps I wrote above.

[2018-12-27 09:59] TheCazz commented on #1002
Right now it works nice after I have reinstall everything. Just hope that I do not need to do that with the other screenly

[2019-01-02 18:26] CrazyBoySnp opened #1003 "Host File change not saving with balenaCloud"

[2019-01-02 18:31] CrazyBoySnp commented on #1003
Issue :

When I modify the Host File for OSE in the balenaCloud through their shell it does not keep the settings after a reboot.

Details :

I log into my balenaCloud and modify my Raspberry PI that has OSE installed and working fine I modify the /etc/host/ file with Sudo Nano to add my local internal domain adding the IP and the DNS name and then saving it, it works fine until I reboot and that

[2019-01-02 20:31] vpetersson commented on #1003
@CrazyBoySnp That sounds like a balenaCloud issue. I'd suggest you create a post on the [balena forum](https://forums.balena.io).

[2019-01-02 20:31] #1003 closed

[2019-01-02 20:40] vpetersson commented on #995
The version of NOOBS shouldn't matter. @rusko124 can you check if you're able to reproduce this?

[2019-01-03 14:31] ealmonte32 commented on #979
No they are not...

I think you guys should note that down when someone upgrades from one branch to other the assets are retained on the system but they dont start or the screenly viewer doesnt recognize them or accept the assets when dumped back onto database..

Since I couldn't spend more time trying to figure out how to get it to work, I just downloaded the new screenly image, but now when i tr

[2019-01-03 15:42] Cryjack opened #1004 ""Unable to run tvservice" logged in system info, nothing showing up on screen"
#### Overview of the Issue

I've recently updated two of our three Screenly's faultly with the experimental branch instead of the development branch via the update script. After updating back to development something is broken and the two are not showing up a picture anymore.
Systeminfo shows the attached error, while 'tvservice -s' works well on commandline.

#### Reproduction Steps

* Update to

[2019-01-03 16:01] Cryjack commented on #977
Hi together,

sorry for the delay (christmas). A happy new year to all of you!

With the recent dev branch it is working. Thank you!

[2019-01-03 18:47] vpetersson commented on #977
Glad to hear that. Closing out the issue.

[2019-01-03 18:47] #977 closed

[2019-01-03 20:33] ealmonte32 commented on #996
I've seen this and experienced it before, this is just one of many possible ways to reset the wifi connection screen..

get into terminal by pressing ctrl+alt+f1 , and once there run:
ls ~/.screenly/
and see if you have a file called wifi_set

if so, delete it by running:
rm -rf ~/.screenly/wifi_set

[2019-01-03 20:49] ealmonte32 commented on #979
So i remembered that you guys are in UK and I am in US, and i realized this when I was trying to check some of the settings in ./screenly and my keyboard kept putting weird characters, so I went ahead and changed localization settings via raspi-config, then i went ahead and edited the start resin wifi script and deleted the password generator part and made it open network, and now am finally on it

[2019-01-04 08:30] vpetersson commented on #979
That's strange. While I'm myself in the UK, we have a global team and the disk image is actually using `en_us` locale.

@rusko124 please see if you can reproduce this.

[2019-01-04 08:38] vpetersson commented on #1004
@Cryjack This is a known issue. Essentially, it's related to #987. Since we have moved the services to run inside of Docker, we are unable to execute services on the host. Hence, we need a separate command executer (Celery in this case).

[2019-01-04 08:47] Cryjack commented on #1004
Hi @vpetersson

thank you for your response. So it seems that there is actually no way to change back to the non docker version without a complete reinstall of the raspberry?

There are 1200km between me and the Raspberry... :-o

[2019-01-04 09:48] vpetersson commented on #1004
Assuming you have SSH access, you can. All you need to do is to re-run the upgrade script and switch to the development or production version.

[2019-01-04 10:13] Cryjack commented on #1004
This is what I have done already a few times. It seems that some requirements are not given, even if the update script runs just fine without errors.

[2019-01-04 10:20] vpetersson commented on #1004
That's strange. Could you post the logs?

[2019-01-04 10:31] Cryjack commented on #1004
Yes, no problem. Is there a special screenly log that you need, or a debug mode? I can't find something screenly-related in /var/log/

[2019-01-04 10:59] Cryjack commented on #1004
Got something like this from "journalctl"

[code]

[2019-01-04 11:10] Cryjack commented on #1004
Not sure if this is related, but the update script always shows this error (but even before the problem appears):

[code]

[2019-01-04 11:13] vpetersson commented on #1004
Yes, that's highly relevant. @rusko124 probably made some backward incompatible changes to the database.

[2019-01-04 12:19] Cryjack commented on #1004
Got it working.... OMG!

I'd always done the updates with sudo rights. That was why it doesn't find the path to the DB!
Doing it this way, it never comes to the dependency updates after the migration error. It just stops there and never proceeds the nessecary installs without any error than the migration.

Thank you @vpetersson for your help pointing me to the right direction.