[2019-06-12 05:41] rusko124 commented on #1124
Can we close this?

[2019-06-12 05:43] rusko124 commented on #1119
Should be resolved here #1156.
I think we can close this.

[2019-06-12 06:18] rusko124 commented on #1115
Yes, i can reproduce it.
Need to setup path to nginx log files
[code]

[2019-06-12 06:33] rusko124 commented on #1102
Can we close this?

[2019-06-12 06:34] rusko124 commented on #1100
Should be resolved in the last commits.
I think we can close this

[2019-06-12 06:43] rusko124 commented on #94
Resolved. Can we close this?

[2019-06-12 09:07] #1110 closed

[2019-06-12 09:08] #94 closed

[2019-06-12 09:09] #1100 closed

[2019-06-12 09:10] vpetersson commented on #1100
@joeladria Please test the development branch and let us know if the issue still persists.

[2019-06-12 09:10] #1102 closed

[2019-06-12 09:12] vpetersson commented on #1115
@urb5tar actually, looking closer at this, this isn't really not unexpected. Just check the logs and create the required directories. I don't think this should be part of Screenly OSE's code base.

[2019-06-12 09:12] #1115 closed

[2019-06-12 09:14] #1119 closed

[2019-06-12 09:15] #1124 closed

[2019-06-12 09:15] #1098 closed

[2019-06-12 09:15] #1127 closed

[2019-06-12 09:20] rusko124 commented on #1142
Hi @pooh22 !
Feature was added. Try to upgrade and let me know your opinion.

[2019-06-12 09:20] #1142 closed

[2019-06-12 09:22] urb5tar commented on #1115
Thank you very much for figuring this out

[2019-06-12 09:43] pooh22 commented on #1142
Thanks @rusko124 It will be a while before I have time to test it, but it is much appreciated!

[2019-06-12 13:02] w1nterl0ng opened #1161 "How do I "test" my changes in development"
I am working on some API changes, and I understand the server side, I am able to load the docker container, make changes and see them on the server.  However, I am not sure how to see my changes in a "viewer" short of pushing changes from every "save" to the actual raspberry pi itself.
I looked in the wiki and did not see anything about setting up a development environment.
How are other developer

[2019-06-12 13:15] ShukhratK commented on #1140
@rusko124 i adjusted the memory to 64. still restarting. longest it lasted was 18 hours.

[2019-06-12 14:07] ShukhratK commented on #1140
@rusko124 actually the output screen went completely blank about 20 minutes ago. balena showing the device as online however logs are not updating. i can go into the terminal via balena's dashboard. this happened after about 19 hours of being online.
i don't know if it makes a difference or not but it is on development mode in balena.

[2019-06-12 16:22] vpetersson commented on #1161
@w1nterl0ng It largely depends on what you're working on. If you're working on strict back-end code, then the docker container is usually fine. If it's front-end changes however, it usually requires a Pi. That said, in *theory* it is possible to run everything on x86 (on Linux), but it is largely untested.

[2019-06-12 17:33] w1nterl0ng commented on #1161
I am working on extending the functionality of /assets/control  I will attempt this Linux, if that fails I'll just write a script to deploy files to the Pi.  Thanks.

[2019-06-13 06:27] rusko124 commented on #1140
@ShukhratK I'm a little confused. What device do you have and what Balena image installed?

[2019-06-13 11:59] ShukhratK commented on #1140
@rusko124 i have a raspberry pi 3 b+ and using balena image for raspberry pi 3 development. (balenaOS 2.32.0+rev1
)

[2019-06-13 13:16] ShukhratK commented on #1140
by the way: still black screen showing on tv connected to raspberry pi but balena is showing it being online for 2 days. here is the last logs available:

12.06.19 00:43:47 (-0400)  screenly-viewer  Already showing file:///tmp/screenly_html/black_page.html, reloading it.
12.06.19 12:08:46 (-0400)  screenly-server  sudo: unable to resolve host fe32e6c
12.06.19 12:08:46 (-0400)  screenly-server  Fai

[2019-06-14 05:00] rusko124 commented on #1140
[code]
This error is related to the system information page on Balena. But this should not be related to your issue.

[2019-06-14 15:01] ShukhratK commented on #1140
@rusko124 That's what I figured. I know they had issues with their service a few days ago.

[2019-06-14 23:21] Jeff-lansidel opened #1163 "pi 3 b+ reboots after mp4 with other assets"
I have two 30 second mp4 clips that when 'active' by themselves individually, it loops through itself without issues. As soon as I activate another asset it will go through the play list once and reboot right after the 1st asset finished 'playing' on the second go-round. As the second asset, I have used a jpg, the weather.io page, clock.io and another mp4 video and it didn't matter the order of th

[2019-06-16 18:41] albanoalfredo opened #1164 "seamless loop"
#### Lack of seamless loop

I've used screenly in the past for digital signage for playing a video playlist with seamless loop and it was de perfect solution.

Now, everytime the video ends the player goes to black before starting again.
What happened in these newer versions?

How can I optimize for a seamless loop.

##### hardware

raspberry pi 3 b+

##### video:

mp4 h264 low bit rate (2 to 6 mb

[2019-06-17 11:30] vpetersson commented on #1164
@albanoalfredo There has always been a gap there. I know some contributor (can't find the ticket) was working on reducing this for this particular edge case, but I don't think it's in master yet. In short, `viewer.py` needs to be patched to pass on custom parameters to `omxplayer` such that it simply loops a single video. The black screen that you are seeing is from `omxplayer` loading.

[2019-06-17 14:03] vpetersson commented on #1097
@rusko124 let's go with this one:
![58463574-66884580-8134-11e9-8749-981e4611802f](https://user-images.githubusercontent.com/357664/59610292-fd7f6680-9110-11e9-8085-02a2b59053be.jpg)

[2019-06-17 14:04] #1047 closed

[2019-06-17 14:37] eugenosm commented on #1155
jut to be sure.
only that neede in WoTT extension?
![image](https://user-images.githubusercontent.com/35558969/59612353-bf00a080-913e-11e9-9e4f-6d2f0ec3647c.png)
or something else to add?

And one else question.  When start it in docker there is no sudo. And cause of:

[code]

All actions need to run wott-agent as sudo.
and as soon as i get WoTT Device ID like that:
[code]
this is not work in dock

[2019-06-17 20:42] albanoalfredo commented on #1164
thanks for your help.

[adafruit's video looper](https://github.com/adafruit/pi_video_looper) also uses omxplayer and there's no lag, the loop is seamsless. Can we somehow use the same method they use?

[2019-06-17 20:46] vpetersson commented on #1164
Technically speaking, it's not super hard. There's a built-in functionality for it in `omxplayer`. It just requires an update to the logic in `viewer.py`.

[2019-06-18 06:13] a-martynovich commented on #1155
@eugenosm Because our device id is stored in certificate which is in a protected folder `get_device_id` would still fail even after you removed Locker.

You can run bash in Docker as root like this:
`docker exec --user=root -ti screenly-ose bash`.

However Screenly is running as user pi, and we shouldn't change this. This user shouldn't have sudo privileges either.

Instead we should think of a wa

[2019-06-18 07:25] eugenosm commented on #1155
yes of course, but i mean that when i run this:
[code]
in docker it receives empty string and smoething like `sudo not found`  in stderr

[2019-06-18 08:46] a-martynovich commented on #1155
@eugenosm In our recent discussion we've decided to make agent certs publicly readable. Then you can get device id this way:
[code]

You can do this because agent and Screenly are installed on the same machine and should both be available for import.

[2019-06-18 12:43] lztrade commented on #527
@vpetersson Could you please re-evaluate the current possibility of using Chromium/Selenium, there seems to be an ARM driver mentioned in this conversation:  [https://stackoverflow.com/questions/49796818/webdriverexception-message-service-usr-lib-chromium-browser-chromedriver-unex](url)
I mean this driver:    https://github.com/electron/electron/releases/download/v1.6.0/chromedriver-v2.21-linux-ar

[2019-06-18 12:53] vpetersson commented on #527
@lztrade we've already invested significant effort in the browser rewrite. This is already available in the  experimental branch. Hence we would need a *very* good reason to throw this out.

[2019-06-19 09:32] eugenosm commented on #1155
so, as we disscuss in slack. there different python versions.

so i return to shell wott-agent execution. and in raspberry hardware all works fine.
but when in docker it did not find sudo and send to stderr this:
`sh: 1: sudo: not found`

if try to run without sudo,  then rises an exception about that `PermissionError: [Errno 13] Permission denied: '/opt/wott/ping-wott.lock'`

so:
would it be run

[2019-06-21 05:27] car-thee-ca opened #1167 "Issue with Balena"
I have been trying to use screenlyOSE on balena cloud . After ive successfully performed balena push, and got the unicorn image, i have been waiting for a really long time but screenly doesnt appear in my page. I tried to access my public URL and it gives off an error that “Device does not have registered vpn tunnel endpoint” ive been following the tutorial from this link: https://www.balena.io/bl

[2019-06-21 05:31] car-thee-ca commented on #1167
![Screenshot (76)](https://user-images.githubusercontent.com/42571681/59899726-674e8780-9413-11e9-87ce-618548f868c2.png)
This is the exact error message that i am receiving.

I did get build finished. I unzipped the github screenly-ose-master and performed balena push. Ive been waiting ever since yesterday evening but the screenly page does not appear on the monitor connected to my raspberry pi
![

[2019-06-21 07:05] #1149 closed

[2019-06-21 08:37] vpetersson commented on #1167
@remingtona - can you see if you can reproduce this?

[2019-06-21 09:04] #1148 closed

[2019-06-21 10:26] #843 closed

[2019-06-21 13:38] #1155 closed

[2019-06-21 15:41] RemingtonA commented on #1167
Can do!

[2019-06-24 10:35] vpetersson opened #1168 "Issue upgrading on NOOBS"
#### Overview of the Issue

When upgrading on a NOOBS installation (to development release), the upgrade fails with the error:

[code]

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Install using Noobs
* run `bin/run_upgrade.sh`
* Select the development release

### Environment

* Raspberry Pi Hardware Version: Model 3 B+
* Screenly OSE Version: Sprint 9 Completed

[2019-06-24 21:16] ShukhratK commented on #1140
https://github.com/Screenly/screenly-ose/issues/1163 this threads sounds similar to mine. do you think it could be the video file?

[2019-06-26 09:20] novasea commented on #1167
I got the exact same issue. When I check the balena device trying to run screenly, through the balena web interface, the logs says it cant find some command, and that there's a syntax error near unexpected token.

`26.06.19 11:19:02 (+0200)  screenly-server  /tmp/screenly/bin/start_balena.sh: line 2: $'\r': command not found
26.06.19 11:19:02 (+0200)  screenly-server  /tmp/screenly/bin/start_balen

[2019-06-26 09:26] vpetersson commented on #1167
@novasea I'm not sure that's the same error. That looks very much like a Windows formatting error (i.e. a file edited on Windows, that broke the newlines).

[2019-06-26 09:26] vpetersson commented on #1167
@RemingtonA were you able to reproduce this?

[2019-06-27 05:59] car-thee-ca commented on #252
how to change date?

[2019-06-27 08:27] vpetersson commented on #252
@car-thee-ca please use the [forum](https://forums.screenly.io/c/screenly-ose) for questions.

[2019-06-27 15:49] ekevoo commented on #1091
Hello, I have ported a different project from 2 to 3 in the past and I had zero problems, though it was definitely much smaller. In #1045 you mention that it's partly due to dependencies. Have you already identified which dependencies are affected?

[2019-06-27 15:54] y4nn1ckx opened #1170 "Audio in URL is not playing"
#### Overview of the Issue

A web page using the <audio> tag or the <embed> tag does not play audio files. When using the <audio> tag, the player is displayed and act as if it was playing but the sound does not come out on the 3.5mm jack.

I did configure sound to point to 3.5mm jack in the Screenly settings and if I upload a video to the Raspberry Pi, the sounds plays well. But not on URLs.

###

[2019-06-28 10:24] vpetersson commented on #1170
@y4nn1ckx I don't know if the browser used actually supports audio. Could you try upgrading to the experimental version, as it is using a different browser.

[2019-06-28 10:25] vpetersson commented on #1091
@ekevoo We'd love help with the upgrade to Python 3. Things have likely changed sin the initial comment in 1045, so I don't know if it is still the case. My gut feeling tells me that by now everything will work, and we will just need to refactor the code.

[2019-06-28 13:27] ekevoo commented on #1091
I might be able to help, but I just installed Screenly for the first time yesterday and haven't looked at the code yet. I guess the two big initial questions are

1. What's the situation with unicode strings and byte strings? Are they marked (u"" and b"" or are there usually `from __future__ import unicode_literals`)?
2. I notice the installer spends quite some time and effort clearing out any pot

[2019-06-28 13:50] vpetersson commented on #1091
That's a good question - @rusko124?

Sure, that's done in [here](https://github.com/Screenly/screenly-ose/blob/master/bin/install.sh).

[2019-06-28 14:06] bitos2002 opened #1171 "Screenly-OSE and wifi-connect"
#### Overview of the Issue

 Screenly-OSE and wifi-connect

#### Reproduction Steps

Hello,
I want to use screenly-ose on balena container, but I want to use wifi-connect.
Is wifi-connect include in screenly-ose last version.
I have tried to merge on one container screenly-ose an wifi-container, but i have not exit on it.
Anyone has done this and can help me or share the project.

Thanks !!!!

[2019-06-28 14:10] bitos2002 opened #1172 "How to use web server inside screenly for use personal satic web page"
Hello,
Anyone can say me the path inside screenly directories to put a personal static web page (index.html) , and use it in screenly schedule app. as a local resource.
Thanks

[2019-06-28 14:12] vpetersson commented on #1172
You can't because it's an app server, not a web server. You'd have to re-configure Nginx for this.

[2019-06-29 09:55] bitos2002 commented on #1172
Thank you!!!
Can you say me the path of .conf file for configure nginx on another port for no disturb the other services, and how can configure for automatic star on init.
Thanks !!!

[2019-06-29 10:39] vpetersson commented on #1172
Nginx is already enabled and running as a reverse proxy.

You'd have to add your own config in `/etc/nginx/sites-enabled/`, but this is not Screenly specific. The config Screenly uses looks like [this](https://github.com/Screenly/screenly-ose/blob/master/ansible/roles/nginx/files/nginx.conf).

[2019-06-29 13:18] albanoalfredo commented on #764
I don't understand why it needs a connection to update the playlist when you add assets.

Ideally, if no connection is found it should have two options:

- local areal network (without internet access)

- offline mode (reads the local assets or check for usb drives, mount it and play all the compatible files)

In both modes it would be great having a way to setup the time manually, eliminating the

[2019-06-30 09:38] RemingtonA commented on #1088
Can no longer reproduce on Screenly OSE (version 2019-04-27).

[2019-06-30 11:06] #1088 closed

[2019-07-01 07:43] samiswt opened #1173 "What's the Windows Manager of Screenly OSE? Is it the same as Screenly Pro?"
Is it XDG-manager? Is it open source or propriety? What's the viewer based on the Windows Manager?  Is it a web browser?  What's it? Firefox or anything else?

Thanks!

[2019-07-01 10:47] rusko124 commented on #1167
![first](https://user-images.githubusercontent.com/17593028/60430567-70afcf00-9c1f-11e9-8171-9e8b86fbccb5.png)
![second](https://user-images.githubusercontent.com/17593028/60430570-70afcf00-9c1f-11e9-9e7c-cc2dfe041a06.png)

Works good for me, `9bdd4e8` release version

[2019-07-01 16:13] willworkforicecream opened #1174 "WoTT installer prompt backwards."
When installing and answering to the WoTT install prompt, installer.sh will do the opposite of what is intended.

#### Reproduction Steps
Run
`$ bash <(curl -sL https://screenly.io/install-ose.sh)`
on a fresh Rasbian lite.

### Environment

* Raspberry Pi Hardware Version: 3b+

Looking at installer.sh, it looks like this is backwards so if you answer that yes, you do want to install WoTT, it Won'T

[2019-07-01 16:17] vpetersson commented on #1174
@willworkforicecream good catch! Pushed a fix. I completely missed that.

[2019-07-01 16:18] #1174 closed

[2019-07-01 19:35] prwiley opened #1175 "Screenly IP changes"
I installed Screenly OSE from NOOBS and got it to work just fine at first.

However, the IP address for the Screenly controls stopped responding after a bit -- Chrome said the address could not be reached.

I rebooted the pi and got a new IP address. Is it possible that the IP was somehow changed before the reboot as Screenly was running?

Rasberry Pi B

[2019-07-02 08:49] vpetersson commented on #1175
The IP is not managed by Screenly - It's managed by the operating system (and received from the DHCP server). Hence, depending on the configuration, it might very well change even during run time.

[2019-07-02 08:49] #1175 closed

[2019-07-02 10:43] Micbui opened #1176 "Webbrowser"
Where and how can I change the Webbrower?

In addition I like to intrate a ssl certificate? Does anyone have an idea how I can do it?

[2019-07-02 10:49] vpetersson commented on #1176
You can't. It's deeply integrated into the stack.

You'd have to install it as a trusted system certificate. That way it should in theory work.

[2019-07-02 10:49] #1176 closed

[2019-07-02 15:43] y4nn1ckx commented on #1170
Is there an official way to upgrade my Sprint9 image to experimental?

Tried using the run_upgrade.sh file from /home/pi/screenly/bin  but after that I get stuck at Screenly loading screen written "user@1000.service"

[2019-07-02 16:15] vpetersson commented on #1170
@y4nn1ckx sounds like a broken SD card actually. Try replacing it. Random freezes and odd behavior tend to come from that.

[2019-07-02 16:43] y4nn1ckx commented on #1170
Tried another MicroSD card, results are similar. Right now, it is stuck at Screenly loading screen written "screenly-web.service"

I didn't do any changes to the config of the Sprint9 image after initial imaging process except enabling SSH.

During the run_upgrade.sh, I did get the following error

TASK [screenly : Run database migration] ***********************************************************

[2019-07-02 16:51] vpetersson commented on #1170
This is very odd, but that still looks like another SD card failure. These things are fragile and I had a number of them break over the years. Here's what I recommend:

 * Re-download the disk image (and check the MD5 sum)
 * Use [SD Formatter](https://www.sdcard.org/downloads/formatter/) to perform an Overwrite format
 * Reflash the disk image using [Etcher](https://www.balena.io/etcher/)  (since

[2019-07-02 16:59] y4nn1ckx commented on #1170
I will be trying this shortly.

In the mean time, my issue regarding the upgrade to experimental looks very similar to https://github.com/Screenly/screenly-ose/issues/1152

[2019-07-02 18:40] y4nn1ckx commented on #1170
Redid it all, the upgrade went fine this time. (I suspect that run_upgrade.sh should NOT be run using sudo?)

Regarding the main topic, my attempts to have audio on a webpage so far have not worked. I tried the EMBED and AUDIO html tag and none of them worked. Will continue testing.

[2019-07-03 07:16] vpetersson commented on #1170
Correct. That will mess up the permission. `sudo` is invoked in the script when needed.

[2019-07-03 08:52] #1070 closed

[2019-07-04 18:09] carlesjavierre opened #1177 "Cannot play WebGL 3D Websites"
#### Overview of the Issue

Cannot play 3D enabled websites ("Enable WebGL to explore in 3D")

#### Reproduction Steps

Add an asset with this URL (for example): https://my.matterport.com/show/?m=gCq5iFJrJXG

### Environment

* Raspberry Pi 3B
* Screenly OSE Version: Checkout from master today. Built with balena.

[2019-07-05 17:07] vpetersson commented on #1177
This is expected. WebGL isn’t really well supported on the Pi to my knowledge. Perhaps this will change with the Pi 4, but I doubt that is well supported yet in any browser.

[2019-07-05 17:25] carlesjavierre commented on #1177
I've seen it's quite messy, but I was hoping for someone to know more than me and have it working in a more fluid way. Anyhow, let's see how the new RBP holds it.

Speaking of the Pi 4, is there any expected/imminent support for it? (Couldn't find it on the next sprints)

[2019-07-06 11:48] unmanagedtn opened #1178 "Feature Request: ADD CEC Control..."
Add CEC Control over HDMI

1. sudo apt-get install cec-utils

Once everything is installed you should be able to control the tv using the command below:

**Turn tv on: echo on 0 | cec-client -s -d 1**
**Turn tv off: echo standby 0 | cec-client -s -d 1**
**Tv status: echo pow 0 | cec-client -s -d 1**

#### Troubleshooting Tips:

* Make sure your tv supports cec and that it is enabled. Tv manufactur

[2019-07-06 12:38] unmanagedtn opened #1179 "HLS Video Support (or working hls player)"
#### Overview of the Issue

Trying to play HLS stream using videojs player

#### Reproduction Steps

Steps to reproduce this issue, eg:

1. Add 'https://082b07eb-6dc0-44be-bdc5-faf3ddafb129.htmlpasta.com' as an asset
2. Turn it on
* Wait for the asset toblack box to  show up on the screen
### Environment

* Raspberry Pi Hardware Version: v2
* Screenly OSE Version:

Load Average | Free Space | Upti

[2019-07-07 18:57] ekevoo commented on #1091
So I'm working at this today and I'm kind of puzzled on amf.py. I'm not sure what this does but it's clearly heavily encoding-related. I saw very few references to py2's str which is equivalent to py3's bytes.

[2019-07-08 12:16] vpetersson commented on #1091
@rusko124 could you chime in here?

[2019-07-08 12:19] vpetersson commented on #1179
This is expected. Videos embedded in an web page is not supported. The Pi is simply not powerful enough to do that.

[2019-07-08 12:19] #1179 closed

[2019-07-08 12:21] vpetersson commented on #108
Closing out in favor of #1178

[2019-07-08 12:21] #108 closed

[2019-07-08 12:21] vpetersson commented on #1178
Nice documentation @unmanagedtn. Somewhat of a duplicate of #108, but will close out the other one in favor of this as it has more info.

[2019-07-08 12:23] vpetersson commented on #1177
We need to build a new image for this, but in theory, it should work if you install Raspbian Stretch on the Pi 4 and do a manual installation of Screenly.

[2019-07-08 12:39] gtrak opened #1181 "Lack of developer documentation and difficulty running tests"
I'm attempting to adapt screenly for a custom use-case, learning the code, etc.  I hit a wall running the tests on a local ubuntu 19.04 install.  Eventually, through looking through the travis-ci config, I was able to install enough dependencies to be able to run the tests, but hit a few roadblocks.  I'd like to highlight what those are for the next person and see if there is any low-hanging fruit

[2019-07-08 13:19] gtrak opened #1182 "Feature Request: Download Video from URL"
When evaluating this project, I noticed the ability to play youtube URLs and that it would actually download the video file locally.  Depending on how the content is hosted and how often the playlist repeats, it maybe be more reliable, quicker and cheaper to to sync the file locally than to stream it constantly.

Upon digging into the code, I saw that the architecture to do so is a mix of message-

[2019-07-08 14:59] WTPLJim opened #1183 "ERR_CONNECTION_REFUSED after update (see #361) - rerunning upgrade not working."
#### Overview of the Issue:
    Ran upgrade today, splash screen comes up and then TV goes blank. I tried accessing the 8080 page, and it refused connection. I assume at this time, the screen going blank after showing commands after splash screen is simply that there is no active assets in the 8080 page.

#### Reproduction Steps
Upgraded, see splash screen, see some commands, screen blanks, attemp

[2019-07-08 15:28] WTPLJim commented on #1183
**Note: Service is failing to load!!

pi@raspberrypi:~ $ sudo systemctl
  UNIT                      LOAD   ACTIVE     SUB          DESCRIPTION
  proc-sys-fs-binfmt_misc.automount loaded active     waiting      Arbitrary Exe
  sys-devices-platform-soc-3f201000.uart-tty-ttyAMA0.device loaded active     pl
  sys-devices-platform-soc-3f202000.sdhost-mmc_host-mmc0-mmc0:0001-block-mmcblk0
  sys-devices-

[2019-07-08 17:16] WTPLJim commented on #1183
Some more...

pi@raspberrypi:~ $ sudo service screenly-viewer start
pi@raspberrypi:~ $ sudo service screenly_net_mgr start
Job for screenly_net_mgr.service failed. See 'systemctl status screenly_net_mgr.                   service' and 'journalctl -xn' for details.
pi@raspberrypi:~ $ journalctl -xn
No journal files were found.
pi@raspberrypi:~ $ systemctl status screenly_net_mgr.service
● screenly_

[2019-07-09 13:46] gtrak opened #1184 "Feature Request: Test Travis CI on Ubuntu 18.04"
The Travis CI config references 14.04, but 18.04 is the current LTS release, and more representative of developer machines in 2019.

The proposal is to target 18.04 in CI.

[2019-07-09 13:47] vpetersson commented on #1184
@gtrak sensible feature request.

[2019-07-09 13:58] vpetersson commented on #1183
@rusko124

[2019-07-09 14:03] vpetersson commented on #1182
@gtrak my understanding is that a YouTube URL can never change the content (i.e. you can't replace it with a new video). Hence having a syncing feature is somewhat moot.

We do support proper streaming URLs too (see [release notes](https://www.screenly.io/blog/2017/07/05/screenly-ose-0-10-is-out/)).

I doubt streaming YouTube is realistic on the Raspberry Pi, unless we can extract an RTSP feed or

[2019-07-09 14:06] gtrak commented on #1182
To be clear, I mean for this feature to locally download videos that are not youtube, eg hosted as a regular file somewhere on a CDN.  Currently, it seems it will play the URL directly, and that's not always going to be as reliable or quick enough depending on the network connection.

[2019-07-09 14:08] vpetersson commented on #1182
Oh, I see. Well, honestly, i think it's easier to do that using the API instead.

[2019-07-09 14:16] vpetersson commented on #1181
@gtrak This is unfortunately a known problem. As with many open source projects, documentation is what suffers. Having more documentation and a better development environment is absolutely in the projects interest. It is largely a bandwidth issue.

Generally speaking, when developing the server component, using the [Docker setup](https://github.com/Screenly/screenly-ose#dockerized-development-envi

[2019-07-09 14:17] gtrak commented on #1182
I can't seem to find documentation on the API, but it seems to fit the use-case according to https://www.screenly.io/api/ .

I was also hoping for more of a pull model to sync assets with an upstream server, since it's not easy to call into a raspberry pi box from the internet.  Is that possible with either OSE or the commercial version?

[2019-07-09 14:19] vpetersson commented on #1181
Also, ping @RemingtonA when you're back from vacation.

[2019-07-09 14:21] vpetersson commented on #1182
In the commercial version of Screenly, you can fire off API calls and add/remove assets and have them being updated on all the devices.

The API docs for Screenly OSE can be found [here](http://ose.demo.screenlyapp.com/api/docs/), and the commercial API is the one you linked to.

[2019-07-09 14:30] gtrak commented on #1181
I think I can alter the Dockerfile to mirror the Travis CI tests with a little effort. I'll try down that path.  Since it's separate from the balena/deploy dockerfile, it might be suitable for a development environment?

I'm still not sure what the right path is for pipenv/python3 etc., but it's less of a priority once docker works for testing.

[2019-07-09 14:36] vpetersson commented on #1181
The main Dockerfile is currently used for the [demo site](http://ose.demo.screenlyapp.com) and for local development environment. It's fine to keep building on this as long as we don't introduce any issues.

There's an open PR for the migration to Python 3 [here](https://github.com/Screenly/screenly-ose/pull/1180), but it is work-in-progress.

[2019-07-09 14:39] gtrak commented on #1182
OK, it's not clear to me if this is desirable for OSE's scope, when there are a couple of ways to address it including commercial. Happy to close this unless I'm missing something.

[2019-07-09 14:39] #1182 closed

[2019-07-09 14:43] vpetersson commented on #1182
Generally speaking, we want to move as much as possible to the API rather than building in everything (as it adds a lot of complexity). From the sound of the description, a 15-20 line Python script should be able to both check for an updated version and add/remove the asset to Screenly (regardless of version).

[2019-07-09 14:46] gtrak commented on #1182
Yea, for my use-case, I'm considering whether I'd add a separate daemon to be deployed alongside on the raspberry pi, then I have the option of interacting with the screenly API or reaching into the sqlite file at my own risk.  It sounds like if the API has specific gaps, then I should open up issues/PRs for those.

[2019-07-09 14:51] vpetersson commented on #1182
Yeah, having a side-loaded service/daemon should do the job just fine. And yeah, if you run into issues with the API, file a separate issue for that. Also, I'd strongly discourage altering the sqlite directly.

[2019-07-10 21:29] vpetersson opened #1186 "Issues with wired network if no cable is inserted on boot"
#### Overview of the Issue

If you boot the device without an Ethernet cable and then insert one after the hotspot has appeared, the web interface will not be accessible as you get to the hotspot.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Boot the system without an Ethernet cable
* Wait for the hotspot splash screen to appear
* Insert the network cable

##### Behavior

* Hots

[2019-07-10 21:33] vpetersson opened #1187 "Upgrade to Raspbian Buster"
The Raspberry Pi 4 Model B does not seem to boot on Stretch. We need to upgrade to Buster.

[2019-07-10 22:21] homerosbart2 commented on #1167
**Is this in Windows?**

[2019-07-11 09:55] vpetersson opened #1188 "Issues with Noobs installation"
See discussion here:
https://github.com/raspberrypi/noobs/issues/549

For a NOOBS installation you should definitely remove this part of cmdline.txt.
If you want to keep your normal vs noobs distributions identical for ease of maintenance, then I suggest you modify the partition_setup.sh script to remove this parameter from cmdline.txt using sed.

[2019-07-12 08:05] rusko124 commented on #1183
Hey @WTPLJim !
`screenly_net_mgr.service` looks like a old service.
Good and fast solution for you I think will be installing the latest version from https://github.com/Screenly/screenly-ose/releases/tag/0.17.
If you still want to keep the current version then run this command `cd ~/screenly && ./bin/run_upgrade.sh` and after that provide me logs of updating, please.

[2019-07-12 08:10] rusko124 commented on #1171
Hey @bitos2002 !
I don't think it's that obvious. A possible solution can be found here I think https://www.balena.io/docs/reference/cli/

[2019-07-12 12:19] WTPLJim commented on #1183
Okay - is there a command path via SSH to upgrade to the newest Sprint?
- Pi is in an engineered "security" cage that can be a bit rough to access.

I'll start the upgrade tomorrow if I need to access the physical device.

Thanks, running update on current version now.

[2019-07-12 12:26] WTPLJim commented on #1183
Log of upgrade:

pi@raspberrypi:~ $ cd ~/screenly && ./bin/run_upgrade.sh
   _____                           __         ____  _____ ______
  / ___/_____________  ___  ____  / /_  __   / __ \/ ___// ____/
  \__ \/ ___/ ___/ _ \/ _ \/ __ \/ / / / /  / / / /\__ \/ __/
 ___/ / /__/ /  /  __/  __/ / / / / /_/ /  / /_/ /___/ / /___
/____/\___/_/   \___/\___/_/ /_/_/\__, /   \____//____/_____/

[2019-07-12 14:32] WTPLJim commented on #1183
Upgraded to Sprint9.
I have a splash screen; cannot connect to web interface (IP:8080).
Nor can I access via SSH.

I am able to ping on IP (172.29.53.102)

[2019-07-12 14:32] WTPLJim commented on #1183
Got it... removed the Port 8080 on flash!

[2019-07-12 14:52] WTPLJim commented on #1183
Up and working again, thanks!

[2019-07-12 16:44] WTPLJim commented on #1183
Before closing.... SSH is no longer connecting on new version.
Is this now on a non standard port?

[2019-07-12 16:46] vpetersson commented on #1183
SSH has been disabled by default for some time in Raspbian (and Screenly OSE).

You need to manually enable it using `sudo raspi-config`.

[2019-07-12 16:46] #1183 closed

[2019-07-13 11:18] #1105 closed

[2019-07-15 12:37] WMcClureInzata opened #1193 "Balena and ScreenlyOSE video not playing performance issues with .GIF"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

Video does not play. Blank screen for default time (10 sec) no matter video length. Then switch to next asset. Images load fine. GIF files load but play poorly. If in full resolution, choppy and erratic. Loads fine if small resolution (640x480)

I apo

[2019-07-15 12:47] vpetersson commented on #1193
What is the codec of the video? It needs to be encoded using h264 for it to work. The Raspberry Pi is very picky on this.

[2019-07-15 20:24] TheCazz opened #1194 "504 gateway time-out"
Hi
I have install the latest version of screenly OSE and I have got it running for a friend

At home I have add som rtsp streaming and got it to work and I have now done that on for my friends screenly but now I get 504 gateway time-out and not sure how to see how to fix the problem.
I have look at journalctl but it does not say so much when I do not know what to look after.

The only think I can

[2019-07-16 05:45] rusko124 commented on #1167
Ubuntu 18, but I also reproduced all steps on Windows 8.
![изображение](https://user-images.githubusercontent.com/17593028/61269003-171ed700-a7bf-11e9-8114-832a358d1dcf.png)

[2019-07-16 10:32] vpetersson commented on #1194
@TheCazz Try upgrading to the latest development version to see if that resolves the issue.

[2019-07-16 12:46] TheCazz commented on #1194
hmm sorry if it sound stupid but how do I do that?

I guess if I use this

`bash <(curl -sL https://www.screenly.io/install-ose.sh)`

then it not the dev it trying to install?

[2019-07-16 15:12] vpetersson commented on #1194
That's the right steps - just make sure to answer `Y` to if you want to install the development version.

[2019-07-16 21:44] TheCazz commented on #1194
After a update now I get 502 Bad Gateway

[2019-07-17 05:08] rusko124 commented on #1194
Hey @TheCazz !
![изображение](https://user-images.githubusercontent.com/17593028/61348498-c07ad100-a882-11e9-8fd4-5f76ea812ec2.png)

Could your provide logs(`journalctl -u screenly-web.service`), please?
Also would be good if you said all steps to reproduce the problem, and what device do you use?

[2019-07-17 11:07] TheCazz commented on #1194
Well first I did install the image to SD card and Power on
It looks like it works so I have to after that force HDMI (Have VGA adapter) and then rotate the screen
Everything looks fine so I did add a rstp address that I know is working (Have try it on VLC) and after that I get the error. so I did run the manual update and did say yes to almost everything (but no to update the raspberry system). I

[2019-07-17 13:09] mflage commented on #793
How do you enable/disable the asset through the API? Which URL is used for that?

[2019-07-17 13:27] mflage commented on #645
I don't think it's possible to do this through the API. I found the following: https://www.raspberrypi.org/forums/viewtopic.php?t=12396&start=925 that did something like this, but the /api/v1/assets/<asset-id> doesn't support the POST method. You can therefore only get information of the asset, but not change it in any way. Is it possible to get this working again?

[2019-07-17 13:37] vpetersson commented on #645
Correct, you cannot do a POST on an asset. That's by design, because there are a number of checks when an asset is added. Hence the DRY approach is to do:

* DELETE on /api/v1.1/assets/{asset_id}
* POST on /api/v1.1/assets

The API docs can be found [here](http://ose.demo.screenlyapp.com/api/docs/).

[2019-07-17 13:39] vpetersson commented on #793
@mflage That should be a PATCH. Looks like we don't have that right now. @rusko124 is this the case?

[2019-07-17 16:49] mflage commented on #645
The problem is that the asset is an uploaded mp4. Does this mean I have to keep uploading the movie every time I want to enable the asset? Something is very off here by design :)

[2019-07-17 16:50] vpetersson commented on #645
Well, i thought we were talking about *updating* the asset, as in changing the content. If we're merely talking about toggling the `is_enabled` status, that's a different matter.

[2019-07-17 17:12] aolszowka commented on #645
In the original ask it was for toggling is_enabled

[2019-07-17 17:13] vpetersson commented on #645
@rusko124 Do we have this feature?

[2019-07-18 07:02] rusko124 commented on #645
@aolszowka use `PUT` method for asset updating.
To enable example:
[code]

To disable example:
[code]

[2019-07-18 07:16] mflage commented on #645
Perfect, I can confirm that this works as intended. Finally I can remote control my screenly properly. This should however be documented a bit better in the API docs, as the documentaton says: "Adds an asset". It should be changed to "Adds or modifies an asset" or similar.

[2019-07-18 07:30] vpetersson commented on #645
There's definitely room for improvement here. We should have a simple PATCH on the asset to allow you to *just* set the flag. @rusko124 can you create a ticket for that?

[2019-07-18 08:02] rusko124 commented on #1194
@TheCazz As far as I understand you got the error right after adding the rstp asset?
Then could you provide the full logs?`journalctl`

[2019-07-18 08:18] rusko124 opened #1195 "Introduce PATCH on assets endpoint"
Discussion: #645

[2019-07-18 09:29] vpetersson commented on #1195
@rusko124 That's a fairly vague description. I've renamed it to a more descriptive header.

In short, we want to be able to PATCH an asset to say toggle `is_enabled` or duration for instance.

[2019-07-18 11:04] TheCazz commented on #1194
![screenly](https://user-images.githubusercontent.com/3855207/61452612-7ebe5900-a95c-11e9-93ce-a2dc851b4c3a.PNG)

Hmm well no but I maybe do something wrong?

[2019-07-18 11:06] rusko124 commented on #1194
@TheCazz I mean without any unit. Just `journalctl` :)

[2019-07-18 11:11] TheCazz commented on #1194
ahh ok but what are I going to look after. is going to be many line of info :)
All I can see now is
![screenly](https://user-images.githubusercontent.com/3855207/61453058-7d416080-a95d-11e9-9e92-ce83f23f67c3.PNG)
wlan info (I going to use wifi later but now is ethernet connected)

[2019-07-18 11:28] rusko124 commented on #1194
@TheCazz Please put the logs to somewhere(online text paste service or textfile)

[2019-07-18 16:43] TheCazz commented on #1194
ok here it is but it does not say so much.
https://www.c-media.se/log.txt

[2019-07-19 08:36] #1112 closed

[2019-07-19 08:36] #1113 closed

[2019-07-19 17:39] at565 opened #1196 "Black page displays at end of asset list"
Running on a Pi 3 Model B. Can't say the version of OSE as it doesn't say anywhere in the UI and there is no SSH access to this device, which I don't have physical access to at present. I can say that it was whatever version was available back in February of this year, as that was when it the device was built and installed.

OSE is throwing up the black screen for 30 seconds, seemingly at the end

[2019-07-19 17:48] #1109 closed

[2019-07-19 17:58] at565 commented on #1196
To add to this, it appeared to us that the black screen was being displayed at the end of each cycle through the asset list. To offset this a bit, I increased the display duration of the assets from 30 to 60 seconds each. The display time for the black screen has now also increased to 60 seconds, and seems to be happening at random rather than just at the end of the asset list. More logs below fro

[2019-07-20 15:35] #1114 closed

[2019-07-20 17:35] #1116 closed

[2019-07-22 11:06] rusko124 commented on #1194
@TheCazz could you update one more time and show the logs at the end of the updating, please ?

[2019-07-22 11:09] rusko124 commented on #1196
Hey, @at565 !
Is `Swap_1080x1920.gif` display correctly?

[2019-07-22 11:30] TheCazz commented on #1194
Sure it going to take a little time but I going to do it
Just run the update and again run  journalctl

[2019-07-22 15:56] TheCazz commented on #1194
ok after I came back after have been out I did see it was finnish and did run the command but it gave me same info as before.
So I did reboot the raspberry and again run the command and it gave me this info
https://www.c-media.se/log2.txt

[2019-07-22 18:08] #1120 closed

[2019-07-23 13:02] rusko124 commented on #1194
@TheCazz Judging by the logs, no one of the services Screenly does not start. Have you had any problems with the update?Any errors?

[2019-07-23 13:09] TheCazz commented on #1194
No error what I can see but I think I have to reinstall it again when I'm at his place again.

[2019-07-23 15:11] at565 commented on #1196
It is displaying normally.

[2019-07-30 05:23] rusko124 commented on #1194
Hey @TheCazz !
How is it going?

[2019-07-30 05:31] rusko124 commented on #1196
@at565
Could you upgrade Screenly?
`cd screenly && ./bin/run_upgrade.sh`
I believe that It could help.
Let me know if problem still have, we will continue to try resolve this.

[2019-07-30 18:26] vpetersson commented on #645
@mflage Fix has now been applied to the master/developer branch.

[2019-07-30 18:26] #645 closed

[2019-08-01 04:40] #1195 closed

[2019-08-03 12:16] #1134 closed

[2019-08-06 07:00] rusko124 opened #1198 "Uzbl browser is broken on Raspbian Buster"
### Overview of the Issue

UZBL does not work correctly on Raspbian Buster. This leaves a mark on the Screenly. In our case, no images are displayed. After inspecting the logs I found this error event `EVENT [11312] LOAD_ERROR 'file:///tmp/screenly_html/black_page.html' 102 'Frame load was interrupted'`

It's a good point of start for this https://github.com/Screenly/screenly-ose/issues/1093

####

[2019-08-06 22:35] madsrh commented on #1171
Can we close this issue?

[2019-08-07 00:13] vpetersson commented on #1171
@madsrh Yeah i think so.

Closing this out.

[2019-08-07 00:13] #1171 closed

[2019-08-07 05:53] hahni opened #1199 "Raspian Buster on RPi 4 - NOT RUNNING"
After upgrading from RPi 3 to RPi 4 I made a new Buster-Image and run a manual installation with $ bash <(curl -sL https://www.screenly.io/install-ose.sh)

The System installed without any issues and after reboot I could connect to the Web-Backend to add some screens - bit the display is black.

I read through the Buster comments and found some details in 'pi-gen' but for me its actually not possi

[2019-08-08 21:50] at565 commented on #1196
Unfortunately the Pi is in a secured enclosure with security bolts, etc, and SSH was not enabled when it was created. If there were a way of doing it via the web interface that would be a huge help. As there isn't at present (to my knowledge), I will update this thread when we can gain access to the device to update it (and enable ssh...)

[2019-08-12 01:55] tyronewyatt commented on #158
I use redsocks on my screenly ose and point it to our internal proxy server.
Here is a basic guide to get you started https://jmkhael.io/escape-proxy-hell-with-redsocks/

[2019-08-12 16:34] vpetersson commented on #158
Interesting. Good find @tyronewyatt! Thanks for sharing.

[2019-08-12 16:41] vpetersson commented on #1199
@rusko124 Were you able to get your hands on a pi4?

[2019-08-13 06:38] rusko124 commented on #1199
@vpetersson Not yet, I believe that will have it soon

[2019-08-13 06:39] hahni commented on #1199
Yes of course - that would pe possible

[2019-08-16 09:59] Andr3wid opened #1200 "Kibana 7.0 dashboards displayed as blank page"
#### Overview of the Issue

I heavily use screenly as a solution to display Kibana dashboards. Since the Kibana update to version 7.0, all Kibana-assets get displayed as a white, blank screen.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press Add Asset
* Enter an asset-URL that points to Kibana (you can use [this](https://demo.elastic.co) official Kibana demo if you don't have

[2019-08-16 10:02] vpetersson commented on #1200
@Andr3wid Try reverting to the development version. The experimental version is running a different browser. We are however keen on getting this to work with the experimental version.

@rusko124 can you try to reproduce this?

[2019-08-16 10:28] Andr3wid commented on #1200
@vpetersson Thanks for the fast reply. Happens in the newest production version as well. (production@618864d) Updated issue description.

[2019-08-16 10:30] vpetersson commented on #1200
Can you try the development version?

[2019-08-16 10:54] Andr3wid commented on #1200
Same behavior in development version (master@3c8645c).

[2019-08-16 18:35] at565 commented on #1196
An update on this issue:

I've been testing this on another Pi running the current (Experimental) version of Screenly OSE and have found what seems to be the cause - everything is fine, until the process hits an animated .gif. It does occasionally display it as expected, but most of the time it throws the black screen. Checking the logs, it looks like the browser is crashing:

[code]

Note that in

[2019-08-17 08:13] #1152 closed

[2019-08-17 08:13] #1151 closed

[2019-08-18 11:08] #1028 closed

[2019-08-18 19:08] #1161 closed

[2019-08-19 05:09] rusko124 commented on #1200
I confirm that uzbl cannot display this page. In the near future, the experimental browser will become the main. Make fix for uzbl I do not see sense.

[2019-08-19 05:11] rusko124 commented on #1196
Hey @at565 !
Thank you for your contribution in finding the root of the problem. We will take this into account.

[2019-08-19 08:05] vpetersson commented on #1200
@rusko124 right, but as per @Andr3wid's comment above, it doesn't seem to work in the experimental branch either.

[2019-08-19 08:28] rusko124 commented on #1200
I confirm that the experimental browser also does not show the page. I will look for the cause.

[2019-08-19 17:45] bummzulu commented on #1200
Same issue with the pro version

[2019-08-20 02:04] shaqaruden commented on #1199
I had this problem as well but I just press Ctrl+Alt+F1, logged in and restarted (sudo reboot) and then it worked fine.

[2019-08-20 05:30] hahni commented on #1199
I will try it tomorrow and report here

[2019-08-20 05:32] shaqaruden commented on #1199
@hahni I also did a full update and upgrade before starting the installation and used the beta. I wanted to use the experimental but couldn’t get it to install

[2019-08-21 01:18] #1163 closed

[2019-08-21 08:29] gery0815 commented on #1200
I use screenly as primary software display kibana dashboards on big screens. Thank's to @Andr3wid to report the issue. I have this issue too since kibana 7.0. I already comb through the forums in the internet and finally i found this bug report. I urgently need a solution.

[2019-08-21 09:36] vpetersson commented on #1200
@rusko124 can you prioritize this?

[2019-08-22 09:23] asussitz commented on #1200
Finally, someone looks into this, I came across this problem in our office multiple times, thank you so much for looking into this!!!!

[2019-08-22 09:26] vpetersson commented on #1200
Just an update on this: the issue appears to stem from that Kibana returns a 308 HTTP status. Presumably, this is a new thing. Since it is a somewhat rare redirect status, this has not been fully implemented.

[2019-08-23 09:14] mrauter commented on #1200
We run into the same problem after upgrade to Elastic Stack 7.0, all our monitoring screens a white now. I think it has nothing to do with the redirect because we also get a blank screen if we configure the final Kibana URL after redirection.

[2019-08-23 09:33] vpetersson commented on #1200
@mrauter, @rusko124 is experimenting with this now. Hope to have an update soon.

[2019-08-23 14:15] #868 closed

[2019-08-23 14:15] #1097 closed

[2019-08-23 21:15] #1164 closed

[2019-08-26 03:47] jacobhweeks opened #1201 ""Unable to resolve address""
I am unable to resolve the webpage that I am trying to use with Screenly-OSE. the webpage is internal only. Could this be the reason? It loads on the devices in the network.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press Add Asset
* Enter the Asset URL "http://webclock._domain_.local
* Press "On"
* Wait for the asset to show up on the screen

### Environment

* Raspberry Pi

[2019-08-27 06:51] vpetersson commented on #1201
@jacobhweeks Judging a project because you don't get a reply within 23 hours on a weekend? That feels a bit harsh. Screenly OSE is definitely not dead as you can see in the commit history (and activity in other tickets).

[2019-08-28 21:21] kendall-link commented on #1200
Also running into this issue.  Glad I'm not alone!  I'll keep checking this post for an update.  Thx!

[2019-08-30 05:25] jacobhweeks commented on #1201
Thanks, but Screenly links and weblinks didn't work and with Screenly being
as big as it is supposed to be and for professionals, one would think that
it would be able to load local network resources. However, it appears that
web pages must be made available to the public which would compromise my
security for what I am trying to do. From a security point of view, this is
a fail.

Thank you for yo

[2019-08-30 05:26] rusko124 commented on #1140
@ShukhratK I finally caught the problem. It's not really related to Screenly. The solution in my case was to change the SD card.

[2019-08-30 07:30] vpetersson commented on #1201
as big as it is supposed to be and for professionals

Screenly OSE has a big user base and it's community driven. If you want commercial support, we do offer a commercial version of Screenly with commercial support (see [this page](https://www.screenly.io/screenly-ose-vs-pro/) for details).

No, this is not true. As long as the device itself can talk to the web server over the local network, that'

[2019-08-31 22:30] jacobhweeks commented on #1201
I'll consider trying again. Thanks.

On Fri, Aug 30, 2019, 12:30 AM Viktor Petersson <notifications@github.com>
wrote:

[2019-09-03 09:44] TheRictus commented on #1199
I have the same problem - brand new RPi4, replacing the Pi3 we've been using for quite a while with Screenly. Downloaded the latest Screenly OSE. System wouldn't boot. Installed Raspian Buster, Pi boots to desktop no problem. Completed prerequisites, then installed Screenly using bash <(curl -sL https://www.screenly.io/install-ose.sh)

Opted for no dev features, install completed successfully and

[2019-09-03 11:57] vpetersson commented on #1199
@TheRictus You must use the development version (i.e. answer yes to that question) if you want to use it on Buster. If you do that it should in theory work.

[2019-09-03 12:06] TheRictus commented on #1199
Hi @vpetersson

Thanks - sorry I realised the same and solved it just before lunch, you beat me to replying to say that works!
Thanks :)

[2019-09-03 12:07] #1199 closed

[2019-09-04 11:51] #1172 closed

[2019-09-06 09:07] #1173 closed

[2019-09-08 08:24] #1170 closed

[2019-09-10 09:14] vpetersson commented on #1184
@gtrak we've now bumped up to 16.04 (see #1208). I presume that @rusko124 had a good reason not to bump to 18.04 right away.

[2019-09-10 10:45] vpetersson opened #1211 "Fix demo setup"
As of recent, we've starting to have a lot of OOM errors on the demo site, leading to it being down a lot. We need to resolve this.

I don't know what is causing the OOM issue but it is a recent development as of the last few weeks.

[2019-09-10 13:09] #842 closed

[2019-09-10 13:10] #1188 closed

[2019-09-10 13:21] #1080 closed

[2019-09-10 13:21] #800 closed

[2019-09-10 13:23] #1043 closed

[2019-09-10 14:41] bummzulu commented on #1200
can we please get an upate in this matter? My company is also having licenses of the Pro version and we cannot use Screenly for all of hour Kibana dashboards.

[2019-09-10 14:43] vpetersson commented on #1200
@bummzulu with regards to the commercial version of Screenly, please get in touch with [support.screenly.io](https://support.screenly.io). We're looking at this for OSE but cannot commit to a timeline.

[2019-09-10 14:45] bummzulu commented on #1200
thanks for the hint. Will do.

[2019-09-11 11:14] vpetersson opened #1212 "Convert installation script into something more user friendly"
We've long relied on a regular text input for the installer. Perhaps we should migrate it to [whiptai](https://linux.die.net/man/1/whiptail) to make it more user friendly.

[2019-09-12 05:45] rusko124 commented on #1186
Fix merged, Issue can be close.

[2019-09-12 05:47] rusko124 commented on #1168
Fix merged, Issue can be close.

[2019-09-12 17:40] notaturkey opened #1213 "Issues jumping out to a terminal session"
#### Overview of the Issue
ctr + alt + f1 does not work on my raspberry pi with screenly ose. Ive tried on multiple pis and on the latest release of ose. Just trying to get to the terminal so i can update without reflashing the pis we have setup with the older version of ose. Can't ssh into them since ssh isnt enabled yet. Ive tried multiple keyboards as well.
#### Reproduction Steps

Steps to rep

[2019-09-13 09:22] vpetersson commented on #1213
@notaturkey Any chance you have a video playing while you're trying to do this? If so, try disabling it as the video will take over the screen entirely.

[2019-09-13 13:51] #1177 closed

[2019-09-14 16:04] #1181 closed

[2019-09-16 17:02] notaturkey commented on #1213
no, no video. I've tried to access the terminal directly after flashing the os onto the pi and after it boots up and shows the code to pair the screen it wont let me access the terminal, doesnt let me access the terminal while its booting either.

[2019-09-16 21:27] vpetersson commented on #1213
@notaturkey I just noticed that you're using the commercial version of Screenly. There is no shell access there (as it's fully locked down). This Github repository is for Screenly OSE, which is a completely separate version of Screenly. For Screenly OSE you can find the disk images [here](https://github.com/Screenly/screenly-ose/releases). For further support for the commercial version of Screenly

[2019-09-16 21:27] #1213 closed

[2019-09-17 08:01] malti84 opened #1220 "RequestsDependencyWarning: urllib3 (1.25.1) or chardet (3.0.4)..."
Hello,

i have update my Screenly today to the new version and now i have the problem, that my viewer will not start. The syslog say:

[root@SCREENLY-DO1] /usr/local/lib/python2.7/dist-packages/requests # tail -f /var/log/syslog
Sep 17 07:53:14 SCREENLY-DO1 systemd[1]: screenly-viewer.service: Unit entered failed state.
Sep 17 07:53:14 SCREENLY-DO1 systemd[1]: screenly-viewer.service: Failed with

[2019-09-17 08:20] vpetersson commented on #1220
@malti84 please note that the latest release (assuming you're talking about Sprint 10) is a pre-release. It's not fully tested yet and we already found some issues with it. Until it has been flagged as stable, we recommend that you revert to the older disk image.

[2019-09-17 08:20] #1220 closed

[2019-09-18 08:15] TheCazz opened #1221 "Rotate screenly"
Have install the latest version of Screenly OSE (Very nice work) and was going to have it on a monitor that is portrait and not landscape.

I have edit the config.txt file and have it so raspberry bootup right for me and even screenly show it right but when I upload image it still want to show image in landscape mode.
Is it possible to edit setting so I do not need to rotate the image and maybe ev

[2019-09-18 13:13] billgod opened #1222 "Black screen after a day and a half"
I have looked around and found many black screen issues but non of them seem to match what I have.  My screenly would run for about a day and half sometimes 2 days then black screen.  I just downloaded the latest 2 days ago, new sd card, different pi 3 and a different power supply.  After about a day and a half screen went black again.  The screen is on and back lit.  just black.  Has anyone else

[2019-09-20 12:57] #1193 closed

[2019-09-21 06:18] #1167 closed

[2019-09-23 00:52] MydKnight commented on #1193
I'm also having this issue. I tried using a video off of Youtube as well as your asset.mov and neither played with the same error as above. I'm currently running a video through an h264 encoder to see if that resolves it. I'll update one way or the other.

[2019-09-23 00:59] MydKnight opened #1223 "Video failing to play"
#### Overview of the Issue

I just installed Screenly OSE on my BalenaOS RaspberryPI and video assets will not play. I read a bit online about codec issues possibly causing this and reencoded the video im using to be H264 and it is still not working. The log files in Balena state the following:

22.09.19 17:56:40 (-0700)  screenly-viewer  Showing asset Commander2018.png (image)
22.09.19 17:56:40 (

[2019-09-23 04:57] rusko124 commented on #1223
Hey @MydKnight !
Omxplayer has issues playing video with the latest version of BalenaOS. Please try with BalenaOS v2.38.0

[2019-09-23 04:58] rusko124 commented on #1222
Hey @billgod !
Could you provide the logs, please?
Command: `journalctl -u screenly-viewer.service`

[2019-09-23 05:01] rusko124 commented on #1221
@vpetersson Could you add this to the current sprint?

[2019-09-23 17:48] mobilebob commented on #1222
I am having the same problem.  Running the command for logs shows no logs.  A reboot fixes the problem.

Started out with a fresh copy and ran the upgrade process on 9-20-19

[2019-09-23 21:11] ealmonte32 commented on #1223
@rusko124
thanks rusko, I was going to tell him that I tested without balena and screenly production and development version play h264 videos perfectly fine after I tested both branches today.

[2019-09-23 21:17] ealmonte32 commented on #1222
@billgod

Yeah i agree with rusko, without running the `journalctl` command and showing logs, there is no way to tell what is causing the black screen.. could be so many things..

Regarding the web interface and reboot button..
Screenly has a reboot option, have you installed the latest version?

![image](https://user-images.githubusercontent.com/24350198/65463223-720b2500-de25-11e9-9218-b052770a4

[2019-09-23 21:25] ealmonte32 commented on #1211
@vpetersson what is "the demo site"? sorry for the noob question.. just wondering.

[2019-09-24 04:44] ealmonte32 commented on #1164
@albanoalfredo
maybe if you still need to do this seamless loop you can try my workaround that works perfect for me so far, edit 2 lines of code:
https://forums.screenly.io/t/looping-video-for-a-virtual-fireplace/145/11

[2019-09-24 04:46] rusko124 commented on #1211
Hey @ealmonte32 !
[Demo site](http://ose.demo.screenlyapp.com/)

[2019-09-24 07:16] vpetersson commented on #1211
@ealmonte32 That's not a silly question at all. We should be more clear with these things ;)

[2019-09-24 07:19] #1223 closed

[2019-09-26 16:48] ealmonte32 opened #1228 ""Play for" options on Start/End Date not on Experimental"
#### Overview of the Issue

The "Play for Week/Month/Forever" options are not available on the Experimental branch.

#### Reproduction Steps

Steps to reproduce this issue:

* Press Add Asset
* Enter the Asset URL or File upload ... Save.
* Click Edit to check on the "Play for Start/End Date" options

### Environment

* Screenly OSE Version: Experimental

[2019-09-26 19:31] ealmonte32 commented on #1228
* this is current experimental edit of asset options:

![screenly_exp_play_forever_issue2](https://user-images.githubusercontent.com/24350198/65717504-804c8180-e06f-11e9-969f-9c2d3a7aafaa.png)

---

* this is production and development edit of asset options:

![screenly_exp_play_forever_issue3](https://user-images.githubusercontent.com/24350198/65718954-ac1d3680-e072-11e9-8229-4a48c3a71f60.png)

[2019-09-27 06:18] rusko124 commented on #1228
Hey @ealmonte32 !
In the current sprint our main point is to close the experimental branch. To do this, we need to make all features of the experimental branch as default.
https://github.com/Screenly/screenly-ose/issues/1093

[2019-09-27 17:01] ealmonte32 commented on #1228
gotcha.. sorry it's just I have all 3 branches in different SD cards in order to test everything on whichever one the issue needs to be tested on, and during one of my tests I saw that experimental branch didn't have this option, and i thought it would be a quick edit of the code, but all good then, i'll close this.

[2019-09-27 17:01] #1228 closed

[2019-09-27 17:14] ealmonte32 commented on #1222
@billgod
I am seeing this as well on production branch, I have logs from my own Pi and will troubleshoot and see what i find.. the only thing i think i've done to my Pi differently is i use ZRAM to try and optimize the memory usage on the Pi, but i noticed an out of memory error on the log and that could maybe be the cause on mine.. maybe, maybe not, just saying this because it said it closed the

[2019-09-27 19:40] TehBeef commented on #1222
I'm having this same issue, I have it deployed on BalenaCloud and I get a black screen. The log gives me this:

`27.09.19 15:32:47 (-0400)  screenly-viewer  Showing asset 1204743365.mp4 (video)
27.09.19 15:32:47 (-0400)  screenly-viewer  current url is file:///tmp/screenly_html/black_page.html
27.09.19 15:32:48 (-0400)  screenly-viewer  Resource URI is not correct, remote host is not responding or

[2019-09-27 20:43] ealmonte32 commented on #1222
Just to confirm:
So if you dont add the video it doesn't go black?
Can you try and look through the logs more for any errors that are not explicitly from screenly since it does interact with other services of the raspbian OS.. maybe we might have some in common..

I'm assuming you are looking at the System info logs right? if so, can you ssh into the Pi and run `journalctl` , you will most likely

[2019-09-28 09:22] TehBeef commented on #1222
Looked through all of logs and I couldn't find anything. It just seems like it's not pulling from the right directory when I add the video. Maybe it's me being stupid and not configuring something right but so far it doesn't seem like that. (It's been a year since the last time I played with anything like this or linux)

[2019-09-28 11:02] bmcwr opened #1231 "Screenly-ose self install instructions link to Raspbian Buster"
Buster support #1187 appears to have been moved into Sprint 11 from Sprint 10.
Also #1198 says Uzbl does not work with Buster.

The OSE web installation instructions are at https://www.screenly.io/ose/

Option 2 NOOBS - does this use Buster?
Option 3 links to Raspbian Buster releases.

If Buster is not supported, or only on some versions of Pi, then this should be clearly set out on in the web ins

[2019-09-28 11:22] vpetersson commented on #1231
Also #1198 says Uzbl does not work with Buster.

The lack of Uzbl in Buster is the reason why it has been delayed. So yes, Buster is currently not supported (neither in NOOBS or in the regular release). The disk images are currently using Stretch.

[2019-09-28 11:22] #1231 closed

[2019-09-29 10:02] #1168 closed

[2019-09-29 10:27] #1186 closed

[2019-09-29 11:19] RemingtonA commented on #1173
We use Matchbox as our window manager - which is also open source.

[2019-09-29 13:36] billgod commented on #1222
Sorry I have been out of town.  Can you please provide me with a link on how to ssh into the box?  There is no SSH port open and not sure how to enable it.

[2019-09-29 22:49] gtrak opened #1232 "Create Asset with ID"
#### Overview of the Issue

I have a use-case for creating assets with my own identifiers.  I see in https://github.com/Screenly/screenly-ose/issues/814 it was identified as something we _should not_ be doing, but I don't see another way to get what I want.  Essentially, I'm looking for a way to sync a playlist with an external relational database, so I can and wish to supply own identifiers.  I a

[2019-09-30 07:35] rusko124 commented on #1222
Hey @TehBeef !
Did you increase gpu_mem to 64(min) in device settings ?
![изображение](https://user-images.githubusercontent.com/17593028/65858148-1988da00-e387-11e9-8640-c547e9754748.png)

[2019-09-30 07:38] rusko124 commented on #1222
Good find!
I think It's also related to https://github.com/Screenly/screenly-ose/issues/1211

[2019-09-30 07:47] vpetersson commented on #1232
@ghholm It's generally considered bad API design by not having some kind of UUID for an object like this (provided by the system). This is to avoid issues like collisions etc., so I don't think I want to go down that path.

However, what I would suggest that you do is either to store the foreign ID (i.e. the asset id) in some some temporary sync database (or in the remote database). Alternatively,

[2019-09-30 12:06] gtrak commented on #1232
I think the name field gets overwritten by the youtube downloader code, so if I were to use the name field, I would lose out on that functionality.  In my own database design, we store a 'externalID' field for this case.  I'm not super interested in storing my own state at a process level, as I'm sideloading a sync script with this in a balena install, and it crashes often.

Another possible way t

[2019-09-30 12:13] gtrak commented on #1232
BTW I _am_ using uuids as my own identifiers, not sure if this changes anything.

[2019-09-30 14:03] vpetersson commented on #1232
I guess using YouTube makes it different. Yes, a pull request that makes the API use the name provided rather than the name from YouTube makes sense. I don't have any objection with this, unless @rusko124 got a good reason.

[2019-09-30 14:08] gtrak commented on #1232
I'd prefer to write up the PUT /:id create (not only update) PR instead of the youtube name, in general.  We also keep an asset name, and it's useful to be able to see it in the Screenly API, and I don't want to write more string parsers.

[2019-09-30 22:28] TehBeef commented on #1222
I had it set to 124 at one point and I had the same issues, I'm not that education in the full extent of that does so I thought I'd leave it off as of now for the sake of troubleshooting.

[2019-09-30 23:01] ealmonte32 commented on #1222
gpu_mem just assigns the amount of memory to the graphics card of the Pi, 124 is not really a good size to assign because it is not an exponent of 2..I suggest 128 as rusko mentions, this can be easily done either via the boot config file or through the memory split section raspi-config..On Sep 30, 2019 6:28 PM, TehBeef <notifications@github.com> wrote:

Hey @TehBeef !

Did you increase gpu_mem to

[2019-09-30 23:09] ealmonte32 commented on #1222
@TehBeef
I see you are using balena, the steps to change gpu_mem are different when running a docker container.. here are the instructions:
https://www.balena.io/docs/reference/OS/advanced/

Also, I didnt see any memory errors on your logs, which is interesting because that would rule out it being a memory error.. hmm..

---

@billgod
here are instructions for SSH into a Pi:
https://github.com/Scr

[2019-09-30 23:10] ealmonte32 commented on #1222
What do you mean pulling from the right directory, how are you uploading/assigning the video assets?

[2019-09-30 23:19] TehBeef commented on #1222
In all honestly I think it was 128, I just can't remember for sure. I'm out of town so my mind is elsewhere.

[2019-10-01 09:01] rusko124 commented on #1222
@vpetersson
A little bit of research:
1.
![memory_1](https://user-images.githubusercontent.com/17593028/65948300-cdf43000-e45b-11e9-9537-a3e586e7cb28.png)
2.
![memory_3](https://user-images.githubusercontent.com/17593028/65948307-d0ef2080-e45b-11e9-9f1c-5e1a398fe0b5.png)

For 3 hours uzbl-core ate 100MB

Guys, This issue should be resolved after this https://github.com/Screenly/screenly-ose/issues

[2019-10-01 10:18] vpetersson commented on #1222
Yeah, I guess we could in theory add a memory watchdog, but given that we're deprecating UZBL i don't think it's worth the effort. Good research tho @rusko124.

[2019-10-01 14:03] #1081 closed

[2019-10-01 20:51] KronnNZ opened #1233 "Management page login, restrictions, users"
Hi all,

1. Does anyone have any steps to enable HTTPS on the management login?
2. Is it possible to restrict users from accessing the 'Settings ' Page
3. Is it possible to allow for multiple user logins?

### Environment
* Raspberry Pi Hardware Version: Pi 3B+
* Screenly OSE Version: Experimental Version

[2019-10-01 23:39] shaqaruden opened #1234 "Sprint 10 does not boot on RPI4"
#### Overview of the Issue

Sprint 10 image will not boot on RPI4

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Write .img to microSD card
* Power up Raspberry Pi

#### Environment

* Raspberry Pi Hardware Version: RPI4
* Screenly OSE Version: Sprint 10

[2019-10-01 23:43] shaqaruden commented on #1234
This is kind of ridiculous that Raspberry Pi has been out for almost 4 months and still now working ose image

[2019-10-02 00:01] TehBeef commented on #1222
I'm a bit uneducated here, mind pointing me in the right direction on how to switch to the experimental browser? I'll see if that was the issue once switched out.

[2019-10-02 02:16] ealmonte32 commented on #1222
One way, you can just re-run the screenly install script and when it asks if you want to install the experimental branch you say yes by typing y..
[code]

[2019-10-02 07:35] vpetersson commented on #1234
This is because one of the core components in Screenly OSE isn't available in Raspbian Buster (the browser uzbl). We're working around this, but it's a big effort and we're aiming to address this in [Sprint 11](https://github.com/Screenly/screenly-ose/projects/4) by adopting a new browser.

[2019-10-02 07:35] #1234 closed

[2019-10-02 07:38] vpetersson commented on #1233
Yes, that's built-in. There's a [script available](https://github.com/Screenly/screenly-ose/blob/master/docs/http-basic-authentication.md) to do this.

No, you can either enable auth for everything, or nothing. See [this document](https://github.com/Screenly/screenly-ose/blob/master/docs/http-basic-authentication.md) for details.

No, this is not possible. However, this is supported in the commerc

[2019-10-02 07:38] #1233 closed

[2019-10-02 12:49] ealmonte32 commented on #1222
@rusko124
After 4 days and removed zram use there has still been out of memory errors, but no black screen so far... although I did notice rabbitmq showing process taking up 127M of memory and the time spent in kernel to be very long (time in red)... any ideas?

![image](https://user-images.githubusercontent.com/24350198/66045056-f1b58580-e4f0-11e9-9e5c-74704d2bc431.png)

![image](https://user-ima

[2019-10-03 04:36] rusko124 commented on #1222
@ealmonte32
Yes, I also ran into a memory issue with celery.
In search found that at people solved the issue by celery updating to 4.3.0. Currently I testing this, I'll let you know if it helps.

[2019-10-03 13:38] ealmonte32 commented on #1222
[code]

Now the actual celery worker reported not being able to allocate enough memory..
I'll update to see..

---

@TehBeef try the following command to see if it also helps you:

`sudo pip install --upgrade --no-deps celery`

[2019-10-03 21:10] ealmonte32 commented on #1222
updated celery to 4.3.0 and still getting memory eaten up by uzbl-core:

[code]

[code]

[2019-10-05 04:31] Jeff-lansidel opened #1236 "Browser outdated for Google Maps"
This URL

https://www.google.com/maps/@47.7464122,-116.8132666,22667m/data=!3m1!1e3!5m1!1e1

Production, Development and Experimental all are stating the browser needs to be updated on a Raspberry Pi 3 b+

![20191004_212148](https://user-images.githubusercontent.com/40490812/66249798-bcc25200-e6ed-11e9-9197-211a4d7b6660.jpg)

I used the bash <(curl -sL https://www.screenly.io/install-ose.sh) comma

[2019-10-05 06:44] #1194 closed

[2019-10-05 13:17] vpetersson commented on #1236
No, it's not possible to use Chrome or Firefox, as they don't have the remote access capabilities that we're using (to display the desired assets).

While the browser used in the development and stable version is dated (uzbl), the experimental version should address that. There might be some setting required in the compilation options in order to get Maps to work.

[2019-10-06 00:34] ilovecats516 opened #1237 "Is there support for WPA2-Enterprise?"
#### Overview of the Issue

I'm looking for a solution to our current slideshow setup. Our wi-fi is WPA2-Enterprise secured and I'm not sure if Screenly OSE supports this.

#### Reproduction Steps

N/A

### Environment

* Raspberry Pi Hardware Version: Raspberry Pi 3B+
* Screenly OSE Version: N/A

[2019-10-06 17:50] shaqaruden commented on #1234
So your development branch has the new browser? Because I can install and use Screenly OSE just fine if I start from a buster NOOBS image and install ScreenlyOSE manually

[2019-10-07 10:32] vpetersson commented on #1234
@shaqaruden I don't think it's possible to to do yet on Buster. Ping @rusko124.

[2019-10-07 10:34] vpetersson commented on #1237
Linux does, so you should be able to do it. There's a guide [here](https://raspberrypi.stackexchange.com/questions/22875/connecting-to-wpa2-enterprise-wifi-network) on this. It's not something I've tested myself, but I don't see any reason why it wouldn't work.

[2019-10-07 10:34] #1237 closed

[2019-10-07 13:57] SIM0N-F commented on #1200
Hi, i have same trouble with my Metabases dashboards (blank page). Have you workarround for this ?
Many Thanks in advance.

[2019-10-07 17:19] shaqaruden commented on #1234
No I'm saying that I 100% have at least 7  Raspberry Pi 4s running Raspbian NOOBS Buster Lite with screenly-ose development branch installed and running with a webpage asset working. Regardless what is the timeline on Sprint 11?

[2019-10-08 19:30] bummzulu commented on #1200
Hi,

We did not get a workaround so far. Our screens on the shopfloor stay blank and we had to find a workaround with a different solution. We also have an active subscription for the pro version and opened a case to get help. So far no progress - so don’t spend the money on the pro version. We learned out of it.

[2019-10-08 21:51] altontoth commented on #1151
So,I just updated my install of Screenly,and I assume Docker causes a similar issue? I'm getting the exact same problem on one device, and it's the only one I've applied an update to as of today.

[2019-10-08 23:07] vhgarciaa opened #1238 "Mounting OSE in Balena"
Hello, I  have a problem uploading Screenly OSE to my balenacloud because it gives me an error when doing Git Push and Balena push.

The error I leave them in photos, I tried to upload it from windows and from ubuntu and I always get the same error, I don't know if it is a screenly bug.

[https://drive.google.com/open?id=1-4TkrSUhS_rTRZ7S6X-f7SxW5HaX4oDn](url)

I hope you can help me, thank you ve

[2019-10-09 12:31] vpetersson commented on #1234
That's super interesting. I was under the impression that this was not possible.

@rusko124 / @RemingtonA Do we have a timeline set for Sprint 11?

[2019-10-09 12:33] vpetersson commented on #1200
@bummzulu Sorry to hear that. I know the guys are looking at it for the commercial version, but I don't know what the timeline is right now. As far as OSE goes, it should be something we can look into after [Sprint 11](https://github.com/Screenly/screenly-ose/projects/4) when we've changed the browser.

@SIM0N-F did you try the experimental branch?

[2019-10-09 12:35] vpetersson commented on #1151
@altontoth Yes, i believe the dockerized version broke `tvservice` for now. It should be possible to work around this in the future.

[2019-10-09 12:37] vpetersson commented on #1238
Attaching screenshots directly here:

![IMG_4009](https://user-images.githubusercontent.com/357664/66481990-ec7cab80-ea99-11e9-916e-e1b5297aafd3.jpg)
![IMG_4010](https://user-images.githubusercontent.com/357664/66481991-ec7cab80-ea99-11e9-9896-2697484483ca.jpg)
![IMG_4011](https://user-images.githubusercontent.com/357664/66481992-ec7cab80-ea99-11e9-9680-70ed947abfa7.jpg)

Looks like it is a build

[2019-10-12 07:52] #1198 closed

[2019-10-14 13:28] miragefoto commented on #982
I am having the same problems.   My pi's boot before the router when the power goes out, so on launch they do not see the AP.  It seems they never try to reconnect even though it is available as few seconds later.

Has anyone figured out a good solution for this?

[2019-10-14 13:52] vpetersson commented on #982
There's no built-in feature for this, but it can be solved fairly easily.

You can create a bash script like this:

[code]

And then you can run it every hour or so using a cronjob.

This will only work on Raspbian and not Balena unfortunately.

[2019-10-14 16:06] vhgarciaa commented on #1238
Any progress with this? Thank you

[2019-10-16 09:55] klarkizim commented on #1187
Hi Victor, still learning how to follow on Git,
where will i find the 'buster' image / instructions on upgrading ?

[2019-10-16 10:15] vpetersson commented on #1187
@klarkizim No need to know anything about `git`. You can find images [here](https://github.com/Screenly/screenly-ose/releases). Just do a backup and then restore. That's the easiest way to do it.

[2019-10-16 19:47] bnupen opened #1240 "Unable to resolve local IP address"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.
Raspebrry Pi with Screenly-OSE Sprint 10 version.  Able to run Screenly when connected on wired network.  When booting Screenly without ethernet, I get the screen showing the SSID connection and password.  I am able to connect to the Pi and input the wireless network, the screenl

[2019-10-17 05:34] klarkizim commented on #1187
thanks so much, will give it a try

[2019-10-17 09:06] the-ft commented on #1240
hey there..
did you tried the suggestions form ealmonte32 from [here](https://forums.screenly.io/t/screenly-displays-unable-to-resolve-local-ip-address-when-moved-to-new-enviro/41/2) ?

i m struggling too, but on different errors.

[2019-10-17 09:09] vpetersson commented on #1187
Correct - the Pi 4 is not fully supported yet. The GPU is completely different in the Pi 4, such that `ompxlayer` now breaks for video playback.

[2019-10-17 09:11] alastairbattrick commented on #1187
Is there an ETA on it being resolved?

[2019-10-17 09:15] vpetersson commented on #1187
It looks like `omxplayer` now supports the Pi 4 (but not in 4k). Hence we could in theory add support for it once we've unblocked some other things. Tl;dr is that the reason why it's taken a while is because Buster + Pi 4 broke a few components that were out of our control. Check the roadmap for more details.

[2019-10-17 12:03] ajagelund opened #1241 "Add ISO date format to Screenly settings"
#### ISO format missing

In the date format dropdown for Screenly settings the ISO standard format is missing.
ISO format: *yyyy-mm-dd*

### Side note

I have a Pull Request ready to push on my computer... :-)

### Environment

_Don't think this is environment related, however:_

* Raspberry Model: Model 3B Revision: 1.2 Ram: 1 GB Sony UK
* Screenly Version: production@6c2c2fd

[2019-10-18 14:18] errn12 opened #1242 "Image Not Sizing to Screen"
I am a noob to Screenly.  Running on Pi 3.  Trying to find a good solution for our school's main board in the entry-way that someone besides me can manage.  Got everything up and running but the pictures are displaying very small (relatively speaking) but certainly not full screen.  Any solutions for this?  I found a post from 2013 but figured something would have had to been addressed since then.

[2019-10-18 15:40] AlbertoLopSie opened #1243 "ImportError: No module named celery"
#### Overview of the Issue

"ImportError: No module named celery" When trying to run the docker dev container

#### Reproduction Steps

[code]

Results in:
[code]
### Environment

Running in a OSX terminal window

[2019-10-19 10:05] vpetersson commented on #1243
I'm unable to reproduce this:

[code]

Did you check out the git repository and were in that directory when launching the command? If not, that would explain the error.

[2019-10-19 10:05] #1243 closed

[2019-10-19 10:22] vpetersson commented on #1242
What's the resolution of the image? If it's less than 1920x1080, that's expected. Screenly never scales up images.

[2019-10-19 10:25] #1242 closed

[2019-10-19 17:12] errn12 commented on #1242
That is good to know.  No, the pics in question were not that big.  Will it scale down if it is larger than 1920x1080?

[2019-10-20 13:00] vpetersson commented on #1242
Yes it should, but if possible, keep it to the native resolution as there
is a performance penalty if you exceed it.

On Sat, Oct 19, 2019 at 6:12 PM errn12 <notifications@github.com> wrote:

[2019-10-21 13:30] codmdu commented on #1187
Is there a ETA for full Pi 4 Support ? (i cant find a ETA on the roadmap)

[2019-10-21 19:31] AlbertoLopSie commented on #1243
Yes!  Triple checked!!

Running in the cloned repo folder with bra.This is the folder structure i have:
[code]

I realize you closed the issue but, could you give me any hint on this?

Thanks!

[2019-10-21 20:02] AlbertoLopSie commented on #1243
For the record...

I was able to run the docker image only after rebuilding it with docker/Dockerfile.server.dev

For some reason the image pulled from docker hub is not the same I built from scratch.

[2019-10-21 22:38] errn12 commented on #1242
Awesome.  Thanks so much!

[2019-10-22 07:55] vpetersson commented on #1187
@codmdu This is the ticket for it, so yes, it is on the roadmap (i.e. [Sprint 11](https://github.com/Screenly/screenly-ose/projects/4)).

[2019-10-22 10:46] vpetersson commented on #1241
@rusko124 can you take a look at this?

[2019-10-23 19:50] ajagelund commented on #1241
In settings.html:

`<option value="yyyy-mm-dd"
                                        {% if context.date_format == 'yyyy-mm-dd' %} selected="selected" {% endif %}>
                                    year-month-day
                                </option>
`

[2019-10-24 08:49] vpetersson commented on #1241
Could you do a pull request for this?

[2019-10-24 15:57] jcbeebe21 commented on #1238
Same exact issue when trying a git push or balena push with the production branch.  Any workaround for this?

[2019-10-24 17:00] vpetersson commented on #1238
Yes, there's a [pull request](https://github.com/Screenly/screenly-ose/pull/1239) that should address this. Feel free to give it a spin.

[2019-10-25 05:51] #1196 closed

[2019-10-25 16:08] pletiplot commented on #115
NTP is good, but sometime I need to use a different time server (i.e. inside a company). It would be good to have ability to change it.

[2019-10-25 16:10] vpetersson commented on #115
@pletiplot Sure, but it's a regular Linux system. You can change it directly there.

[2019-10-25 16:54] pletiplot commented on #115
@vpetersson You are right, I finally got the console and altered the settings. Actualy it took longet to learn that the empty" playlist is because of the wrong time :-)

[2019-10-27 00:11] trustees629 opened #1244 "Rabbitmq keeps stopping and restarting"
Just updated my Pi zero's to bd67ec7 and rabbitmq keeps stopping and restarting. I'm running on Balena. Has anyone else had this issue?

Also, screenly-celery shows as downloaded but nothing else happens.

[2019-10-28 06:33] vpetersson commented on #1244
@trustees629 Can you provide some logs for this?

[2019-10-29 12:37] trustees629 commented on #1244
Yes I can but I'm not exactly sure how to pull them from Balena. Can you help?

[2019-10-30 10:36] vpetersson commented on #1244
@trustees629 You can get the container logs directly from their interface by selecting the right container.

[2019-10-30 19:12] ealmonte32 commented on #1222
Just an update, the Xorg process seems to also be affected which indicates issue with video drivers or video rendering, and I thought, hmm.. since uzbl does not do GPU rendering by default, maybe it needs to be enabled in the variables by adding:
`set enable_3d_acceleration = 1` in the ./.config/uzbl/config-screenly file..
Maybe this can help?

[2019-10-31 16:55] didiatworkz opened #1245 "Live Demo does not work"
Hey guys

http://ose.demo.screenlyapp.com/ do not work at the last days
![image](https://user-images.githubusercontent.com/18490798/67968162-31ae7c00-fc07-11e9-85e3-0a519bc39491.png)

Can you please fix this? - I will check a bug with the API 😄

[2019-10-31 17:28] trustees629 commented on #1244
Ok, I can get into screenly-websocket, screenly-viewer, and screenly-server. I looked for screenly_viewer.log and it's nowhere to be found. Thoughts?

[2019-11-01 22:02] ChuckIT commented on #1244
Hi I am experiencing the same problem using Balena OS 2.43.0+rev1 on an RPi3 Screenly is only running an announcement video of still images less than two minutes in length. It runs OK for several days but then hits the RabbitMQ restart loop and the device goes offline.
system log is at https://pastebin.com/9BymhpuE

[2019-11-02 16:09] racquetmaster opened #1246 "API Documentation is unavailable"
#### Overview of the Issue
API Documentation is missing / unavailable.

#### Reproduction Steps
Go to: [Demo Site Docs](http://ose.demo.screenlyapp.com/api/docs/)
OR
Go to local raspberry pi docs: ```<yourip>/api/docs/```

[2019-11-02 16:10] racquetmaster commented on #1245
Also contributes to #1246

[2019-11-03 06:19] ChuckIT opened #1247 "Dockerized Development Environment Fails to Start"
#### Overview of the Issue
Issuing the docker command detailed in the current README.md to bring up the development environment on a laptop running UbuntuStudio Xenial the following error is generated:

Traceback (most recent call last):
  File "server.py", line 18, in <module>
    from celery import Celery
ImportError: No module named celery

As a result the development version of docker is not s

[2019-11-04 05:42] rusko124 commented on #1247
@vpetersson confirmed, I have the same error

Hey @ChuckIT!
You also could work with docker-compose.
Use the next command `docker-compose -f docker-compose.dev.yml up --build`

[2019-11-04 11:56] vpetersson commented on #1246
@racquetmaster this is a known issue. @rusko124 do we have any update on this?

[2019-11-04 14:15] vpetersson commented on #1222
ping @rusko124

[2019-11-04 17:33] vpetersson commented on #1244
@rusko124 any clues here?

[2019-11-04 18:10] trustees629 commented on #1244
Here's a snip from my logs.

04.11.19 12:00:33 (-0500) <screenly-viewer> Showing asset important.jpg (image)
04.11.19 12:00:33 (-0500) <screenly-viewer> Sleeping for 10
04.11.19 12:00:38 (-0500) Restarting service 'rabbitmq sha256:3b74d2cb896b533ef4ce1c734c725caff5a3b2a7b2ddf4a81e12f275d1d2b5dd'
04.11.19 12:00:43 (-0500) Service exited 'rabbitmq sha256:3b74d2cb896b533ef4ce1c734c725caff5a3b2a7b2ddf

[2019-11-05 03:56] ealmonte32 commented on #1222
I thought about it and maybe you're right, there shouldn't be time spent on tweaking uzbl anyway..
I think for anyone that wants to have a quick workaround a simple cron job of
`systemctl restart screenly-viewer.service` will keep it running throughout the day/week..
I have been testing and have all screenly pi's restarting the service every 6 hours and I have not seen a black screen since.

I was

[2019-11-05 04:23] rusko124 commented on #1222
@vpetersson I'm waiting #1239
About RabbitMQ I will try to replace RabbitMQ in favor of Redis and set the expire time for results to half a day.
What do you think?

[2019-11-05 07:17] #1140 closed

[2019-11-05 09:42] vpetersson commented on #1244
@trustees629 Try upgrading to the latest master changes after https://github.com/Screenly/screenly-ose/pull/1248

[2019-11-05 09:44] vpetersson commented on #1222
@rusko124 I prefer redis over rabbit due to it's smaller footprint in this environment.

[2019-11-05 23:09] trustees629 commented on #1244
@vpetersson Updated and no change.

05.11.19 18:06:21 (-0500) <screenly-viewer> Showing asset samadams.png (image)
05.11.19 18:06:21 (-0500) <screenly-viewer> Sleeping for 10
05.11.19 18:06:29 (-0500) Started service 'redis sha256:a6c9afd70ccbdb34137d9012f881adcca44d4e5217f1eccbbd70aae21e36be25'
05.11.19 18:06:36 (-0500) Service exited 'redis sha256:a6c9afd70ccbdb34137d9012f881adcca44d4e5217f1eccb

[2019-11-06 04:27] rusko124 commented on #1244
It's very strange why the container doesn't log the reason.
I will try to reproduce the issue on my zero for the day. (Before that I ran on rpi3 without any errors)

[2019-11-06 05:44] ChuckIT commented on #1247
@rusko124 docker-compose -f docker-compose.dev.yml up --build worked thanks

[2019-11-06 05:44] #1247 closed

[2019-11-06 06:15] ChuckIT commented on #1244
Somewhat related I attempted to run the latest Master #1248 using redis from a clean git clone on my laptop ran docker-compose -f docker-compose.dev.yml up --build which succesfully built all the containers. However on launching celery could not talk to redis giving:
screenly-celery_1     | Trying again in 30.00 seconds...
screenly-celery_1     |
screenly-celery_1     | [2019-11-05 19:41:51,595: E

[2019-11-06 06:28] rusko124 commented on #1244
![image](https://user-images.githubusercontent.com/17593028/68273395-78312a00-0090-11ea-9adb-1e8b74d0f3c5.png)

Hmmm, here's what I can suggest to start with:
**1.**
Change:
[code]
to
[code]

**or 2.**
Use
[code]
instead of
[code]

[2019-11-06 08:53] vpetersson commented on #1244
@rusko124 Why do we even expose the port? That feels like bad security practice. If the containers are on the same docker network, there is no need for port exposure.

[2019-11-06 09:02] rusko124 commented on #1244
@vpetersson To redis container we don't setup the docker networking(only for the Screenly services).
But you're right, we can change that.

[2019-11-06 17:04] pletiplot commented on #743
Try connect the raspberry to an ethernet connection and then you can try more things.

[2019-11-07 04:42] rusko124 commented on #1222
Hey @ealmonte32
In recent changes Screenly uses Redis instead of Rabbitmq.
After 2 days, I doesn't notice any memory leak.

[2019-11-07 04:55] rusko124 commented on #1244
@ChuckIT Could you pull up the latest changes and let us know if it's good to you?

[2019-11-07 05:56] ChuckIT commented on #1244
@rusko124 Pulled changes specified in #1249 initial observations seem to indicate they solve the redis "error 111" connection issues involved with running screenly-ose in development mode on the laptop, I also deployed the changes to an RPi3 running balena-os connected to the BalenaCloud and no immediate broker restarting issues observed but will allow it to run overnight to verify. Thanks for the

[2019-11-07 11:25] vpetersson opened #1251 "Create docker-compose file for demo site"
Since we moved to multi-container setup, the demo site broke. We need to port the configuration to the demo site by generating a new docker-compose file tailored to the demo setup.

Here is how it ran before:

[code]

Two things to keep in mind:

* It needs to have swagger working for the host specified
* Google Analytics need to work
* It needs to listen on port 80

[2019-11-07 13:24] trustees629 commented on #1244
Not sure if this is related but my Balena services shows screenly-celery as "downloaded" and never changes where the others show "running".

[2019-11-07 14:23] trustees629 commented on #1244
Ok, after updating Balena, the system is running but still getting the redis errors and now showing one with screenly-celery. Log snip below.

07.11.19 09:20:58 (-0500) <screenly-viewer> Showing asset vance1123.png (image)
07.11.19 09:20:58 (-0500) <screenly-viewer> Sleeping for 10
07.11.19 09:21:08 (-0500) Restarting service 'redis sha256:a6c9afd70ccbdb34137d9012f881adcca44d4e5217f1eccbbd70aae21e

[2019-11-07 14:24] vpetersson commented on #1244
Ah! Yeah that's wrong. `localhost` should be the name of the container for this to work. Ping @rusko124.

[2019-11-07 16:32] ealmonte32 commented on #1222
@rusko124 thanks, will begin testing today..

[2019-11-08 17:32] trustees629 commented on #1244
The changes didn't work.

08.11.19 10:37:19 (-0500) <screenly-celery> [2019-11-08 15:37:18,990: ERROR/MainProcess] consumer: Cannot connect to redis://localhost:6379/0: Error 111 connecting to localhost:6379. Connection refused..
08.11.19 10:37:19 (-0500) <screenly-celery> Trying again in 2.00 seconds...
08.11.19 10:37:19 (-0500) <screenly-celery>
08.11.19 10:37:21 (-0500) <screenly-celery> [2019-

[2019-11-08 17:34] trustees629 commented on #1244
The latest update didn't work.

08.11.19 12:32:49 (-0500) <screenly-celery> [2019-11-08 17:32:49,824: ERROR/MainProcess] consumer: Cannot connect to redis://redis:6379/0: Error -5 connecting to redis:6379. No address associated with hostname..
08.11.19 12:32:49 (-0500) <screenly-celery> Trying again in 32.00 seconds...
08.11.19 12:32:49 (-0500) <screenly-celery>
08.11.19 12:33:21 (-0500) <screenly

[2019-11-08 17:39] rusko124 commented on #1244
@trustees629 Could you provide a screenshot of your Balena's dashboard? And some more information about your device?

[2019-11-08 17:52] trustees629 commented on #1244
![dashboard](https://user-images.githubusercontent.com/45394868/68499166-89ac3a80-0226-11ea-8e27-ca26bf860c3e.JPG)

It's a Pi Zero.

[2019-11-08 17:57] vpetersson commented on #1244
Perhaps there are no builds for the ARM builds for this particular CPU for the Pi Zero of Redis. It is after all using an older CPU than the modern Model B line.

[2019-11-08 18:04] trustees629 commented on #1244
UGH.... does that mean I will have to upgrade? I'm going to switch to the production version so I can at least get back up and running.

[2019-11-08 18:10] vpetersson commented on #1244
I'm not saying it is the case, just wanted to flag it as a possibility.

[2019-11-08 20:24] ChuckIT opened #1253 "Opening splash screen and api/docs screen displays screenly-ose_server container IP as of #1252"
#### Overview of the Issue
As of version #1252 for both production and development the opening splash screen and api/docs screen displays screenly-ose_server container IP instead of the local network ip address for the RPi3. Related to changes made for issue #1244
EDIT:
On Reboot/Power cycle Screenly does not produce the splash screen only displays:
502 Bad Gateway
        nginx
Then goes to displ

[2019-11-08 20:40] ChuckIT commented on #1244
Checking out the most recent version of the master #1252 in a couple of ways
1) The development version on my laptop
2) The production version on an RPi3 connected to balenaCloud

Observations

- Currently no connection issues are showing up in the logs and I am seeing Celery and Redis activity in the logs.

- Have noticed the RPi3 go offline for no discernible reason after approx 15 hours of oper

[2019-11-09 11:07] vpetersson commented on #1244
image: arm32v7/redis in production docker-compose.yml?

This is likely because there is no ARMv6/v7 version of the [official Redis image](https://hub.docker.com/_/redis).

If we're hard coding `arm32v7`, that would indeed explain @trustees629, as the Pi Zero is ARMv6.

@rusko124 can you look at this? Seems like it is a fairly widespread issue then.

[2019-11-11 08:21] dingetje commented on #1222
For what it's worth, just want to report the same issue. Black screen after random amount of time. The journal log shows **frequent** Celery errors:

`Nov 08 18:27:25 screenly celery[20560]: [2019-11-08 18:27:25,127: ERROR/MainProcess] consumer: Cannot connect to amqp://guest:**@127.0.0.1:5672//: [Errno 111] Connection refused.`
`Nov 08 18:27:25 screenly celery[20560]: Trying again in 32.00 second

[2019-11-11 09:08] vpetersson commented on #1222
@dingetje Are you running on latest master changes?

[2019-11-11 09:23] dingetje commented on #1222
@vpetersson no, I'm running the latest release version. Not sure where to find the version number...

[2019-11-11 09:26] vpetersson commented on #1222
I see. While it might break things, you might want to switch to the development version as we are working on resolving this issue. However, if you're on a Pi Zero, there is a known issue right now so you might need to wait a bit.

[2019-11-11 11:47] vpetersson commented on #1245
Will be fixed in #1251

[2019-11-11 11:47] #1245 closed

[2019-11-11 11:47] vpetersson commented on #1246
Will be fixed in #1251.

[2019-11-11 11:47] #1246 closed

[2019-11-11 11:48] vpetersson commented on #1211
Closed in favor of #1251

[2019-11-11 11:48] #1211 closed

[2019-11-11 15:16] vpetersson commented on #1253
@ChuckIT Could you please provide the logs from the Balena dashboard?

[2019-11-11 15:38] vpetersson commented on #1232
@rusko124 WDYT?

[2019-11-12 00:57] ealmonte32 commented on #1222
@rusko124
When users re-run the install screenly-ose script, and they are running on top of previous install, maybe we need to remind them to `sudo apt purge rabbitmq-server -y` so that it removes the previous service..

This is of course low priority but I am trying to think of a way that re-running the install script via terminal or upgrading via web can remove previous services that were change

[2019-11-12 06:33] rusko124 commented on #1222
Hey @ealmonte32 !
Yes, that's a good point. But it is already provided :)
https://github.com/Screenly/screenly-ose/blob/master/ansible/roles/system/tasks/main.yml#L177

[2019-11-12 11:55] aegisduck opened #1254 "Cross Site Scripting (Stored) vulnerability"
# Describe the bug
### Suggested description of the vulnerability
: A stored cross-site scripting (XSS) vulnerability in the 'Add Asset' page of Screenly-OSE allows a remote attacker to introduce arbitary Javascript via manipulation of a 'URL' filed.

### Attack vector(s)
![1](https://user-images.githubusercontent.com/40930382/68667977-8c8e8e80-058a-11ea-9278-d901414b9b1b.png)
　1. Press the 'Add A

[2019-11-12 11:57] vpetersson commented on #1254
Good find! Adding this to the next sprint.

[2019-11-12 16:55] ealmonte32 commented on #1222
@rusko124
But when I ran the install script and kept the production version, the rabbitmq service was still running (after installation finished and reboot).. so something didnt happen during the ansible task..

[2019-11-12 22:38] ealmonte32 commented on #1222
I could test by manually installing the rabbitmq-server package now, and re-running the `./screenly/bin/run_upgrade.sh` file to show you that after installation finishes, upon reboot you can still find the rabbitmq.service running..

[2019-11-13 17:49] ealmonte32 commented on #1178
@unmanagedtn Hello, just wondering, can you remind me why you need these CEC controls? besides turning screen on & off since we can already do this via `vcgencmd display_power 0/1`

[2019-11-13 17:51] vpetersson commented on #1178
I'm curious if CEC would yield a different result than `vcgencmd display_power`. In my experience `vcgencmd` has been flaky.

[2019-11-13 17:55] ealmonte32 commented on #1222
ugh, i keep getting confused with version named production vs one named development aka master branch... doh, can we add the version name of master next to the development question?

when it asks if we want to use the latest development version, can we add in parentheses (master branch)?

[2019-11-13 18:01] vpetersson commented on #1222
Sensible. I've pushed a fix.

[2019-11-13 18:04] ealmonte32 commented on #1178
I'll test now, tvservice -o turns off the screen, but when i turn it back on with tvservice -p , the viewer or any image does not show, i need to restart screenly-viewer.service for the images to come back.

[2019-11-13 18:05] vpetersson commented on #1178
Interesting. Good find.

Could you compare that to the cec command?

[2019-11-13 18:10] ealmonte32 commented on #1178
Will do

[2019-11-13 19:28] ealmonte32 commented on #1178
spent some time trying to figure out what this would be useful for in terms of screenly-specific use cases, and i dont see many use cases that require this, changing volume from screenly dashboard? that is about the only one that i could see being used.. standby doesn't work on TV's or monitors, so if it is to turn off the display vcgencmd display_power 0 accomplishes this without a problem..

[co

[2019-11-13 19:34] gady87 opened #1255 "static ip"
#### i been trying to place an static ip on the screenly but i have not been able to. i have follow most of the steps i found with no result. i cant access the raspberry by ssh its says conection refuse
im using the OSE version

[2019-11-13 20:12] ealmonte32 commented on #1222
@dingetje
If you run the install script again and select yes for `development version`, it has been tested, and it fixes the memory error.

Maybe we can close this issue now.. unless you notice that it breaks any of the other assets you have?..

P.S. I notice you said you have old rpi, can i suggest you install [ZRAM](https://github.com/novaspirit/rpi_zram) on it?
___
Running install script again:

[2019-11-13 21:13] ealmonte32 commented on #1222
@rusko124

the master branch still shows uzbl-core memory errors:
[code]

The production version with removed celery service does not show me any memory errors at all, which i have set this way in 3 more Pi's.
I will test now by disabling the celery worker from this one:
[code]
which will then determine if the celery worker is in fact causing the memory error, but what does celery worker have to d

[2019-11-13 22:13] gady87 commented on #746
hi i have not been able to open that file i dont see it in any folder. how you manage to open it ? i tried to connect thru ssh and it says connection refused.

[2019-11-14 08:22] vpetersson commented on #746
@gady87 Yes, that's because OpenSSH is disabled by default in Rasbian (and subsequently Screenly OSE). You need to enable it first using `raspi-config`.

[2019-11-14 08:29] vpetersson commented on #1255
This should do the trick:

 * Follow [these](https://thepihut.com/blogs/raspberry-pi-tutorials/how-to-give-your-raspberry-pi-a-static-ip-address-update) instructions for setting a static IP
 * Use `rpi-config` to enable SSH (it's disabled by default)

[2019-11-14 08:29] #1255 closed

[2019-11-14 08:41] vpetersson commented on #1178
There are some really cool things you can do with CEC that you cannot do with `vcgencmd`.

Here are some examples:

 * You're able to change the channel on the monitor, such that you can change it to display the input Screenly is on.
 * You can "name" a channel (such that "Screenly" shows up in the input menu).

[2019-11-14 13:28] gady87 commented on #1255
Hi so i need to install raspberrian first and the pull screenly?  Or how i can access this config with the screenly image

[2019-11-14 13:30] vpetersson commented on #1255
No, you don't need to install Rasbian first. You just need to connect a keyboard (and make sure you don't have any videos enabled). With a keyboard inserted, you should be able to get to a TTY (ctlr+f2) and login.

[2019-11-14 13:32] gady87 commented on #1255
That is something that I didn't know thank you so much

[2019-11-14 16:39] dingetje opened #1256 "No module named dbus"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

After running upgrade script on rpi-0 screenly stopped working

### Environment

* Raspberry Pi Hardware Version: raspberry Pi Zero with 512Mb RAM
* Screenly OSE Version: don't know where to find version, it's certainly not in the log file!

[2019-11-14 16:40] vpetersson commented on #1256
@dingetje We need more information. What image did you use, or did you install it from scratch. If you installed from scratch, what branch etc.

[2019-11-14 16:41] dingetje commented on #1256
`Nov 14 17:32:00 screenly systemd[1]: Starting Screenly Viewer...`
`Nov 14 17:32:02 screenly systemd[1]: Started Screenly Viewer.`
`Nov 14 17:32:03 screenly python[1361]: Traceback (most recent call last):`
`Nov 14 17:32:03 screenly python[1361]:   File "/home/pi/screenly/viewer.py", line 10, in <module>`
`Nov 14 17:32:03 screenly python[1361]:     from dbus import SessionBus`
`Nov 14 17:32:03 scr

[2019-11-14 16:41] vpetersson commented on #1256
That looks like a corrupt installation.

[2019-11-14 16:44] dingetje commented on #1256
I'm running the install script now. See if that resolves thing. Probably end-user error ;-)

[2019-11-14 16:44] dingetje commented on #1256
Would it be too much to ask to print the Screenly version in the log file?

[2019-11-14 16:49] vpetersson commented on #1256
We use rolling releases, so the release is really the git hash.

[2019-11-14 17:04] dingetje commented on #1256
Where can I find the git hash?
All I know is that I answered 'yes' to use experimental branch

[2019-11-14 17:05] vpetersson commented on #1256
[code]

[2019-11-14 17:09] dingetje commented on #1256
[code]

[2019-11-14 21:10] dingetje commented on #1256
I ended up renaming the old screenly folder and running the installation script as advertised:

[screenly-install.txt](https://github.com/Screenly/screenly-ose/files/3848622/screenly-install.txt)

After the reboot /var/log/syslog shows this:
[code]

[2019-11-14 21:13] dingetje commented on #1256
I think I must count my losses and start with a fresh SD card...

[2019-11-14 21:33] dingetje commented on #1256
Running the upgrade script
[code]
and reverting to the stable release, resulting in a working screenly.
Looks like the 'experimental' version is not quite there yet?

[2019-11-14 22:40] ealmonte32 commented on #1222
@rusko124

on this screenshot Xorg is invoking the oom-killer because of low memory, and of course uzbl-core is always going to be the process that is using the most memory and this will be why it gets killed.. i assume that when celery was also consuming all the memory, the system did the same and killed uzl-core..

i am comparing two screenly on the same pi but with different branches, and the X

[2019-11-15 09:44] vpetersson commented on #1222
What memory split are you using?

[2019-11-15 10:31] vpetersson commented on #1256
Yeah, it's experimental :).

We've spent a lot of effort over the last year or so on this version to replace the browser. It's getting there, but it's not ready for prime time just yet it seems.

[2019-11-15 12:06] gady87 opened #1257 "No boot after power off"
Hi when the device gets disconnected from the power supply and plug it back in sometimes its doesnt boot at all its stays on the raspberry splash screen the rainbow one .
sometimes when you power on and off again works but for after a while and sometimes it doesn't and i need to reflash the image again.  what might be the issue ?

--

#### Reproduction Steps

Steps to reproduce this issue, eg:

*

[2019-11-15 12:43] vpetersson commented on #1257
That's an indication of an SD card that is about to give up. I'd suggest swapping it out.

[2019-11-15 12:43] #1257 closed

[2019-11-15 13:19] #1256 closed

[2019-11-15 13:20] dingetje commented on #1256
issue closed.

[2019-11-15 14:28] ealmonte32 commented on #1222
so for testing I changed from my normal default of 128 to 256, it crashed even faster, went down to 64, has been much stabler... still not seen black screen in master branch.

getting python invoking oom-killer but the kernel takes care of restarting all processes so the user would not see anything unless they go looking through logs..
___

i am pasting the following logs just for documenting, i d

[2019-11-15 17:06] Jrdnkasparek commented on #1222
This is also happening with our 3 Raspberry Pi 3s we have at our district

[2019-11-15 17:50] ealmonte32 opened #1258 "Ask/suggest/recommend to users that they should change the default raspbian password for user pi"
As discussed here: https://github.com/Screenly/screenly-ose/commit/01629a7ddd00e786487748e8c597edbe36b351ab#diff-2066c4d7515c02785d28a6ab3a57ace1

Instead of forcing the change of password for pi, ask/suggest/recommend instead that they should change it if they haven't already done so, because of it being an obvious security issue.

[2019-11-15 19:00] ealmonte32 commented on #1222
@Jrdnkasparek  A few questions:

1. when you look at the logs, are you looking after the black screen happens, or since you are saying it becomes unresponsive and cant ssh, are you manually rebooting and then checking the logs? because as far as i know unless you are doing something different, that would of course not show previous logs due to reboot.

_(i can suggest a simple checkwifi.sh script

[2019-11-16 10:30] #1184 closed

[2019-11-16 12:12] Kipjr opened #1259 "Errors and warning while installing on RPi4 4GB"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

I receive messages when installing using the installation script:
 $ bash <(curl -sL https://www.screenly.io/install-ose.sh)
* After first boot, screen stays black.
* Will these / can these deprecation messages break my Screenly-OSE environment?
* Is

[2019-11-16 12:42] Kipjr commented on #1258
Or the option to change the password or disable SSH

[2019-11-16 13:12] ealmonte32 commented on #1258
Ehhh...? recommending to change it is exactly that option, if user says yes to changing then they are prompted for new password....
..and disabling SSH is one of the most crippling decisions you can make with a raspberry pi that you need to remotely control, sorry but that is not a good suggestion at all, unless you're going to be connected directly with a keyboard/mouse to the pi all the time..

[2019-11-16 14:02] Kipjr opened #1260 "Experimental, Development and Stable"
I had some issues with installing the correct version. I noticed that there is a Master, an Experimental, a Celery and a production branch..
Which of these are still being maintained and what is the difference between those?

[2019-11-18 01:56] sawdustlegend opened #1261 "Black Screen on Pi Zero W"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

Black Screen on Pi Zero W after 2 to 4 hours

A paragraph or two about the issue you're experiencing.

I get a  black screen after 2 to 4 hours of run time on a Pi Zero. Looks like it loses the network. Can not log in over SSH. With a keyboard, terminal shows no IP address. Rebo

[2019-11-18 09:13] vpetersson commented on #1260
@Kipjr here's a summary:

 * **production**: This is what we use for releases (and disk images). Consider this the stable branch where we have QA'd.
 * **master** (a.k.a. development): This is the branch everything goes into before being merged into production. This branch might be broken at times. Use it if you want to follow the latest development efforts.
 * **celery**: This is a feature branch

[2019-11-18 09:13] #1260 closed

[2019-11-18 09:30] vpetersson commented on #1258
@ealmonte32 I'm not sure I fully agree. In a perfect world, we would not need SSH in Screenly OSE. Everything should be configurable using the WebUI. In the future, I'd love to have a super slimmed down image, much like OpenELEC.

[2019-11-18 12:38] Gifford47 opened #1262 "Black screen after an indefinite time"
#### Overview of the Issue
i use a raspi 3b and the official 7" touchscreen display with the latest screenly-ose version. as asset i chose my openhab habpanel. after an indefinite time (i.e. between one and four days) the display remains black and doesn't show any content anymore.
i've been testing everything for two weeks, but haven't found any bugs in my system. sometimes the raspberry stays com

[2019-11-18 14:29] ealmonte32 commented on #1258
@vpetersson Gotcha, correct, just like LibreELEC, but remember you are only thinking along the lines of Screenly-OSE on this instance, I was thinking more along the lines of Raspbian+Pi+Screenly, meaning, there are many times where if screenly freezes or hangs, SSH'ing into the Pi is the only way to not have to go and physically reset the Pi to get it back up and running..

Perfect example happene

[2019-11-18 14:34] ealmonte32 commented on #1258
@vpetersson What do you think of having the option of making Screenly only accept local subnet for SSH connections via `/etc/ssh/sshd_config` so that users not behind a real firewall would not have to worry that their Screenly Pi is open to any external connection? I'd rather do that then completely turn off SSH.

[2019-11-18 15:39] ealmonte32 commented on #1222
Black screen on master branch still happening..

Pressing Reboot in WebUI did not restart screenly viewer which should have temporarily resolved the issue, and checking syslog only showed this:
[code]

Will try disabling swap memory to see if system flushes out when needed.

![image](https://user-images.githubusercontent.com/24350198/69059102-e0fa9980-09e2-11ea-8c4b-29fd9593817a.png)

[2019-11-19 08:43] vpetersson commented on #1258
Sure, but we need to weed out those issues.

I don't think that's a good solution given how common it is that people just port forward from their router. In that situation. Such fix would just work if you have a public IP, which I'd argue is rare.

[2019-11-19 11:38] mccoy88f commented on #1259
Any news? Same problem to me!

[2019-11-19 11:50] rusko124 commented on #1259
Hey guys!
I'm going to work on a solution tomorrow.

[2019-11-19 17:36] vpetersson commented on #1262
This sounds like a duplicate of #1222.

[2019-11-19 17:36] #1262 closed

[2019-11-19 23:46] youbloub opened #1263 "howto create wifi hotspot on Screenly OSE and raspberry ?"
Hi,
I would like that my raspberry/Screenly was a server/hotspot wifi.
So I can connect localy with any laptop and modify assets.

how to do this ? Can I do this ?

[2019-11-20 05:57] ealmonte32 commented on #1178
I see, so like if screenly is at a store display and someone mistakenly changed the input, your going to program cec so that a certain setting from the WebUI will always switch back the channel input to the named "Screenly" one?

[2019-11-20 06:32] ealmonte32 commented on #1258
Hmm.. as always correct me if I'm wrong, but as far as I know port forwarding will always show up as incoming IP address of the gateway/router, thus when we deny this IP address in the sshd_config file (we get gateway address from current interface network info), we are eliminating the port forwarded connection... also, if someone says Yes to Screenly asking if such person wants to make screenly m

[2019-11-20 08:21] vpetersson commented on #1258
The incoming connection will come from the [private CIDR](https://en.wikipedia.org/wiki/Private_network) (because of NAT'ing). Sure, we could block access from the router's IP but now we're starting to add a lot of logic that we need to manually build out into `sshd_config`.

IMHO it's better to start with a locked down state and then enable things if needed rather than the other way around. Perha

[2019-11-20 08:22] vpetersson commented on #1178
Yep. Or perhaps you turn off the TV at night. You could then use CEC to both turn on the monitor but also ensure that it switches to the right input.

[2019-11-20 08:24] didiatworkz opened #1264 "Can't install screenly anymore (pip OpenSSL Problem)"
#### Overview of the Issue

Ansible Error:
[code]

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Install Screenly

### Environment

* Raspberry Pi Hardware Version: 3B+
* Screenly OSE Version: 0.18.2

[2019-11-20 08:26] vpetersson commented on #1264
Most likely a broken SD card. Try swapping it out.

[2019-11-20 08:26] #1264 closed

[2019-11-20 08:32] vpetersson commented on #1263
While we do have support for hotspot for *configuring* WiFi, it's different than what you're asking for. The problem is that the Raspberry Pi doesn't have an [RTC](https://en.wikipedia.org/wiki/Real-time_clock), so it *needs* an internet connection to know what time it is (which is paramount for Screenly to operate). This is not Screenly specific of course.

[2019-11-20 08:32] #1263 closed

[2019-11-20 13:56] didiatworkz commented on #1264
I tried it with two different Pis and different SD Cards...

[2019-11-20 23:55] ealmonte32 commented on #1258
Actually, I kept reading and researching and found a super simple no-brainer way to do this, I am actually using it on mine now..
we do this if the user selects "yes" to question about locking down SSH to only accept LAN connections:
[code]
And, say the user wants to toggle it on and off from the WebUI, you simply have a button that either writes the command above for on, or clears out the /etc/ho

[2019-11-21 05:41] rusko124 commented on #1264
Hmm the same issue on Raspbian Buster.
Please follow the progress here.

At the moment I can suggest you to return to Raspbian Stretch.
I have no problem on the same SD.

[2019-11-21 08:28] rusko124 commented on #1264
@didiatworkz
Try the next steps:
`sudo rm -rf /usr/local/lib/python2.7/dist-packages/OpenSSL/`(if we have the broken pip)
`bash <(curl -sL https://www.screenly.io/install-ose.sh)`(Screenly merged some edits).

[2019-11-21 08:33] rusko124 commented on #1259
Try the next steps:
1. Install https://www.raspberrypi.org/downloads/raspbian/ Raspbian Buster Lite
2. Run `$ bash <(curl -sL https://www.screenly.io/install-ose.sh)` (Screenly merged some changes)

My final logs of installation:
[code]

[2019-11-21 08:47] vpetersson commented on #1258
No, this wouldn't work, and here's why.

Yes, it will block out access from non private CIDRs, but in what environment would that help? The only one I can think of is if the device is publicly exposed and has a public IP. Moreover, if IPv6 were to be enabled, that is still an attack vector.

Let me explain a bit more why this wouldn't work for a regular home environment (with IPv4). Assume we have

[2019-11-21 10:35] didiatworkz commented on #1264
Hey @rusko124,

thanks - that solved the problem for me - But is it a python problem?

[2019-11-21 13:39] Qonstrukt commented on #1259
I just tried installing on a RPi 4 with 4GB of RAM using the experimental version on a fresh installation of Raspbian Buster, but the screen stays black after reboot.

[2019-11-21 17:16] ealmonte32 commented on #1258
I like the challenge 😃
![image](https://user-images.githubusercontent.com/24350198/69344454-62e5ff00-0c3d-11ea-81ae-d1201ab46b5d.png)

Ok so i'll start with this:

I thought the whole point of this is that someone said we should disable SSH, I disagreed due to the fact that it would cripple the Raspberry Pi, then I understood that you agreed with disabling SSH because you saw this from a Screenly

[2019-11-21 18:31] vpetersson commented on #1258
Yes, in theory. But this assumes a) there is only one way into the network and b) we need to assume that both the default gateway of the Pi is that default gateway. Needless to say, this adds a lot of complexity for little gain.

Honestly, I don't think it's worth the effort. I rather leave SSH disabled, and let customers who really know what they are doing enable it. Hence I agree with the Pi Fou

[2019-11-21 22:06] ealmonte32 commented on #1258
All good, I just liked the challenge of allowing SSH while at the same time trying to protect it from external connections even if we can't bullet-proof the design.
BTW, AFAIK, the `ip route` command should always return the default gateway of the Pi no matter how the Pi is connected.

Ok, so about the original purpose of this ticket:
- to ask the user if they already changed the default password

[2019-11-22 00:40] sawdustlegend commented on #1261
Update - I was working with 3 Zero Ws. They all were having a similar issue. I lent one out to another school and that teacher is telling me that it is working flawlessly for him. He is still using the image I loaded. The only difference between my setups and his is the asset link. We are both running published Google slides links, but obviously different content. I am going to try and run his ass

[2019-11-22 05:05] rusko124 commented on #1261
Have you tried upgrading to the latest development version?

[2019-11-22 05:08] rusko124 commented on #1241
Can be closed

[2019-11-22 06:18] Gifford47 commented on #1222
is there already a fix for the stable version?

[2019-11-22 10:30] vpetersson commented on #1222
@Gifford47 No, we don't do releases until the end of the sprint, but please verify that it solves the issue for you by switching to the development version.

[2019-11-22 10:30] #1241 closed

[2019-11-22 14:38] sawdustlegend commented on #1261
No, but I can.
 I believe this is the command for the normal image
$ bash <(curl -sL https://www.screenly.io/install-ose.sh)

What is the command for the latest development version?

Also changing the asset link to another very simple google slides presentation did not help. I am getting wlan0 is disconnected.

Thank you for you help,
Steve

[2019-11-22 19:12] ealmonte32 commented on #1261
@sawdustlegend
the different versions are selected from the install menu, the command you noted is just how to start the installation process from the command line..
when you get the options, select no for experimental and yes for development one..
let us know how it goes.

[2019-11-22 19:48] ealmonte32 commented on #1240
@bnupen I will test this now with the latest image from here https://github.com/Screenly/screenly-ose/releases

will let you know what i find.. i will do exactly as anyone else would do step by step..

just to be confirm:

all i am doing is
- flashing the sprint10 image (2019-09-25-Screenly-OSE) into SD card
- loading SD card into a pi that **does not have ethernet** so that i get the wifi connect

[2019-11-22 20:15] jmrbcu opened #1268 "Is the experimental branch using the experimental WebView from Qt active?"
Any plans to release/merge the new Qt WebView in the experimental branch with the master? Isn't it better and more performant than uzbl in the master and production branch?

[2019-11-22 20:17] ealmonte32 commented on #1240
Ok, I can confirm you are correct, upon giving the screenly.io screen a wifi to join and then pi starting up, I also see the Unable to load local IP address screen... however, pressing ctrl+alt+f1 and logging in as:
user: pi
pwd: raspberry

and checking ifconfig, it did displayed a proper IP address, so after that I just rebooted it and it worked, so I took the logs and will see what I find that w

[2019-11-22 22:45] ealmonte32 commented on #1240
@rusko124
I can confirm (so far) that /lib/utils.py netifaces/default gateway section needs something that can give it time before trying to obtain ip address for devices on wlan, something like time.sleep(20) or something similar for this to not show up, i started with time.sleep(5) but that still was too fast before system saw error, 20 seconds was enough, maybe you can try different seconds, 10

[2019-11-23 21:09] trustees629 commented on #1244
I updated to the latest version and Redis seemed to be running fine. However, screenly-server wouldn't stay running and I had to revert again. I'm sorry I don't have logs but I can tell you that the error I was getting was the same as the Redis error before... restarting service sha256.... service exiting sha256...

[2019-11-24 09:00] Gifford47 opened #1270 "[Feature] Add memory info under System info"
Hi!
it would be useful, if you could see under the tab System info beside "load average" and "free space" also the occupied memory in percent.

[2019-11-24 18:09] vpetersson commented on #1270
Seems like a sensible feature.

[2019-11-25 03:24] sawdustlegend commented on #1261
All done. I let it update over night last night.

Today I had moderate success. I started screenly up around 10am. I left everything default, except for turning off hacker news asset. Pi Zero ran until 5pm without a hiccup. At 5 pm I added my google slide presentation back in. When I checked back on it at 8:15pm it was black screened again.

Tonight I am going to let the weather and clock assets r

[2019-11-25 07:36] Gifford47 commented on #1222
i have the version master@e301484 and after one day i still get a black screen... the ram is also continuously fully described. free ram at screenly start: 724mb
free ram after 1 day: 84mb ram

[2019-11-25 08:50] vpetersson commented on #1268
@jmrbcu Yes. That's part of the next sprint.

[2019-11-25 08:50] #1268 closed

[2019-11-25 10:14] rusko124 commented on #1259
The experimental branch is not supported RPi 4.
Also, the points of this sprint:
- Support Rpi 4 and Raspbian Buster
- Make the experimental browser as default and abandon the experimental branch.

[2019-11-25 19:24] jmrbcu commented on #1268
do you guys have an ETA?

[2019-11-25 20:18] Gifford47 commented on #1222
i am at the development branch.
here is the log
[Uploading screenly_log_25.11.19.txt…](screenly log)
[Uploading memory.txt…](and the memory list)

[2019-11-25 23:27] ealmonte32 commented on #1240
@bnupen @the-ft
I have a **temporary** solution for you guys until rusko fixes the code with a wait function.

if you have access to your Pi via ssh or pressing ctrl+alt+f1 on the keyboard, run this command which just includes my temporary time.sleep fix:
[code]

[2019-11-26 05:35] rusko124 commented on #1222
@Gifford47
Interestingly, most of the memory is occupied by docker and uzbl, which looks contradictory. Since one must exclude the other. I assume we are dealing with 2 viewers at once. Cause of this is switching between the master and the experimental branch.

Also I see that the Screenly ansible-playbook doesn't have a cleanup of Docker when choose the development branch after experimental.

Not

[2019-11-26 06:37] Gifford47 commented on #1222
Sure! I'll try and post the results this afternoon.

[2019-11-26 08:14] vpetersson commented on #1268
No ETA right now, but you can always switch to the experimental branch and do some more testing. We always need more hands there.

[2019-11-26 13:58] AntonyJayM opened #1271 "Black Screen instead of Video"
#### Overview of the Issue

When we upload a h.264 video to Screenly OSE we get a solid black screen. Other assets will play after however the video will not play.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Upload a video and set it as live

### Environment

* Raspberry Pi Hardware Version: Model 3B Revision: 1.2 Ram: 1 GB Sony UK
* Screenly OSE Version: production@6c2c2fd

[2019-11-26 14:32] vpetersson commented on #1271
Duplicate of #1261.

[2019-11-26 14:32] #1271 closed

[2019-11-26 15:15] AntonyJayM commented on #1261
Hi Guys,

When we upload a h.264 video to Screenly OSE we get a solid black screen. Other assets will play after however the video will not play.

Not sure this issue relates to the above but it's been merged here, anyone got any thoughts?

[2019-11-26 15:16] vpetersson commented on #1261
@AntonyJayM Please help us test out the development release. Since you're running on a Pi3, the issue should have been resolved for you.

[2019-11-26 15:29] AntonyJayM commented on #1261
Where do I find the development release?

[2019-11-26 15:30] vpetersson commented on #1261
Just follow the [installation instructions](https://github.com/Screenly/screenly-ose#installing-on-raspbian) and answer yes to if you want to use the developer release.

[2019-11-27 07:39] #1254 closed

[2019-11-27 07:40] #1270 closed

[2019-11-27 09:58] AntonyJayM commented on #1261
@vpetersson Update: Installing the development version has not fixed the issue. Any other ideas?

[2019-11-27 10:01] rusko124 commented on #1261
@AntonyJayM
Could you try to open video with omxplayer on Raspberry and say what happened please?

[2019-11-27 11:48] AntonyJayM commented on #1261
Update: Omxplayer did not play the video. Upon further inspection Adobe Media Encoder was set to export H264 at video codec level = 4.2 not 4.1. After making this change the video now plays.

Didn't realise the specific requirements other than H264. Thank you for your help on this!

[2019-11-27 11:50] vpetersson commented on #1261
Nice! Yeah, `omxplayer` (or rather the GPU) is very picky on the codec.

[2019-11-27 17:47] sawdustlegend commented on #1261
Update Time - The time to black screen seems related to length of Google Slides presentation.

Zero with default assets (Time and weather) will run for +2 days
Zero with Time, Weather, uploaded pictures and videos will run for +2 days
Zero with Time, Weather, uploaded pictures/videos + Short (4 slide) presentation ~12 to 24 hours
Zero with Time, Weather, uploaded pictures/videos + Long (30 slide)

[2019-11-28 11:22] beemeeup opened #1275 "URI of Asstes get´s encoded wrong"
#### Overview of the Issue
When adding a new asset, the URI gets encode wrong in the screenly.db.

http://monitoring.domain.com/client/check_mk/login.py?_username=admin&_password=12345678&_login=1

get´s encoded to:
http://monitoring.domain.com/client/check_mk/login.py?_username=admin&amp;amp;_password=12345678&amp;amp;__login=1

#### Reproduction Steps
If I add a new asset this behaviour repeats.

[2019-11-28 11:25] vpetersson commented on #1275
Very interesting. Good find @beemeeup

[2019-11-28 11:26] vpetersson commented on #1244
Closing this out in favor of #1261 now that we've moved to Redis.

[2019-11-28 11:26] #1244 closed

[2019-11-28 11:28] rusko124 commented on #1275
@vpetersson
This is relevant after #1275
Any ideas how to avoid some? Explicitly set these characters? Not sure it sounds good

[2019-11-28 11:40] vpetersson commented on #1258
Right, so let's limit the scope of this ticket to just check if the default password has been changed. If it has, we don't show the dialogue.

In the future, embedding something like a terminal inside the dashboard would be great, but we need to step up our security first.

[2019-11-29 06:27] #1221 closed

[2019-12-01 12:42] Gifford47 commented on #1222
thanks a lot for the answer, now it works for me too! but screenly reserves about 230mb in total. is that normal? from time to time it also drops 150mb (e.g. when restarting screenly).
is that normal and can I still optimize it?

![screenly_memory](https://user-images.githubusercontent.com/49484063/69914091-57b28080-1440-11ea-971c-1bbbd492ff58.PNG)

[2019-12-02 20:52] sawdustlegend commented on #1261
After much more testing, it definitely seems to be related to the length of slide show. (Google Slides --> Publish to Web) I can turn the slides in to a video, upload it, and they will play for 48 hours without issue.

My solution right now is to reboot the devices every 2 hours with crontab.

Thank you
Steve

[2019-12-02 23:01] ealmonte32 commented on #1261
@sawdustlegend
just for my testing purposes, you are using a screenly image on a pi zero w and using development version or production?

[2019-12-03 05:55] ealmonte32 commented on #1261
@sawdustlegend
i've had the production version running with 20+ slides and video and default assets for 5+ hours without black screen..

![Screen Shot 2019-12-03 at 12 44 05 AM](https://user-images.githubusercontent.com/24350198/70023886-c558cc80-1566-11ea-8a5a-1c5e046ef916.png)

i've just updated celery to 4.3 by removing it `sudo pip uninstall celery` and then `sudo pip install celery` and insta

[2019-12-03 09:45] vpetersson commented on #1261
@ealmonte32 Good findings. So it looks like we're consuming too much RAM. Adding swap/zram is going to kill the SD card in the long-run. Perhaps that's an acceptable price to pay for the Pi Zero, given its limited resources however.

I'm curious to see if that resolves the issue for others too. If so, we know it's a memory issue.

(Pro-tip, to upgrade a pip package, just do `pip install -U [packag

[2019-12-03 14:29] sawdustlegend commented on #1261
I will give it a shot this weekend and see what happens.

Thank you for the help,
Steve

[2019-12-04 14:02] ealmonte32 commented on #1222
Remember the viewer is always running and calls upon the uzbl-core to display the assets and omxplayer for videos etc, so the memory will vary a lot depending on your assets and the page load.. i think the memory issue is worse when it cant be swapped and oom-killer kills the browser but for some reason the viewer is not restarting the dead browser automatically which makes the screen either stuck

[2019-12-04 16:48] ealmonte32 commented on #1222
update:
zram modified too high (1.5x built-in memory) is not working well on the RPi 3...
it slows the pi to a crawl after some time.. and shows all these locked processes..

[2019-12-04 17:08] ealmonte32 commented on #1261
I am testing with lowering the swappiness because we would def be killing the SD card..

[2019-12-05 10:03] didiatworkz commented on #1275
Same problem here :/

[2019-12-05 10:08] rusko124 commented on #1275
@vpetersson Could you reverse https://github.com/Screenly/screenly-ose/commit/4f422eae402e7a956736609ea3abc0c6deb5d6a5 and re-open #1254 until we find a better solution, please?

[2019-12-05 11:08] escoand commented on #1178
Are there already plans to integrate this? What's the best way to do so?

I would say the most flexible and powerful way would be to have some kind of special asset for `screen off` which could be scheduled on week days and time. This would be simple for non-experienced users to configure.

Btu in the meanwhile how to add a cronjob in a simple way?

[2019-12-05 14:46] vpetersson commented on #1178
I'm not too keen on this approach to be honest.

Depends on how you're running it. If you're using the disk image, just doing `crontab -e` should allow you to add the cronjob.

[2019-12-05 14:51] ealmonte32 commented on #1222
so testing development branch with load heavy sites like news.google.com and videos and google slides.. and without swap memory the browser just stops, this time instead of black screen it's white, if the viewer somehow knew it was in a "dead" or "failed" state itself, restarting the viewer fixes the issue and no need to reboot the Pi.. when swap is used, and all memory is allocated, the Pi functi

[2019-12-05 15:15] vpetersson commented on #1222
A white screens means that UZBL started, but for whatever reason, `viewer.py` was unable to instruct UZBL to switch to the default black screen. This is likely because there is no more memory available.

So taking a step back, it's likely that because we've now added more components (celery, rabbit/redis), we are now running out of memory.  My gut feeling tells me that this is either redis or rabb

[2019-12-05 15:23] escoand commented on #1178
Yes, off course. I'm using balena-cloud.

[2019-12-05 15:27] vpetersson commented on #1178
That complicate things. You can't really use a regular cronjob (easily) on Balena. You'd have to wait (or contribute) the code required to do this as a celery task.

[2019-12-05 15:40] vpetersson commented on #1275
@rusko124 should we really revert a security fix instead of fixing the issue?

[2019-12-05 15:44] didiatworkz commented on #1275
Hi,
i think yes.. When it make product not usable...
Or fix the security fix ;)

[2019-12-05 15:45] vpetersson commented on #1275
I really don't like the idea of reverting the security fix.

[2019-12-05 15:49] didiatworkz commented on #1275
Ok, but why do you escape URLs?
The problem is, that the GET Parameter have no function after that.

[2019-12-05 15:50] vpetersson commented on #1275
I am pretty sure that it had something to do with UZBL or it's interface.

[2019-12-05 19:15] didiatworkz commented on #1275
In my opinion, it's an interface problem. - It should also have priority number 1, because URL assets are currently not usable!
Today I put on seven players which all have the problem :(
So please don't do it first in Sprint 12 (upcoming) ;)

[2019-12-05 23:47] developer-bit-2020 commented on #1193
I had the same issue where my Screenly set up on Rpi with Balena Cloud would not play any of the H264 or normal videos.

This is what I tried to fix it:

Adjust the GPU memory of your Raspberry Pi in order to optimize content playback.
To do this, click the “Fleet Configuration” tab on the left-side menu on the balenaCloud interface. On the Fleet Configuration menu, scroll down to find the RESIN_H

[2019-12-09 09:26] Andr3wid commented on #1200
Bump. Any update on this ?

[2019-12-10 17:31] hostheimer opened #1276 "Raspberry Pi still to weak to View Live-YouTube Camera streams?"
#### Overview of the Issue

More and more camera's viewing live streams via YouTube.
For example: https://www.youtube.com/watch?v=CByh5BIdgik

Is Screenly/Raspberry Pi 3B still  not able to view this is the performance of the newer Raspberry PI's still to low?
Is there maybe a work arround to view this kind of video streams?

#### Reproduction Steps

n/a

### Environment

* Screenly OSE Version: S

[2019-12-10 17:34] vpetersson commented on #1276
I don't think that's supported, unless YouTube produces a pure h264 (or h265 for pi4) video feed.

[2019-12-10 21:06] sipsontm opened #1277 "Automatically load video if no connection instead of going to AP mode"
I just tested the Screenly OSE build and i was so impressed, it really works great. Congrats to all that put an effort to it.
We are building an Xmass display stand that has a fireplace. We've built the fireplace and put an lcd display (TV) in it that need to play a short fire burning video. - this helped a lot:

https://www.screenly.io/blog/2018/12/22/virtual-fireplace-raspberry-pi/

![WhatsApp I

[2019-12-11 09:13] vpetersson commented on #1277
Is there a fix for this to be able to boot and load the video automatically without internet connection?

This is expected. It's because if the Pi has no internet connection, it doesn't know what time it is. If it doesn't know what time it is, it doesn't know what to play.  The technical reason for this is because the Raspberry Pi lacks a Real Time Clock (RTC). This is why Screenly requires intern

[2019-12-11 09:13] #1277 closed

[2019-12-11 09:13] vpetersson commented on #1277
But also - great project! Would love to see some more photos.

[2019-12-11 11:30] sipsontm commented on #1277
vpetersson, thank you for your quick reply, it all makes sense now. Apparently, we now have to use 2 displays in the posm stand (one for the fireplace and one to display a video ad). I will be using 2 x RPI Zero W. I already got a portable wifi hotspot 4G from Huawei that we're going to use. Hope it all goes well. It will be displayed in Carrefour Hypermarket in Timisoara/Romania.

![WhatsApp Imag

[2019-12-11 14:10] #1236 closed

[2019-12-12 06:53] djmtc commented on #1277
Hi there @sipsontm! Daniel here with Screenly. I'm the guy who wrote the original article that you found helpful :) We'd love to do an case study on you deployment and get you more exposure with our audience. Can you reach out to dmountcastle@screenly.io and we can talk more about this? Happy holidays!!

[2019-12-13 22:58] tho-wa commented on #1238
Is there any fix right now?

[2019-12-14 11:29] vpetersson commented on #1238
Should have been fixed in master.

[2019-12-14 11:30] tho-wa commented on #1238
Still running in same issue.

[2019-12-15 21:31] sawdustlegend commented on #1261
Sorry about the delay. I will try and play with it this week and report back.

Thank you,
Steve

[2019-12-18 15:28] ACEDornback commented on #760
Same issue.
Latest OSE img.
Tried multiple devices.
Resetting pi each time.
Also tried creating fresh sd card each time.
Tried different wifi USB.
I can see the access point.
But incorrect password and then unable to connect after first wifi connect attempt and the SSID disappears.

Is there a default developer password that was used in creating/building the original image that we can try?

[2019-12-18 16:53] ACEDornback commented on #304
So I went through the 7 steps above.
I now see the connection with an nmcli connection show but device is listed as --
And I received an error on step 7 when I try to bring up the connection.

"Error: Connection activation failed: No suitable device found for this connection."

It is a USB wifi device that I used with previous Screenly versions as well as other Raspian and other OS on this same de

[2019-12-19 10:17] qudy2001 commented on #1200
I have the same problem, any work around here?

[2019-12-19 12:09] vpetersson commented on #304
Hard to say. We don't really do anything with regards to network drivers. If I'm not mistaken, some WiFi drivers (either due to lack in the driver or hardware) are unable to act as an access point. Perhaps that's it.

The easiest workaround is probably to manually configure the WiFi to get around this.

[2019-12-19 12:11] rasqal commented on #1275
I don't know if this will add anything to the discussion but I too recently ran into this problem. We have two instances of Screenly at work, both running in identical 3B pies. The one I set up was running **production@6c2c2fd** while the other one was running **master@[some other number I do not remember]**, the one running the production branch worked fine, but the master branch did not. We trie

[2019-12-19 16:23] ACEDornback commented on #304
I flashed with a previous version and it is working over wifi with a wifi USB.

[2019-12-19 20:25] ealmonte32 commented on #1222
@vpetersson
After much testing and trying to deal with the issue being the memory, to prove it, I tested by creating a script that runs chrome-browser like this:

[code]
Yes, bad, archaic, but simple and good for testing this rotation of assets in order to generate memory consumption... chrome-browser as we know is a huge memory hog on the Pi, and some of these assets are very memory consuming, wh

[2019-12-19 22:02] ealmonte32 commented on #1261
@sawdustlegend
to be honest, that will work for you temporarily, but it's best you hold off until this memory situation is resolved in some better workaround which doesnt involve zram since we are trying to solve it with the raspbian image being default because not everyone can go around installing zram and configuring it you know..
so i think once viktor or rusko answer about the idea of killing

[2019-12-22 16:20] didiatworkz commented on #1275
Hey @rasqal
I solved it by taking the source code from the release:
https://github.com/Screenly/screenly-ose/archive/0.18.2.zip

Or swap the server.py file from this: https://github.com/Screenly/screenly-ose/blob/b9a2e96c16fe19325cfe5fede15d6a4dd8519e60/server.py

Merry X-Mas
didiatworkz

[2019-12-23 14:57] budbach commented on #1259
Any update on this?

For now I'm reading:

1. Install https://www.raspberrypi.org/downloads/raspbian/ Raspbian Buster Lite
2. Run `bash <(curl -sL https://www.screenly.io/install-ose.sh)`
3. **Do not** select "experimental"

Any screenly ose *should* work on the pi4.  Do I need to twiddle with `Disabling the vc4-fkms-v3d overlay` still?

[2019-12-25 03:18] xhozt opened #1280 "readme link dead"
link to faq in Readme is dead https://support.screenly.io/hc/en-us/sections/202652366-Frequently-Asked-Questions-FAQ-

[2019-12-28 11:04] vpetersson commented on #1280
This is a known issue. We're overhauling the FAQ section.

[2019-12-29 16:53] vpetersson commented on #1222
I think we need to be a bit more intelligent than this. The most obvious way that I can think of is to use [cgroups](https://unix.stackexchange.com/a/125024) for this. What do you think?

[2019-12-29 17:23] vpetersson commented on #1259
@rusko124 could you comment on this?

[2019-12-30 02:35] rusko124 commented on #1259
Hey @budbach !

If you will use the development branch then you don't need

[2019-12-30 09:16] jeff-knurek commented on #1280
the links to the
* Live Demo
* QA Checklist
* API Docs

are also "dead"

[2019-12-31 15:47] justinkruit opened #1282 "Balena install error RPi4b"
### Overview of the Issue

When I'm trying to install Screenly on my Raspberry PI 4B 2gb it always ends with an error. I've tried both a release and the latest commits, but it still fails.

Build Overview:
[code]

Error from screenly-server (others have basically the same error)
[code]

#### Reproduction Steps

Follow the instructions of https://www.balena.io/blog/deploy-free-digital-signage-softw

[2020-01-02 10:15] vpetersson commented on #1282
Interesting. Looks like the `omxplayer` package is missing in that Docker image.  @rusko124 could you look into this when you have a moment?

[2020-01-02 14:01] vpetersson commented on #1238
@rusko124 can you see if you can reproduce this?

[2020-01-02 20:27] knapjongen opened #1283 "Static times for screen start and end times."
#511 ## Overview of the Issue

Our screens change every month with new monthly offers, however, the time ranges are always the same Start at 12 a.m. End at 12 a.m.  New screen start at the beginning of the next month at precisely the same time.  Currently, each screen requires a new date and time.  Is there a way to set a default.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Pre

[2020-01-02 20:33] knapjongen opened #1284 "Single image upload to replicate for multiple locations"
#### Overview of the Issue

We have 7 locations with 2 sets of screens  4 locations with 3 screens and 3 locations with 3 screens.  Each of the screens are the same for the 2 sets, i.e., each screen 1, 2 and 3 are the same for all 4 location, yet we have to upload image 1 to screen 1 at location 1 and then image 1 to screen 1 at location 2, etc.

Is it possible to load one image that will replicat

[2020-01-03 08:38] vpetersson commented on #1284
Hi @knapjongen. Thanks for reaching out.

You have two options:

* Program something that consumes the API to automate the process
* Switch to the commercial version that already supports this (see [this page](https://www.screenly.io/screenly-ose-vs-pro/) for a comparison)

[2020-01-03 08:38] #1284 closed

[2020-01-03 08:39] vpetersson commented on #1283
More sophisticated scheduling is currently reserved for the commercial version of Screenly. You can of course automate this yourself using the API, but it is not something that we have on the roadmap for OSE (unless someone contributes this code).

[2020-01-03 08:39] #1283 closed

[2020-01-03 20:03] knapjongen commented on #1283
Thank you for the clarification.

*Raymond Martherus*
Marketing

*e* raymond.martherus@lassens.com
*w* lassens.com

[image: Facebook]   [image: Twitter]   [image: Pinterest]   [image:
Instagram]   [image: Tumblr]
[image: Youtube]
562-444-8670

*Click here to for donation requests*
<https://docs.google.com/forms/d/e/1FAIpQLSeaZGcBGfD_LdqpCYakPcMDxphtmXK8SbvO46YphdOk8JFlFQ/viewform?usp=sf_link>

On

[2020-01-03 20:03] knapjongen commented on #1284
Thank you for your response.

*Raymond Martherus*
Marketing

*e* raymond.martherus@lassens.com
*w* lassens.com

[image: Facebook]   [image: Twitter]   [image: Pinterest]   [image:
Instagram]   [image: Tumblr]
[image: Youtube]
562-444-8670

*Click here to for donation requests*
<https://docs.google.com/forms/d/e/1FAIpQLSeaZGcBGfD_LdqpCYakPcMDxphtmXK8SbvO46YphdOk8JFlFQ/viewform?usp=sf_link>

On Fri,

[2020-01-04 15:39] EpicKris commented on #1282
Receiving the same error.

[2020-01-06 09:41] rusko124 commented on #1238
I'll investigate the issue in the next few days

[2020-01-08 10:34] iCodeOkay commented on #760
Ditto

[2020-01-10 10:15] rusko124 commented on #1238
The issue is reproducible for RPi4.
I suggest to close the current thread and continue the discussion here #1282.

On RPi3 everything works fine.
![image](https://user-images.githubusercontent.com/17593028/72145233-4906a400-33c4-11ea-8d24-7d1d2ebe3cd5.png)
![image](https://user-images.githubusercontent.com/17593028/72145286-63d91880-33c4-11ea-97b4-d4bcd1d51cec.png)

[2020-01-10 10:24] rusko124 commented on #1282
Rpi4 support is the main goal of this sprint.
I will work on this issue after #1239 merging.

But you can try edit `docker/Dockerfile.*.template` dockerfiles.
For example what you can do:
1. Delete libraspberrypi0.
2. Build UZBL in Dockerfile.viewer.template
[code]
Code above is just some thoughts about  building.

But I recommend choosing RPi3 or lower for now. Until the issue is resolved.

[2020-01-13 13:42] vpetersson commented on #1251
@rusko124 This one isn't complete. [docker-compose.yml](https://github.com/Screenly/screenly-ose/blob/master/docker-compose.yml) has a number of services, whereas [docker-compose.demo.yaml](https://github.com/Screenly/screenly-ose/blob/master/docker-compose.demo.yml) only has one.

[2020-01-13 13:43] vpetersson commented on #1280
* The Live Demo is a known issue. Basically the refactoring to the Docker model broke it (#1251).
* The QA Checklist appears to be broken due to the service used [Forgett](https://www.forgett.com/) has either been shut down or they have forgot to fix their SSL certificate
* API docs is a function of the demo site. It's easy to work around this, as the API docs is also exposed on any local instance

[2020-01-14 18:11] ealmonte32 opened #1289 "Container services not removed/purged after switching branches"
Went from Experimental to Master/Dev and noticed that container service was still running and packages were still installed.

![image](https://user-images.githubusercontent.com/24350198/72369704-a5bcd400-36ce-11ea-8912-9e7e8c1b3dc9.png)

I also noticed that the experimental `install.sh` file does not contain the same script as the master and production, just wondering, this is by design/expected r

[2020-01-15 18:24] ealmonte32 commented on #1276
@hostheimer The RPI does seem to support it, see screenshot below, the problem is most likely the browser, I tested using the chromium-browser and RPi Model 3B+ Revision: 1.3:

Same pi running screenly, but for test environment I simply stop the screenly service and run the chromium-browser from terminal..

![image](https://user-images.githubusercontent.com/24350198/72459984-efbebc00-3799-11ea-8fa

[2020-01-15 18:26] ealmonte32 commented on #1276
@vpetersson  I forgot to say, I am running into the character encoding issue? for youtube videos:

![image](https://user-images.githubusercontent.com/24350198/72460317-92773a80-379a-11ea-9164-99a5ce2f7a26.png)

[2020-01-16 08:11] vpetersson commented on #1276
Judging by the screenshot, that's a live stream. That will not work. We can only download non-streams (for obvious reasons). The only live streams that we can support are RTSP feeds (see [here](https://www.screenly.io/blog/2017/07/05/screenly-ose-0-10-is-out/)). To my knowledge, YouTube does not support this format.

[2020-01-16 15:43] securitygeneration commented on #506
I'm surprised this was closed and the feature disregarded. This is literally one of the main features I'm looking for in a dashboard solution. I currently do this using Chrome and the simply scrolling extension - and it simply scrolls down the page at a slow pace, but allows the user to see all of the data on it. This is essential when trying to display information from a dashboard that doesn't fi

[2020-01-16 18:41] tariqinaam commented on #1282
I tried above suggested solution, but i get diff error now
`Package webkit2gtk-4.0 was not found in the pkg-config search path.`

I am not sure if I need to replace the existing apt command from Dockerfile.viewer.template
here is my Dockerfile.viewer.template

`FROM balenalib/%%BALENA_MACHINE_NAME%%-debian:jessie

RUN apt -y update && apt -y install \
      make \
      pkg-config \
      gcc \

[2020-01-17 09:56] vpetersson commented on #1282
@rusko124 can you take a look at this?

[2020-01-17 09:58] vpetersson commented on #506
IMHO this is something that should be fixed in the dashboard. It should render to 1920x1080 (like most proper dashboard software does). Most tooling (such as Grafana) allows you to create multiple views (each optimized for the playback resolution). The players job is to toggle through a set of assets that renders properly.

[2020-01-17 10:51] justinkruit opened #1291 "Can't remove over-scan"
#### Overview of the Issue

I try to display a full HD image on my full HD monitor, using a Raspberry PI 3b+ and Balena. No matter what I try, the overscan doesn't get removed. Videos display fine. I've tried adding RESIN_HOST_CONFIG_overscan_* values to the device settings in Balena and rebooted it, but the image still isn't full screen. Also tried uploading an image bigger than full HD, but that

[2020-01-17 11:04] vpetersson commented on #1291
Maybe a silly question, but is the image 1920x1080?

[2020-01-17 11:12] justinkruit commented on #1291
Yes it was. But I also figured it out already (of course just when you make the issue :D).

I set the `RESIN_HOST_CONFIG_disable_overscan` setting to `1`, and now it's all working fine!

[2020-01-17 11:12] #1291 closed

[2020-01-17 21:13] #1232 closed

[2020-01-17 21:13] #1253 closed

[2020-01-17 21:13] #1032 closed

[2020-01-17 21:13] #1092 closed

[2020-01-17 21:13] #1093 closed

[2020-01-20 15:47] nkle commented on #1164
Thank you so much! This worked perfectly for me.

[2020-01-21 22:37] ealmonte32 commented on #1222
Yes, cgroups looks like the perfect tool for this.
Will do some tests and see how it goes.

[2020-01-22 08:37] thefyfy opened #1292 "Specific web url doesn't show up since last week"
#### Overview of the Issue

Since last week, all URL from klipfolio.com doesn't show correctly with Screenly whereas they are ok on PC. I want your help, if it's possible, to know how to debug that case on Screenly and find what can cause this on the web page.

#### Reproduction Steps

I give you one of our URL to test if you want on your side : https://app.klipfolio.com/published/e291c9d0f54a9132

[2020-01-22 10:52] vpetersson commented on #1292
@thefyfy - There must have been some changes upstream with Klipfolio as we didn't make any changes on our end.

I know @rusko124 is working on fixing up the experimental browser, and we hope to have an update in the near future for this.

[2020-01-22 11:08] Andr3wid commented on #1200
Saw that "Make the experimental browser the default browser" in sprint 11is marked as done. Does that impact this issue @vpetersson? Anything new to try on our side ? I'm still interested in this issue.

[2020-01-22 11:10] vpetersson commented on #1200
@Andr3wid Yes that will hopefully solve most browser rendering issues. Feel free to switch to the experimental branch and provide feedback.

[2020-01-22 12:18] vpetersson commented on #1292
Also @thefyfy I had one of our engineers for the commercial version verify that that web page does work there, so if you need to get it to work right away, that's the best path forward. If not, we will be working on it in the near future.

[2020-01-22 16:21] thefyfy commented on #1292
Ok thanks for replying me. Just to know, the experimental browser is working on webkit isn't it ?
For the commercial way, why not, is it possible to pay for "one shot" support ?

[2020-01-22 16:30] vpetersson commented on #1292
Yes, the current experimental branch is using webkit.

The commercial version is a completely different version and does not share code base (see [this page](https://www.screenly.io/screenly-ose-vs-pro/) for details). Hence it's an entirely different product, but support is included.

[2020-01-22 17:43] thefyfy commented on #1292
Ok and just to be sure: your engineer test my web page on commercial version and it worked fine? Or it's just a new way to explore for me ?

[2020-01-22 17:54] vpetersson commented on #1292
Yes, we tested this earlier today and it appears to be rendering fine:
![Photo](https://user-images.githubusercontent.com/357664/72919910-31bea380-3d40-11ea-851e-93f3b971fd25.jpg)

[2020-01-22 18:17] thefyfy commented on #1292
Ok cool, I'm going to explore this way if we want to go fast on the resolution of this problem.

[2020-01-23 09:50] vpetersson commented on #1282
@rusko124 just FYI from Balena:

[2020-01-23 14:28] #1276 closed

[2020-01-24 11:41] ruben-herold opened #1293 "Grafana failed to load data"
hi,

we have here some screenly OSE systems to show grafana dashboards. After the last grafana update we get an error on loading the dashboards:

prometheus-src plugin failed
Error: Loading chunk 44 failed. (missing:
https://grafanaserver.local/public/build/prometheusPlugin.<some hex vaules>.js)

with normal desktop browsers we don't see any problems.

[2020-01-24 11:47] vpetersson commented on #1293
Could you try switching to the experimental version to see if that works?

[2020-01-24 11:49] ruben-herold commented on #1293
@vpetersson is there an image downloadable?
My last test was with: https://github.com/Screenly/screenly-ose/releases/download/0.18.2/2019-09-25-Screenly-OSE.zip

[2020-01-24 11:51] vpetersson commented on #1293
No, you need to manually install it using the [installer](https://github.com/Screenly/screenly-ose#installing-on-raspbian). That said, you can still use that as the base image.

Alternatively, you could try the commercial version of Screenly, which is known to work with Grafana (see [this page](https://www.screenly.io/screenly-ose-vs-pro/) for details).

[2020-01-24 11:56] ruben-herold commented on #1293
what I have done no was:

Settings --> Upgrade Screenly --> Latest.

after this reboot. But nothing changed.

[2020-01-24 12:05] ruben-herold commented on #1293
@vpetersson version shows now

Screenly Version | master@55e9f9f
-- | --

[2020-01-24 12:10] vpetersson commented on #1293
No, you need to SSH into the Pi, run the upgrade script and answer yes to the question if you want to run the experimental version.

[2020-01-24 13:05] ruben-herold commented on #1293
@vpetersson tried this. After reboot the pi hangs now in rc-local.service. I can access the new webinterface but no browser on the screen only the Screenly Logo with rc-local.service on it.

[2020-01-24 13:36] vpetersson commented on #1293
Can you SSH in an get some logs?

[2020-01-24 13:47] ruben-herold commented on #1293
@vpetersson no cause card already new flashed with an  Raspbian Lite. Its updating in the moment, after this I will try again.

[2020-01-24 14:18] ruben-herold commented on #1293
@vpetersson first try with Raspbian Lite. failed:

  Booted it,
  logged in ,
  update system,
  start your script.

Ended in a error message installing docker-ce
![20200124_150535](https://user-images.githubusercontent.com/1569572/73075593-93a41800-3ebc-11ea-8831-224dc7376b5a.jpg)

Now I will try again via ssh.

[2020-01-24 14:44] ruben-herold commented on #1293
@vpetersson got it running now. But same error.

[2020-01-24 14:54] ruben-herold commented on #1293
@vpetersson on my desktop all grafana stuff runs fine with firefox, chromium, google chome, and even with midori (small webkit based browser)

[2020-01-24 16:16] vpetersson commented on #1293
What Raspberry Pi hardware are you running on?

[2020-01-25 03:24] nqtech opened #1294 "oot"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

A paragraph or two about the issue you're experiencing.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press Add Asset
* Enter the Asset URL ...
* Press "On"
* Wait for the asset to show up on the screen

### Environment

* Raspberry

[2020-01-25 03:27] #1294 closed

[2020-01-27 14:30] ruben-herold commented on #1293
@vpetersson Raspberry Pi 3 Model B V1.2

[2020-01-27 17:48] vpetersson commented on #1293
Please take a look at #1282 to see if that helps.

[2020-01-27 18:22] ruben-herold commented on #1293
@vpetersson I'm not sure if we talk about different stuff.  I got experimental running, please see above. If I understand #1282 right it's about an install problem.

But on experimental I get the same error like on current.  The browser in experimental also said:

prometheus-src plugin failed
Error: Loading chunk 44 failed. (missing:
https://grafanaserver.local/public/build/prometheusPlugin..js)

[2020-01-28 09:55] goll420 opened #1295 "Image using same mac address"
#### Overview of the Issue

Image uses same MAC address.

#### Reproduction Steps

Steps to reproduce this issue, eg:

When using in an environment which limits traffic on the network via mac address, we had 2 Pis flashed with same image. As it transpired they both have the same mac addresses for wifi. Is there a way to change the mac address of the wifi adaptor?

### Environment

* Raspberry Pi H

[2020-01-28 09:57] vpetersson commented on #1295
That should in theory be impossible. The MAC address part of the network hardware. It's not something that is set in the disk image. If the MAC address is the same on two devices on a network, that will have severe implications on a large number of things.

There are ways to change the MAC address, but I'd start by looking into this to ensure it is the actual case. You can use `ipconfig` or `ip` a

[2020-01-28 09:59] goll420 commented on #1295
I did think it would also be impossible, but my guy on site is telling me he can't add the 2nd pi as the MAC address is the same. He's bringing it back for me to look at further but wondered if it was a known issue; I can tell from your response that it isn't though.

[2020-01-28 10:01] vpetersson commented on #1295
Yeah it should in theory be impossible. Perhaps there is some really strange edge case. Please do look into this as I'm curious to see what you find.

[2020-01-28 11:14] goll420 commented on #1295
Got the 2nd Pi back to headquarters. Got this from DHCP and also in the Screenly settings.

![image](https://user-images.githubusercontent.com/6523595/73259288-5f33a300-41bf-11ea-9eb6-18d173500086.png)

[2020-01-28 11:15] goll420 commented on #1295
MAC Address | b8:27:eb:12:d0:99

[2020-01-28 11:21] goll420 commented on #1295
Oh, this looks like a newbie mistake by my guy.... Sorry for wasting any time. A simple case of picking up the wrong pi mistaking it for the other....

[2020-01-28 11:57] vpetersson commented on #1295
Haha, all good :)

[2020-01-28 11:57] #1295 closed

[2020-01-29 09:57] equinoxefr commented on #1293
Hi,

Same issue here, i'm running experimental version with grafana. Since last version (6.6.0) of grafana i have an error: "An unexpected error as happened"

Opening a grafana screen without any graph works.

Is there a log to check ?

[2020-01-29 12:47] ruben-herold commented on #1293
Yes the same her with 6.6.0 with 6.5 I get the error above.

[2020-01-31 09:26] iCodeOkay commented on #760
Just wanted to add that I had this issue with a Raspberry Pi Zero-W. Have the same issue with a Raspberry Pi 3

[2020-02-02 14:52] #1240 closed

[2020-02-03 13:02] #1258 closed

[2020-02-04 08:04] lajtmaN commented on #1259
When will the experimental browser support the RPi 4?
There are multiple pages I want to show on my dashboards which is not supported by the old browser.

[2020-02-04 20:38] netgifted opened #1296 "Password issues I cannot connect to WiFi"
I tried different Raspberry pi devices, I can't pass by the password it always says I enetered an incorrect password, after 10 attempts and flashing multiple cards I gave up. Is there any way I can manualy insert the WiFi password?

### Environment

* Raspberry Pi Hardware Version: 3b and 2b
* Screenly OSE Version: 10

[2020-02-05 03:56] rusko124 commented on #1289
Good found @ealmonte32 ! In current sprint we are working on migration experimental(with docker) browser to master. But If you have a time, It would be great if you create cleanup tasks for ansible.

[2020-02-05 06:57] rusko124 commented on #1251
@vpetersson got it.
So then we need to update https://hub.docker.com/r/screenly/screenly-ose-websocket to latest
and also need to create `screenly-celery` image

[2020-02-05 08:55] vpetersson commented on #1296
Hi @netgifted - We've now upgraded to a new release of the network tool.  Could you try to upgrade to the latest development release?

[2020-02-05 09:06] vpetersson commented on #760
@iCodeOkay Could you try upgrading to the latest development version to see if that solves the issue? We've upgraded the component that deals with this.

[2020-02-05 09:40] netgifted commented on #1296
Thanks a lot, just to be sure... at https://github.com/screenly/screenly-ose/releases the latest release is still showing 2019. what is the right image download? thanks

[2020-02-05 11:38] vpetersson commented on #1296
No, you need to run the installation script as outlined under [Install Screenly OSE](https://www.screenly.io/ose/).

[2020-02-05 16:37] netgifted commented on #1296
After spending all morning and 3 attempts to install I finally gave up. There are always errors on the Python installation due to deprecation of 2.7 at the end of install after reboot it always goes to login. Thank you for your help I'll look into Screenly in a 1 year or so, this is too buggy for me and though I'm persistent I don't have much time to waste. Thank a  lot once again :)

[2020-02-05 17:52] vpetersson commented on #1296
Were you able to resolve the issue, @netgifted?

[2020-02-05 17:53] ruben-herold commented on #1293
any news here?

[2020-02-05 18:46] netgifted commented on #1296
No I wasn't I tried still to install Raspbian instead of Raspbian Lite. I installed Python and upgraded all as I run `bash <(curl -sL https://www.screenly.io/install-ose.sh)` the script produces python deprected errors, when it gets to the end and I reboot Screenly doesn't start. I spent 5 hours on this...

[2020-02-07 11:05] varac commented on #1293
I just installed latest screenly-ose release then the *only* use case for me is to show grafana dashboards, which won't work for me neither.
Hearing the the paid version supports grafana makes me sad because this shows that the ose version doesn't get the support it should. Please fix this ! As @ruben-herold explained above, my grafana dashboards display fine with any browser I tried so far and on

[2020-02-07 11:06] varac commented on #1293
I'm using grafana v6.6.0 (5c11bbdfb4) for the record.

[2020-02-10 17:20] vpetersson commented on #1259
I think some more work is required for that @lajtmaN.

[2020-02-10 17:27] vpetersson commented on #1293
We're happy to accept contributions. The reality is that the commercial version of Screenly is what enable us to spending money on paid developers to OSE in the first place. So yes, it will always take precedence.

[2020-02-10 19:03] ruben-herold commented on #1293
@vpetersson is it possible to get a build that starts the browser with enabled  js console or something, so that the error can logged to see whats going wrong.

[2020-02-10 19:49] vpetersson commented on #1293
@ruben-herold I'd have to pass that on to @rusko124 as he worked most recently on it. But yes, i think that should be possible.

[2020-02-11 23:31] aptonline opened #1300 "Persistent Data for Dockerized Development Environment"
I've setup the Dockerized Development Environment and all working well but wanted to know if its possible to keep the data/assets/settings persistent over sessions.

I've adding `-v ~/Desktop/assets:/home/pi/screenly_assets` to mount the assets and this is working but the server is not accessing the saved assets between re-runs on the docker container.

Any help would be grateful.

[2020-02-13 13:28] vpetersson commented on #1300
You'd also need to volume mount the database. The root directory is `/home/pi/screenly` as you can see [here](https://github.com/Screenly/screenly-ose/blob/master/bin/install.sh#L161), so you might want to simply volume mount all of that.

[2020-02-13 17:11] aptonline commented on #1300
Thanks but is that not what I’m doing with the above parameter addition?

[2020-02-14 10:30] NebojsaIlicRookie opened #1301 "Image assets do not display"
Greetings,

I have a mistery to solve with Screenly. When i etch the SD card and boot my Pi, everything works well. The system itself works good. I can access the editor, i can see the default widgets when i first boot it. I see the IP.
BUT, when i start adding assets through the editor, i load in a webpage and this works perfect. As soon as i add a JPEG (exactly the same file that worked before),

[2020-02-16 03:23] frijhee commented on #1301
Is it possible that your JPEG asset was somehow corrupted during the upload/enable process?
Have you checked the integrity of your files in the /home/pi/screenly_assets/ folder? A quick way to see if your JPEG file(s) are recognized as JPEGs would be to run the command:
"file *" in the screenly_assets folder.

I'm not sure if this will help, but IF your image file isn't corrupted, you should be ab

[2020-02-18 09:37] NebojsaIlicRookie commented on #1301
Thanks for the reply and the interest.

So I accidentally stumbled upon the root of the problem in the meantime.
While I was playing around with the settings, I uploaded a screenshot as a filler, along with the JPEGs in question, and the screenshot would display perfectly fine.
So I backtracked, and it turns out that the JPEGs are fine (not corrupted) but either the screenly app or the rasp Pi has

[2020-02-18 09:37] #1301 closed

[2020-02-18 18:21] jallen2281 commented on #1282
Hello, Same issue here as well. Has there been any progress on this? It's over a month old now.

[2020-02-19 10:25] vpetersson commented on #1300
Yes, the the `-v` option is for volume mounting the file system into the container. See [the man page](https://docs.docker.com/engine/reference/run/#volume-shared-filesystems) for more details.

[2020-02-19 11:13] nosyminotaur opened #1302 "omxplayer timed out"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue
Using Screenly with Balena, but keep getting
`omxplayer timed out` issues. The video stops responding after a few seconds and then stops abruptly and plays the next one.
It looks as if the device is very slow or something.

A paragraph or two about the

[2020-02-19 11:52] vpetersson commented on #1302
These strange errors are often related to broken SD cards. Try swapping it out for a new one.

[2020-02-19 15:13] vpetersson opened #1303 "Create contributing guideline"
We need to add a [contributor guideline](https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors) to the project.

[2020-02-20 13:20] nosyminotaur commented on #1302
I am using this micro SD card along with my Pi ->
https://www.amazon.in/SanDisk-Ultra-microSD-Adapter-SDSQUAR-016G-GN6MA/dp/B073K14CVB/
I bought this thinking this was of high quality. Should I replace this?

[2020-02-20 13:43] vpetersson commented on #1302
Nothing wrong with SanDisk, but SD cards got a limited lifespan. This life span depends on the amount of writes. Sometimes they last for months, sometimes years.

[2020-02-20 17:50] beemeeup commented on #1275
I did an update in my screenly raspberry...
Problem is still there.

Will this be fixed?

[2020-02-21 01:44] ealmonte32 commented on #1302
@nosyminotaur can you tell us more about the assets? without this video, does screenly work fine? are youtube videos/URLs fine? is any other video working fine? how large is the video file you are uploading?

the more details you can give, the better we can isolate what the cause might be.. I have the same SD card you showed..

[2020-02-21 01:53] ealmonte32 commented on #1296
@vpetersson I also experienced these wifi "wrong password" issues with 2019 image and resin, but after 3 attempts it lets you in, very weird.. also, a while ago (many months ago, probably an older image issue), I had to change the default locale and set wifi country before i was able to get the proper wifi connected..

@netgifted raspbian lite is better for screenly since it doesnt install all of

[2020-02-21 10:03] netgifted commented on #1296
thanks a lot! Iºll try this Raspbian image today

Tony Silveira
tony@netgifted.com (mailto:tony@netgifted.com)
http://lestudio.tv

On Feb 20 2020, at 8:53 pm, Emyll Almonte <notifications@github.com> wrote:

[2020-02-21 18:26] ealmonte32 commented on #1303
Just my opinion, I think the Atom one given on the example is really too much reading and too long, I like this simple and to the point example one:
https://github.com/rails/rails/blob/master/CONTRIBUTING.md

[2020-02-23 02:38] ftrofin opened #1306 "Large asset uploads result in orphaned files and no asset entry in database"
I've been trying to upload a large video file (3GB) and I'm consistently seeing this:

1. The file is uploaded successfully. I can see a new file in ~/screenly_assets with a name like
932cdb09ad0c4942b45bd5597b4ab0b3 (which tells me that the upload completed because it doesn't have the `.tmp` suffix).
2. there's no entry in the database file:
[code]

(those are the default assets for weather and c

[2020-02-23 03:27] ftrofin commented on #1306
I also want to mention that the upload transfer is abysmal: I get 1.5-2.5 MB/sec between the laptop and the Raspberry Pi running the Screenly server and they are both wired in (no wireless) into the same switch running at 1Gbps.

[2020-02-24 02:28] ealmonte32 commented on #1293
@ruben-herold , you can use VNC viewer and control the browser with mouse and get to inspect element (screenshots on bottom).. but, I just tested with a master version of screenly (development), and I get the site to load this:

![Screen Shot 2020-02-23 at 9 26 32 PM](https://user-images.githubusercontent.com/24350198/75125455-3352f280-5683-11ea-85ec-7b1aa6744c50.png)
![Screen Shot 2020-02-23 at 9

[2020-02-24 02:35] ealmonte32 commented on #1306
Hmm.. I believe this is a limit on apache and nothing to do with Pi or screenly, maybe you can change it and try again..

`To restricts the total size of the HTTP request body sent from the client use LimitRequestBody Directive. You can add this directive using .htaccess file or httpd.conf file under virtual host or directory configuration options. You can set value (in bytes) from 0 (unlimited) t

[2020-02-24 14:34] ruben-herold commented on #1293
I have done some testing and it happend only if I use prometheus as datasource.
Non Prometheus based databsources worked.

[2020-02-24 14:36] netgifted commented on #1296
I installed the image and ran
$ bash <(curl -sL https://www.screenly.io/install-ose.sh)
After reboot I am back at command prompt screenly doesn't start. I followed installation steps and there where no significant errors (python2.7 deprecation only)
Is there anything I can do? I've used screenly 2 years ago and liked it but it seams now impossible to run on my machines (Pi 2, 3 or 4)
Thanks

Tony

[2020-02-24 21:02] ealmonte32 commented on #1293
Ok, I see what you mean, these errors:

![image](https://user-images.githubusercontent.com/24350198/75189436-2afac600-571c-11ea-999a-e2096660c3be.png)

![image](https://user-images.githubusercontent.com/24350198/75190327-0f90ba80-571e-11ea-9231-369015b11cde.png)

Well.. this is as you know most likely the uzbl browser not supporting whatever plugin that is.

[2020-02-24 22:16] ealmonte32 commented on #1293
_Self-note: I am noticing that when I leave this asset open for unlimited time (only asset), Xorg (X.service) CPU usage spikes to 100%+ for undefined time, stays like that, and makes Pi hang.
Will need to use cpu limits on this._

[2020-02-24 23:40] #1261 closed

[2020-02-24 23:50] ealmonte32 commented on #1261
Note:
This PR (https://github.com/Screenly/screenly-ose/pull/1304) should solve this.
Will do more testing tonight just to confirm.

[2020-02-24 23:59] ealmonte32 commented on #1296
I am having a hard time figuring out what part of the installation you're doing differently then others for it not to work since these steps are working for everyone else, and I just tested as well.

Can you be a bit more specific, maybe post some screenshots of the steps you're taking when doing this?
Did you flash the SD card with the raspbian lite stretch image using Etcher?
When you inserted t

[2020-02-25 00:08] ealmonte32 commented on #1222
Waiting for rusko to review, but this PR (https://github.com/Screenly/screenly-ose/pull/1304 , along with the celery one) fixes this.
I would love for these users to try this and see how it works for them.

[2020-02-25 01:37] netgifted commented on #1296
I burn the card image with Etcher. I follow every step entering raspi-config Raspbian is working fine 100% I then install Screenly and at the end reboot. Raspbian starts and I get to the Username and Password prompt again. I tried this  several times (maybe 8 to 10 times) with different options not upgrading, upgrading, Managing Network with Raspbian, managing with Screenly, whatever I do I am bac

[2020-02-25 03:08] ealmonte32 commented on #1296
I'm really perplexed by your situation as I have not seen many users have such difficulty setting up a screenly raspberry pi environment. I have read Rpi4 users have some minor issues, but not on Pi2/3.

So if you take the screenly sprint 10 image https://github.com/Screenly/screenly-ose/releases/download/0.18.2/2019-09-25-Screenly-OSE.zip and burn it to SD card with etcher, and then insert into R

[2020-02-25 08:44] pelicanmedia opened #1307 "External monitoring"
Not an issue, more of a query...
I'd like to install Nagios on my Balena install to monitor uptime along with all my other external servers etc.
Out of the services installed (redis, screenly-celery, screenly-server, screenly-viewer & screenly-websocket) what would be the best one to install on that would be persistent on reboot?

Thanks

### Environment

* Raspberry Pi Hardware Version: Pi3 B
* S

[2020-02-25 09:53] vpetersson commented on #1307
Not sure  if you mean a Nagios server or just monitor it using Nagios. I would strongly discourage installing a Nagios server, as we're already operating on limited resources. If you're just looking to monitor the installation using Nagios, the easiest way is to monitor the webservice i presume.

[2020-02-25 13:28] Naesstrom opened #1308 "Settings removed from URL"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue
I'm trying to setup Screenly OSE with balena cloud but when I add a URL to a published Google Slide it removes all settings like loop, time etc. from the URL

#### Reproduction Steps

* Create a slide in Google Drive and go to File -> Publish to the we

[2020-02-25 13:53] ruben-herold commented on #1293
@ealmonte32  also it does not work in experimental. As far as I know that experimental don't use uzbl

[2020-02-25 14:12] pelicanmedia commented on #1307
Hi, sorry I meant just monitor it using Nagios. By installing the nagios-nrpe-server and nagios-plugins. Mainly to monitor uptime so I can see if/when there have been unplanned power disruptions.

[2020-02-25 14:15] vpetersson commented on #1307
Ah, ok. I'm not sure if it's pull or push (been ages since I touched Nagios). Regardless, I would recommend adding a new container that only has Nagios. Since Docker containers should be considered ephemeral, you can't just install it within an existing one.

[2020-02-25 14:22] pelicanmedia commented on #1307
Ok great, thanks for the quick response. Just wanted to check before I broke something!
I'll have a go at creating a new container.

[2020-02-25 15:50] jcsanchezrb opened #1309 "The screen displays the message: "Unable to load page. Problem ocurred while loading the URL""
Sometimes the screen displays the message:

Unable to load page. Problem occurred while loading the URL: http://xxxxxx.yyy.zzzzz/page.html

Could not connect: No route to host and a button with the text "Try again".

Obviously, I cannot click the button.

How could I do that it will automatically try to reload the page?

PD: I am using Screenly OSE in Balena.

[2020-02-25 17:12] netgifted commented on #1296
I was finally able to install Screenly on a Raspberry pi 3b The issue must be the USB WiFi on the other boards. Thank you for your help it was really appreciated. I was able to install with an image and yes I had to input the password 4 times :-)

[2020-02-25 17:12] #1296 closed

[2020-02-25 17:31] vpetersson commented on #1296
This is an interesting catch. So for the WiFi adapter to be able able to work for this, it needs to support[AP Mode](https://www.elinux.org/RPi_USB_Wi-Fi_Adapters). I'd think that most does, but there are likely adapters out there that doesn't support it, so it's a good thing to check for in the future when we encounter these things.

[2020-02-25 18:55] srops opened #1310 "Problem with USB Stick use"
Hello guys,

I need your help, please.

I connected my hard drive to the Rasperry Pi.
I installed the Screenly software on the Raperry.

Now I would like to play the images wich are on the hard drive.
But still have the ability to quickly change whether it should play folder 1 or folder 2.

Is this possible?

Best regards
Manuel

[2020-02-26 07:00] ealmonte32 commented on #1310
Did you click on Settings > USB assets > generate file ?
You have to set it up that way.

![Screen Shot 2020-02-26 at 12 49 56 AM](https://user-images.githubusercontent.com/24350198/75319687-2416a500-583b-11ea-9ec5-96599f3170c5.png)

[2020-02-26 08:57] vpetersson commented on #1310
@srops Doesn't sound like a good fit. It would be a lot easier if you simply uploaded the assets and scheduled them accordingly. That said, as @ealmonte32 correctly pointed out, you can play assets from the USB interface (assuming they are mounted correctly).

[2020-02-26 18:20] srops commented on #1310
Hmmm Okey I will check this @ealmonte32

I can’t upload 5000 pictures? @vpetersson

[2020-02-26 19:01] rchadgray commented on #1212
I started this migration to whiptail.  I am still testing the install.sh file.

I have done the fork correctly that you can get my edited file once i am happy with it?  I have not done much team development in GitHub.  I just wanted to check before i went any further with edits.

[2020-02-26 23:35] ealmonte32 commented on #1310
Well, as far as i know, if the total size (MB or GB) of all the pictures is available in the disk drive (SD card), then the sqlite database should be able to handle those entries (rows) without a problem.. remember, uploading the assets from your USB will then be saved into the raspberry pi, so make sure there is enough space.

[2020-02-27 00:00] ealmonte32 commented on #1293
Correct, it uses QT webview, and I think it just needs to be compiled with support for all these plugins.. maybe rusko can chime in about that..

[2020-02-27 08:51] vpetersson commented on #1310
Yep, there's no technical limitation in adding 5k pictures. It might not be the best user experience using the web interface, but you should in theory be able to do it (assuming the constraints that @ealmonte32 correctly points out).

[2020-02-27 08:53] vpetersson commented on #1212
Splendid. Thanks @rchadgray. Take a look at [these instructions](https://gist.github.com/Chaser324/ce0505fbed06b947d962) for a good crash course on how to collaborate on GitHub.

[2020-02-28 21:15] kn1gh7h4wk commented on #1282
Any progress made on this issue?

[2020-03-02 17:42] ealmonte32 commented on #1309
@jcsanchezrb
Assets that for whatever reason fail to load, (whether network related or not), should reload on the next cycle and try again (if your assets are on a scheduled cycle). Can you take a picture or screenshot and post it? How does your Screeenly Schedule Overview look like? Post the URL so that I can try it. When any of the assets I have fail to load, when the scheduled time passes, and

[2020-03-02 20:49] rchadgray opened #1314 "install.sh throwing error at Download upgrade_screenly.sh"
#### Overview of the Issue

While trying to use:
bash <(curl -sL https://www.screenly.io/install-ose.sh)

I ran into an error at this step:
TASK [screenly : Download upgrade_screenly.sh from github repository]

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: from_buffer() cannot return the address of the raw string within a str or unicode

[2020-03-02 20:51] rchadgray commented on #1314
Also while using the install.sh i used the default answers during installation.

Experimental Branch?  No
Development Brand? No
WoTT? No
Manage Network?  Yes
System upgrade? No

[2020-03-03 10:35] qbicdesign opened #1315 "Screenly won't sync time with NTP servers"
#### Overview of the Issue

Installed from custom image 25/11/2019, then upgraded to dev branch
NTP servers will not sync

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Install Screenly and set timezone in raspi-config
* edit /etc/systemd/timesyncd.conf entering your NTP server
* run systemctl status systemd-timesyncd.service
* raspberrypi systemd-timesyncd[1339]: Timed out waitin

[2020-03-03 10:45] vpetersson commented on #1315
I wouldn't call this a bug necessarily. It sounds like the NTP server is blocked. Using [htpdate](https://linux.die.net/man/8/htpdate) is a great way to circumvent situations where NTP is blocked, but in most environments it isn't.

[2020-03-03 10:45] #1315 closed

[2020-03-03 12:21] jcsanchezrb commented on #1309
Hi,

As you tell me, I hoped the performance that you define, but in that situation the only solution is reboot the device from Balena.

I want remind you I'm using Screenly OSE run on Balena (option 4 defined in https://www.screenly.io/ose/)

I attach a picture of the screen and also a screenshot of balena logs where you can see how the asset is tried to reload every 20 seconds.
![photo_2020-03-0

[2020-03-03 12:58] qbicdesign commented on #1315
In that case there's something in Raspbian configuration which is blocking NTP queries by default.
I queried the same NTP server from another (not raspberry) linux server and it responds correctly.
Can someone verify?

[2020-03-03 14:49] vpetersson commented on #1315
No, there shouldn't be, unless you've added a firewall or similar. I don't have a Pi readily available here, but my guess would be that it's something on your network. Many enterprise environments block NTP.

[2020-03-03 14:57] unique311 commented on #1164
Was a fix ever found for the gapless playback?
I gave the code above a shot .. but it won't play multiple assets automatically,.  It just loops one asset.

[2020-03-03 14:58] vpetersson commented on #1164
If you're talking about proper gap-less playback for videos, that will likely never happen, due to technical limitations in the software used. It is however something that we already support in the commercial version.

[2020-03-03 17:01] dig1talmad commented on #1314
Same issue here, also Pi 3 B+
Started with 2020-02-05-raspbian-buster-lite image
Ran update, upgrade and then Screenly OSE install
Experimental Branch? No
Development Brand? No
WoTT? No
Manage Network? No
System upgrade? No
Let me know if there's something I can provide to help diagnose.

[2020-03-03 17:17] rchadgray commented on #1314
It appears to be a bug in Ansible.

I found this, but i cannot say this is the bug that is happening when OSE uses Ansible.
https://github.com/ansible/ansible/issues/48790

[2020-03-03 19:30] ealmonte32 commented on #1314
Guys screenly-ose does is not yet compatible with Raspbian Buster, you need the Stretch version, here:

http://downloads.raspberrypi.org/raspbian_lite/images/raspbian_lite-2019-04-09/2019-04-08-raspbian-stretch-lite.zip

[2020-03-03 21:56] rchadgray commented on #1314
I am running stretch.

2019-04-08-raspbian-stretch-lite.img

[2020-03-04 00:23] ealmonte32 commented on #1314
Ok, so then that comment goes only for @dig1talmad

Now, about the error, I will try and reproduce your issue with the same raspbian lite image and production version as you selected.

[2020-03-04 12:57] hertell commented on #1314
I can confirm that with the same hardware (PI 3 B+), the stretch-build as mentioned abow by @ealmonte32 without any upgrades, i get the same error as @rchadgray reported..

[2020-03-04 14:34] rchadgray opened #1316 "Sprint 10 no longer works with my RTMP video streams"
Sprint 9 (2019-04-27-Screenly-OSE-lite.img) works with my NGINX based video stream:
rtmp://10.1.0.82/live

I just tried Sprint 10 (2019-09-25-Screenly-OSE-lite.img) and it does not work with my NGINX video stream.

I use OBS to stream to an NGINX service.  Then NGINX offers up the live stream as rtmp://<ip of NGINX>/live

VLC media player can view the stream off of NGINX.  So the stream is "Good".

[2020-03-04 14:41] rchadgray commented on #1316
ok... MAYBE i cannot reliably replicate it... strange.  I just put the Sprint 10 SD card in and i got the stream to work.

Let me test some more.  Sorry!  Just trying to help out!

Chad

[2020-03-04 15:30] rchadgray commented on #1316
Yes so far RTMP streams work on Sprint 10.  Sorry i jumped the gun.  Another friend of mine is having trouble getting it to work so when i saw Sprint 10 did not like the stream the first time i tried it i assumed it was a bug that he was running into. If there are log files on the Sprint 10 OSE that you want to see why the stream did not work the first time let me know.

[2020-03-04 15:36] jcsanchezrb commented on #1309
Additional information.

I'm testing now option 1, download the custom image (https://github.com/Screenly/screenly-ose/issues/1309) and I get the same error "Unable to load page", when I removed the network cable and then I plug it in again; Screenly is unable to reload the url again.

I realized that if I have another active assets, a video in my case, Screenly is able to load the url when I plug

[2020-03-04 17:49] ealmonte32 commented on #1316
@rchadgray

Just a suggestion, I'm sure you have your troubleshooting methods in order to try and isolate an issue, but things like checking to make sure every package is updated because remember sometimes a sprint 9 package included version 1.0 of package abcxyz, and sprint 10 included version 1.2, but maybe 1.2 introduced a bug that was recently fixed that no one else ran into because they didn'

[2020-03-05 02:41] ealmonte32 commented on #1314
Ok, I confirmed the issue, troubleshooting and will see if I find solution for this:

`runpy.run_module(mod_name='ansible.modules.net_tools.basics.get_url`

[2020-03-05 04:38] ealmonte32 commented on #1314
@rchadgray @hertell

Ok I was able to fix it, but need to do more tests on fresh raspbian installs to make sure that it is ansible.

[2020-03-05 11:22] hertell commented on #1314
@ealmonte32 The /usr/local/sbin directory exists in my rasbian, so it can't be the issue in my case.

I go now for a new try with master branch.

[2020-03-05 12:00] hertell commented on #1314
No joy.. i ansible ends with this error:

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: TypeError: from_buffer() cannot return the address of the raw string wit
hin a str or unicode object
fatal: [localhost]: FAILED! => {"changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"/root/.ansible/tmp/ansible-tmp-1583407858.86-7

[2020-03-05 14:42] rchadgray commented on #1314
I burned a new image of 2019-04-08-raspbian-stretch-lite.img and that folder does already exist.
/usr/local/sbin

I tried the master branch instead of production and it did say it was using
REPOSITORY=https://github.com/screenly/screenly-ose.git

It did install properly.  No errors.  I will try again with production and let you know.

Attached is my terminal log.
[OSE master branch.txt](https://gi

[2020-03-05 15:32] rchadgray commented on #1314
I burned a new image of 2019-04-08-raspbian-stretch-lite.img

THis time i used production.  It still said it was using production
sudo -u pi ansible localhost -m git -a 'repo=https://github.com/screenly/screenly-ose.git dest=/home/pi/screenly version=production

It did error.  Attached is the terminal log.
[OSE production branch.txt](https://github.com/Screenly/screenly-ose/files/4293723/OSE.produ

[2020-03-05 15:35] ealmonte32 commented on #1314
I was just about to write that I was going to do the same test.. burning fresh image of raspbian now to check why ansible is running into that error, something probably with a module version.. comparing both of your logs now during installation to check.

[2020-03-05 15:39] rchadgray commented on #1316
i am closing this..

[2020-03-05 15:39] #1316 closed

[2020-03-05 20:19] scharph commented on #1314
solved it for me [https://github.com/Screenly/screenly-ose/issues/1264#issuecomment-556974845](https://github.com/Screenly/screenly-ose/issues/1264#issuecomment-556974845)

[2020-03-05 20:57] ealmonte32 commented on #1314
@scharph doesnt make sense though, both installation methods are calling the same openssl version from requirements.txt.. actually.. I just checked, the problem might be openssl is not being called for install in the production requirements.txt , I will make PR for it , that should fix it.

[2020-03-05 21:57] ealmonte32 commented on #1314
I am testing with reinstalling using master branch requirements.txt

Ok, so, when I installed with the master requirements by downloading that requirements file using wget, installing first all those packages with sudo pip install -r requirements.txt, then the production installation was successful, when I then sudo pip uninstall pyopenssl, and ran the install script again, the issue arises.. so y

[2020-03-06 00:20] hertell commented on #1314
Yep, removing the OpenSSL-directory worked, and i got all installed and Screenly running. Tomorrow i will do a new fresh install, and report back how that went :-)

[2020-03-08 03:26] hertell commented on #1314
I did now a fresh install, and the setup of the development-branch completed succesfully! :-)

[2020-03-10 12:01] netweaver1970 commented on #1282
Any news on this issue?

[2020-03-10 12:06] vpetersson commented on #1282
We've had to reallocate some resources to the commercial version, but are looking to bring on a new developer in the near future.

[2020-03-10 21:11] hostheimer opened #1319 "Unable to play MPEG stream Sprint 10"
Since I've installed Sprint 10 the some video steams will not run.

#### Overview of the Issue

Since I've installed Sprint10 the .mjpg and .cgi  video streams stop running.

#### Reproduction Steps

Steps to reproduce this issue, eg:

* Press Add Asset
* Enter the Asset URL  http://213.4.39.225:81/mjpg/video.mjpg
* Press "On"
* Wait for the asset to show up on the screen

also url: http://88.26.2

[2020-03-11 03:38] viniciosbarros opened #1320 "Screenly crashing after reload some assets"
Screenly crashing after reload some assets

#### Overview of the Issue

[code]
#### Reproduction Steps

Steps to reproduce this issue

* Using Balena create a new application
* Clone screenly-se project
* Flash sd card
* Build and wait to upload
* Press Add Asset
* Wait for the asset to show up on the screen
* some assets will be shown and Screenly will crash

### Environment

* Raspberry Pi Hardw

[2020-03-13 14:53] jeff-knurek commented on #1280
* it seems like the FAQ link should be updated to: https://support.screenly.io/hc/en-us/categories/360002614653-FAQs
* yeah, QA Checklist location is obsolete - not sure if there's an alternative: https://twitter.com/rbstrachan/status/1136747590702252032/photo/1
* it looks like the API docs should point here: https://developer.screenlyapp.com/

[2020-03-13 19:01] ealmonte32 commented on #1320
@viniciosbarros
I can confirm I've seen that as well.
Can you confirm which version of the "sh" package you are using?
You can check with typing this from console: `pip freeze | grep sh`

[2020-03-13 21:01] ealmonte32 commented on #1319
@hostheimer
Works fine for me, which version of screenly-ose are you using?
Screenshots of my test below.

![Screen Shot 2020-03-13 at 5 00 42 PM](https://user-images.githubusercontent.com/24350198/76659252-4bb08180-654c-11ea-9211-cdb6ad39f77a.png)
![Screen Shot 2020-03-13 at 5 00 26 PM](https://user-images.githubusercontent.com/24350198/76659253-4bb08180-654c-11ea-8f88-10d6b59928b9.png)
![Screen

[2020-03-13 21:09] ealmonte32 commented on #1319
So I just realized, having a stream might be a problem/conflict if LimitCPU # of seconds is shorter than how long the stream asset is left "On" for because the uzbl-core process stays in "R" (Running) state for as long as the stream is on...
Conflict with this PR: https://github.com/Screenly/screenly-ose/pull/1304

[2020-03-13 21:14] ealmonte32 commented on #1309
I tried to load the URL you posted and I am getting error website doesnt exist.

[2020-03-13 21:17] ealmonte32 commented on #1308
@Naesstrom
This PR: https://github.com/Screenly/screenly-ose/pull/1321
will fix that issue, if you do not want to wait, take a look at the viewer.py file and edit it to add the `.replace(...)` code I added, and you would have it running properly after that (restart the viewer after editing the file).

[2020-03-14 14:47] jcsanchezrb commented on #1309
Hi Emyll,

That URL was an example. In fact, it's not a public server.

I think that the problem will be the same with any other URL.

Could you please try to test I describe in my previous comment and then give me your feedback?

[2020-03-17 10:46] #1238 closed

[2020-03-17 16:27] abrenoch commented on #1308
This is honestly ridiculous.

Ampersands in the URL will be converted.

So `http://www.test.com?param=1&param2=2`, as entered into the screenly asset URL, will save as `http://www.test.com?param=1&amp;param2=2`

Can we get a fix for this yesterday?

[2020-03-17 17:01] ealmonte32 commented on #1308
Can you verify you are running the latest viewer.py? try to `cat` the viewer.py file on your screenly-viewer service to see if the `.replace` has this line:

[code]

[2020-03-17 18:16] abrenoch commented on #1308
Thanks for the quick reply @ealmonte32

I can verify that line exists on line# 326:
`escaped_url = current_browser_url.replace('@', '\\@').replace('&amp;amp;', '\\&')`

I would be happy to try out any suggestions!

[2020-03-17 18:41] ealmonte32 commented on #1308
@abrenoch This is right now on your current screenly-viewer container?

[2020-03-17 18:48] abrenoch commented on #1308
That is correct

[2020-03-17 18:51] ealmonte32 commented on #1308
And was the asset URL deleted and then added again on this new version?

[2020-03-17 18:56] abrenoch commented on #1308
Do you mean when I tried to edit the asset @ealmonte32 ? I do not believe the asset URL can be modified after it is added, but it does update regardless - I can just click the edit button then save and it will exhibit that behavior.

Unless you meant something else?

[2020-03-17 19:10] ealmonte32 commented on #1308
Assets cannot be updated or edited, you basically update the name of the asset not the actual URL that was passed onto the viewer. (AFAIK)

Can you just test by deleting the asset and adding it again?

Meaning just create a new Asset and paste the URL as you normally would, and only test that asset.

[2020-03-17 19:16] abrenoch commented on #1308
Deleting then re-adding the same asset doesn't seem to have an effect:

adding:
![image](https://user-images.githubusercontent.com/2146139/76893044-106ec500-6862-11ea-8253-f1323140bb33.png)

added:
![image](https://user-images.githubusercontent.com/2146139/76893100-27151c00-6862-11ea-8690-5fe34ebc90f0.png)

editing:
![image](https://user-images.githubusercontent.com/2146139/76893137-37c59200-6862-